<ng-template #popupOptionsTemplate>
    <!--<div class="nav-active-border b-primary b-theme bottom">
        <ul class="nav nav-pills nav-sm nav-rounded">
            <li class="nav-item" (click)="openTab(tabs.workflow)"><a class="nav-link"
                                                                     [class.active]="tabs.workflow == activeTab">Workflow</a>
            </li>
            <li class="nav-item" (click)="openTab(tabs.process)"><a class="nav-link"
                                                                    [class.active]="tabs.process == activeTab">Process</a>
            </li>
            <li class="nav-item" (click)="openTab(tabs.task)"><a class="nav-link"
                                                                 [class.active]="tabs.task == activeTab">Task</a></li>
        </ul>
    </div>-->
</ng-template>
<div class="scrollable hover">
    <form class="d-flex flex-column flex">
        <!--<div class="float-right text-xs">
            <a href="javascript:void(0)" title="add sub process" class="btn btn-xs text-xs d-block"><i class="fa fa-plus pr-1"></i> Process </a>
        </div>-->
        <ul class="timeline" [class.timeline-center]="isCenterAlign">
            <li class="tl-header">
                <div class="btn btn-xs" data-toggle-class="timeline-center" data-target=".timeline">Default Workflow</div>
            </li>
            <ng-template [ngTemplateOutlet]="orgProcessTimelineTemplateRef"
                         [ngTemplateOutletContext]="{ list: processList }"></ng-template>
            <li class="tl-header">
                <div class="btn btn-sm white btn-rounded">End</div>
            </li>
        </ul>
        <loader [isLoading]="isLoading"></loader>
    </form>
</div>
<ng-template #orgProcessTimelineTemplateRef let-list="list">
    <li class="tl-item" *ngFor="let process  of list | sortBy:'asc': 'sortOrder'; let i = index" [class.tl-left]="(i%2 == 0)">
        <div class="tl-wrap b-info" style="float: none;">
            <!--<span class="tl-date text-muted"><i class="fa fa-green text-success">N/A</i></span>-->
            <div class="tl-content box-color b-a text-color block w-xl w-auto-xs mb-0">
                <span class="arrow b-white left pull-top hidden-left"></span>
                <span class="arrow b-white right pull-top visible-left"></span>
                <div style="position: relative;">
                    <div class="text-xs _500">{{process?.name}}</div>
                    <ng-template [ngTemplateOutlet]="processActionsTemplateRef"
                                 [ngTemplateOutletContext]="{ process: process, isParent: true }"></ng-template>
                </div>
                <ng-template [ngTemplateOutlet]="phasesTemplate"
                             [ngTemplateOutletContext]="{ phases: process.phases }"></ng-template>
                <!--<div>

                    <a class="text-primary collapsed">{{process?.name}}</a>
                    <div style="top: -35px; position: relative;">
                        <ng-template [ngTemplateOutlet]="processActionsTemplateRef"
                                     [ngTemplateOutletContext]="{ process: process, isParent: true }"></ng-template>
                    </div>

                </div>-->

                <ng-template [ngTemplateOutlet]="subProcessTemplateRef"
                             [ngTemplateOutletContext]="{ data: process }"></ng-template>
            </div>
        </div>
    </li>
</ng-template>
<ng-template #subProcessTemplateRef let-data="data">
    <div class="streamline streamline-xs streamline-dotted">
        <ng-template ngFor let-subProcess [ngForOf]="data?.childItems | sortBy:'asc': 'sortOrder'" let-i="index">
            <div class="sl-item b-info">
                <!--<div class="sl-icon">
                    <i class="fa fa-cogs"></i>
                </div>-->
                <div class="sl-content text-xs">
                    <div class="sl-author m-0">
                        {{subProcess.name}}
                        <a class="text-primary px-2" *ngIf="subProcess.description" [ngbPopover]="subProcess.description" placement="auto"
                           (mouseenter)="p.open()" #p="ngbPopover" (mouseleave)="p.close()">
                            <i class="fa fa-info-circle"></i>
                        </a>
                        <!--<small class="h-1x">{{subProcess.description}}</small>-->
                    </div>
                    <ng-template [ngTemplateOutlet]="processActionsTemplateRef"
                                 [ngTemplateOutletContext]="{ process: subProcess }"></ng-template>
                </div>
                <ng-template [ngTemplateOutlet]="phasesTemplate"
                             [ngTemplateOutletContext]="{ phases: subProcess.phases }"></ng-template>
                <!--<div class="sl-content" *ngIf="subProcess.tasks?.length">
                    <ng-template [ngTemplateOutlet]="taskTemplateRef"
                                 [ngTemplateOutletContext]="{ taskList: subProcess?.tasks }"></ng-template>
                </div>-->
            </div>
        </ng-template>
    </div>

</ng-template>

<ng-template #processActionsTemplateRef let-process="process" let-isParent="isParent">
    <div class="box-tool" style="top: 0px; right: -10px;">
        <ul class="nav nav-xs no-border">
            <!--<li class="nav-item text-xs mx-1">
                <div class="input-group b-a px-1">
                    <div class="px-1"><small class="text-xs text-muted">Phase</small></div>
                    <div class="input-group-prepend pr-1">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">{{process.processPhase?? '&#45;&#45;'}}</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <ng-template ngFor let-phase [ngForOf]="process.phases | sortBy:'asc': 'sortOrder'" let-i="index">
                                <a class="dropdown-item" (click)="onProcessPhasesChange(process, phase)" [class.active]="(process.processPhase == phase.name)">{{phase.name}}</a>
                            </ng-template>
                        </div>
                    </div>
                    <input type="date" class="md-input form-control no-border"
                           [value]="process.processPhaseOn"
                           (change)="onProcessPhaseDateChange(process, $event.target.value)"
                           style="height: 20px;">
                </div>
            </li>
            <li class="nav-item text-xs mx-1">
                <div class="input-group b-a px-1">
                    <div class="px-1"><small class="text-xs text-muted">Status</small></div>
                    <div class="input-group-append pl-1">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">{{process.manualStatus ?? '&#45;&#45;'}} </a>
                        <div class="dropdown-menu" x-placement="bottom-start"
                             style="position: absolute; transform: translate3d(1023px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <ng-template ngFor let-status [ngForOf]="lookup.phaseStatuses | sortBy:'asc': 'sortOrder'" let-i="index">
                                <a class="dropdown-item" (click)="onProcessStatusChange(process, status)" [class.active]="(process.manualStatus == status.name)">{{status.name}}</a>
                            </ng-template>
                        </div>
                    </div>
                    <input type="date" class="md-input form-control no-border"
                           [value]="process.manualStatusOn"
                           (change)="onManualStatusOnDateChange(process, $event.target.value)"
                           style="height: 20px;">
                </div>
            </li>-->
            <li class="nav-item">
                <a href="javascript:void(0)" title="edit process" class="btn btn-xs text-xs b-theme text-theme border-0"
                   (click)="editProcess(process)"><i class="fa fa-edit pr-1"></i> Process </a>
            </li>
        </ul>
    </div>
</ng-template>
<ng-template #actionTemplate></ng-template>

<ng-template #phasesTemplate let-phases="phases">
    <ul class="nav nav-xs no-border p-2" *ngIf="phases?.length">
        <ng-container *ngFor="let phase of phases; let i = index">
            <li class="nav-item text-xs theme  text-theme mx-1 b-a px-1"
                [style.backgroundColor]="phase.color" (click)="handlePhaseClick(phase)">
                {{phase.name}}
            </li>
        </ng-container>
    </ul>
</ng-template>

