<div class="d-flex flex">
    <div class="d-flex flex p-3">
        <form [formGroup]="customForm" class="d-flex flex-column flex">
            <div class="row row-sm">
                <div class="col-sm-6">
                    <div class="md-form-group">
                        <input class="md-input" formControlName="accountName" [ngClass]="{ 'is-invalid': submitted && f['accountName'].errors }">
                        <label>Account Name</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form-group">
                        <input class="md-input" formControlName="bankAccountNo" [ngClass]="{ 'is-invalid': submitted && f['bankAccountNo'].errors }">
                        <label>Account No</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="md-form-group">
                        <input class="md-input" formControlName="ifscCode" [ngClass]="{ 'is-invalid': submitted && f['ifscCode'].errors }">
                        <label>IFSC Code</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="md-form-group">
                        <input class="md-input" formControlName="micrCode" [ngClass]="{ 'is-invalid': submitted && f['micrCode'].errors }">
                        <label>MICR Code</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="md-form-group">
                        <input class="md-input" formControlName="branchName" [ngClass]="{ 'is-invalid': submitted && f['branchName'].errors }">
                        <label>Branch Name</label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="md-form-group">
                        <input class="md-input" formControlName="branchAddress" [ngClass]="{ 'is-invalid': submitted && f['branchAddress'].errors }">
                        <label>Address</label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="md-form-group">
                        <input class="md-input" formControlName="remark" [ngClass]="{ 'is-invalid': submitted && f['remark'].errors }">
                        <label>Remark</label>
                    </div>
                </div>
            </div>
            <ng-template #footerTemplate>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="button" (click)="onSubmit(customForm)" class="btn btn-sm primary m-2" [disabled]="!customForm.valid || submitted">
                            <i *ngIf="submitted" class='fa fa-circle-o-notch fa-spin'></i>
                            {{ submitted ? 'Submitting...' : actionType }}
                        </button>
                    </div>
                </div>
            </ng-template>
        </form>
    </div>
</div>