<div class="app-content box-shadow-0" role="main">
    <div class="content-main d-flex flex" id="content-main">
        <!--<div id="aside" class="app-aside fade box-shadow-x nav-expand white">
            <div class="sidenav modal-dialog dk white">
                <div class="flex hide-scroll">
                    <div class="scroll">
                        <div class="nav-stacked nav-active-theme">
                            <ul class="nav" *ngFor="let nav of navList">
                                <li *ngIf="nav?.key" class="nav-header hidden-folded">
                                    <span class="text-xs hidden-folded">{{nav.key  }}</span>
                                </li>
                                <li class="nav-item" *ngFor="let item of nav?.children" routerLinkActive="active">
                                    <a [routerLink]="item.routeTo" [fragment]="item.code">
                                        <span class="nav-icon"><i [class]="item?.icon"></i> </span>
                                        <span class="nav-text">{{item?.key  }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="w w-auto-xs light bg bg-auto-sm b-r">
            <div class="py-3">
                <div class="nav-active-border left b-primary">
                    <ul class="nav flex-column nav-sm" *ngFor="let nav of navList">
                        <li class="nav-header hidden-folded"><span class="nav-item px-1 text-muted" *ngIf="nav?.key">{{nav.key  }}</span></li>
                        <li class="nav-item" *ngFor="let item of nav?.children" routerLinkActive="active">
                            <a class="nav-link" [routerLink]="item.routeTo">{{item?.key  }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex flex">
            <div class="d-flex flex">
                <div class="d-flex flex-column flex">
                    <div class="navbar flex-nowrap white lt box-shadow">
                        <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none">
                            <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i></span>
                        </a>
                        <ng-template *ngTemplateOutlet="pageTitleTemplate"></ng-template>
                        <ng-template *ngTemplateOutlet="actionTemplate"></ng-template>
                    </div>
                    <router-outlet (activate)='onActivate($event)'></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
