<div class="d-flex flex">
  <div class="d-flex flex">
    <div class="d-flex flex-column flex p-3">
      <!--<div class="navbar flex-nowrap lt">
        <span class="text-md text-ellipsis flex">Hi</span>
        <a class="mr-1 d-md-none" data-pjax-state=""><span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span></a>
        <a class="btn btn-outline b-a mr-3 btn-sm no-shadow" (click)="showOrgSetting()"><i class="fa fa-fw fa-wrench"></i>Setting </a>
        <a class="btn btn-outline b-a mr-3 btn-sm no-shadow" (click)="onEdit()"><i class="fa fa-fw fa-edit"></i>Organization</a>
      </div>-->
      <div class="d-flex flex-column flex">
        <div class="flex flex-row">
          <div class="clearfix">
            <div class="row row-sm">
              <div class="col-sm-12">
                <!--<div class="nav-active-border b-theme nav-active-theme">
                  <ul class="nav">
                    <li class="nav-item"><a class="nav-link" [routerLink]="['info']" routerLinkActive="active">Info</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['document']" routerLinkActive="active">Documents</a>
                    </li>
                  </ul>
                </div>-->
                <div class="box-tool">
                  <ul class="nav nav-xs">
                    <li class="nav-item"><a class="nav-link"><i class="fa fa-fw fa-refresh"></i></a></li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Separated link</a></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <student-info [userId]="userId"></student-info>
              </div>
            </div>
            <student-address-guardian [userId]="userId"></student-address-guardian>
            <div class="row">
              <div class="col-12">
                <ng-container *ngIf="componentRef && componentRef.actionTemplate">
                  <ng-template *ngTemplateOutlet="componentRef.actionTemplate"></ng-template>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fade aside aside-sm" id="next-schedule-nav">
      <div class="d-flex flex-column w-xl b-r white modal-dialog">
        <div class="navbar box-shadow">
          <div class="input-group flex">
            <a class="btn btn-outline b-a mr-3 btn-sm no-shadow"><i class="fa fa-fw fa-plus"></i> What is next </a>
          </div>
        </div>
        <div class="scrollable hover">
          <div class="list inset">
            <div class="p-2 px-3 text-muted text-sm"></div>
          </div>
          <div class="no-result">
            <div class="p-4 text-center">No Results</div>
          </div>
        </div>
        <div class="p-3 mt-auto"><span class="text-sm text-muted"></span></div>
      </div>
    </div>
  </div>
</div>
