/* ======= PRICING ======= */

.new-pricing h2 {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  padding: 13px 0 !important;
}

.new-pricing .bg-red h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 13px 0 !important;
  color:#fff;
}
.new-pricing .bg-red h3 {
  color:#fff;
}
.new-pricing h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin-top: 7px;
  padding-bottom: 7px;
}

.new-pricing h2 {
  font-weight: 600;
  font-size: 30px;
}

.pricing-n2 {
  background: #fff;
}

.new-pricing .btn,
.new-pricing .navbar>li>a.btn {
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 12px 30px;
  margin: 10px 1px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.new-pricing .btn {
  border-radius: 30px;
}

/* btn-danger */

.new-pricing .btn.btn-danger {
  color: #FFFFFF;
  background-color: #f5633e;
  border-color: #f5633e;
  box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}

.new-pricing .btn.btn-danger {
  box-shadow: 0 14px 26px -12px rgba(244, 67, 54, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}

.new-pricing .btn.btn-danger:focus,
.new-pricing .btn.btn-danger:active,
.new-pricing .btn.btn-danger:hover {
  box-shadow: 0 0 0 -0 rgba(244, 67, 54, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}

/* btn-success */

.new-pricing .btn.btn-success {
  color: #FFFFFF;
  background-color: #4caf50;
  border-color: #4caf50;
  box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
}

.new-pricing .btn.btn-success:focus,
.new-pricing .btn.btn-success:active,
.new-pricing .btn.btn-success:hover {
  box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

/* btn-white */

.new-pricing .btn.btn-white {
  color: #3C4857;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.new-pricing .btn.btn-white:focus,
.new-pricing .btn.btn-white:active,
.new-pricing .btn.btn-white:hover {
  box-shadow: 0 14px 26px -12px rgba(255, 255, 255, 0.42), 0 4px 23px 0px rgba(255, 255, 255, 0.12), 0 8px 10px -5px rgba(255, 255, 255, 0.2)
}

.new-pricing .bs {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
  color: #444;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 9px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 9px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 9px -3px rgba(0, 0, 0, 0.5);
}

.new-pricing .bs.bs-background-img {
  /*background: url(images/pricing-bg-image.jpg) no-repeat center center;*/
  background-size: cover;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 1s;
}

.new-pricing .bs.bs-background-img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.new-pricing .bs-background-img,
.new-pricing .bs-background-img h1 small {
  color: #fff;
}

.bg-red {
  background-color: #f5633e !important;
}

.new-pricing .bg-red,
.new-pricing .bg-red h1 small {
  color: #fff;
}

.new-pricing .bs-background-img:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: bs;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 6px;
}

.new-pricing .pricing-n2 {
  text-align: center;
  position: relative;
  background-color: ##f7f7f7;
  border-top: 6px solid #f5633e;
}

.new-pricing .pricing-n2 .bs-caption {
  margin-top: 0px;
}

.new-pricing .pricing-n2 .cotent {
  padding: 15px;
  margin-bottom: 0px;
  z-index: 2;
  position: relative;
}

.new-pricing .pricing-n2 ul {
  list-style: none;
  padding: 0;
  margin: 10px auto;
}

.new-pricing .pricing-n2 ul li {
  text-align: center;
  padding: 12px 0;
}

.new-pricing .pricing-n2 ul:not(.nav-pills) li {
  border-bottom: 1px solid rgba(153, 153, 153, 0.1);
}

/* Pricing Table New / end */

/* new table */

/* pricing table */
.table-pricing {
  padding: 40px 0;
}
.table-pricing .default-title {
  padding-bottom: 35px;
}
.custab{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
  transition: 0.2s;
  border-radius: 15px;
}
.table>thead>tr>th {
  border-bottom: 0px;
  padding: 15px 13px 15px 40px;
  color: #fff;
  background: #f5633e
}
.table>tbody>tr>td {
  padding: 13px 13px 13px 40px;
  position: relative;
  top: 10px;
  border-top: 0;
  color: #7d828e;
}
.table .btn {
  position: relative;
  top: -10px;
  transition: .3s linear;
}
.table .btn>a {
  color: #5d6168;
}
.table .btn:hover {
  background: #f5633e !important;
  color: #fff !important;
}
.table>tbody>tr>td:first-child {
  color: #3e4c66;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background: #f6f6f6;
}
button.btn.button.btn-red.radius5.btn-sm {
  font-size: 12px;
  padding: 7px 11px !important;
}
/* pricing table */

/* toggle pricing */

.toggle,
.toggler {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.toggler {
  color: #ddd;
  transition: .2s;
  font-weight: bold;
}

.toggler--is-active {
  color: #f5633e;
}

.pricing-section .b {
  display: block;
}

.toggle {
  position: relative;
  width: 90px;
  height: 30px;
  border-radius: 100px;
  background-color: #f5633e;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

.check:checked~.switch {
  right: 2px;
  left: 57.5%;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.3);
  transition-property: left, right;
  transition-delay: .08s, 0s;
}

.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 57.5%;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.3);
  transition-property: left, right;
  transition-delay: 0s, .08s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.pricing-section {
  padding: 30px 0 60px 0;
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
}

.pricing-columns #pricing-chart,
.pricing-columns-both #pricing-chart {
  margin-top: 30px;
}

.pricing-columns #pricing-chart #smaller-plans,
.pricing-columns-both #pricing-chart #smaller-plans {
  display: block;
}

.pricing-columns #pricing-chart .plan,
.pricing-columns-both #pricing-chart .plan {
  background-color: #fff;
  position: relative;
  color: #4F2B44;
  padding: 14px;
  border-right: 1px solid #f0f0f0 !important;
  border-bottom: 1px solid #f0f0f0 !important;
  width: 100%;
  border-radius:10px;
}

.pricing-columns #pricing-chart .plan:first-child,
.pricing-columns-both #pricing-chart .plan:first-child {
  border-left: 1px solid #f0f0f0 !important;
}

.pricing-columns #pricing-chart .plan:before,
.pricing-columns-both #pricing-chart .plan:before {
  content: "";
  position: absolute;
  height: 5px;
  left: -0px;
  top: 0;
  background-color: #f5633e;
  width: 100%;
}

.pricing-columns .offer::before {
  height: 7px !important;
}

.pricing-columns #pricing-chart .plan .price,
.pricing-columns-both #pricing-chart .plan .price {
  font-size: 26px;
  text-align: left;
  width: 100%;
  margin-bottom: 35px;
  margin-top: 17px;
}

.pricing-columns #pricing-chart .plan .price .dollar,
.pricing-columns-both #pricing-chart .plan .price .dollar {
  top: -10px;
  letter-spacing: -1px;
  left: 3px;
}

.pricing-columns #pricing-chart .plan .price .amount,
.pricing-columns-both #pricing-chart .plan .price .amount {
  font-size: 30px;
  font-weight: 200;
}

#yearly .amount,
#yearly .slash,
#yearly .dollar,
#yearly .month {
  color: #f5633e;
}

.pricing-columns #pricing-chart .plan .price .slash,
.pricing-columns-both #pricing-chart .plan .price .slash {
  font-weight: 200;
  left: -2px;
}

.pricing-columns #pricing-chart .plan .price .month,
.pricing-columns-both #pricing-chart .plan .price .month {
  font-weight: 200;
  left: -7px;
}

.pricing-columns #pricing-chart .plan ul,
.pricing-columns-both #pricing-chart .plan ul {
  padding: 0 18px;
  margin-bottom: 40px;
}

.pricing-columns #pricing-chart .plan ul li,
.pricing-columns-both #pricing-chart .plan ul li {
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  margin-bottom: 20px;
  color: #777;
}

.pricing-columns .list1::before {
  color: #f5633e;
  padding-right: 10px;
  font-size: 15px;
  font-family: FontAwesome;
  content: "\f0a0 ";
}

.pricing-columns .list2::before {
  color: #f5633e;
  padding-right: 10px;
  font-size: 15px;
  font-family: FontAwesome;
  content: "\f2db";
}

.pricing-columns .list3::before {
  color: #f5633e;
  padding-right: 10px;
  font-size: 15px;
  font-family: FontAwesome;
  content: "\f135 ";
}

.pricing-columns .list4::before {
  color: #f5633e;
  padding-right: 10px;
  font-size: 15px;
  font-family: FontAwesome;
  content: "\f0ec";
}

.pricing-columns .list5::before {
  color: #f5633e;
  padding-right: 10px;
  font-size: 15px;
  font-family: FontAwesome;
  content: "\f1c0";
}

.pricing-columns .list6::before {
  color: #f5633e;
  padding-right: 10px;
  font-size: 15px;
  font-family: FontAwesome;
  content: "\f003";
}

.pricing-columns .list7::before {
  color: #f5633e;
  padding-right: 10px;
  font-size: 15px;
  font-family: FontAwesome;
  content: "\f0e4";
}

.pricing-columns .list8::before {
  color: #f5633e;
  padding-right: 10px;
  font-size: 15px;
  font-family: FontAwesome;
  content: "\f1cd";
}

.pricing-columns #pricing-chart .plan ul li span,
.pricing-columns-both #pricing-chart .plan ul li span {
  color: #9e9e9e;
  display: inline-block;
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
}

.pricing-columns #pricing-chart .plan a.sign-up,
.pricing-columns-both #pricing-chart .plan a.sign-up {
  width: 100%;
  padding: 7px 0;
  background-color: #f5f5f5;
  border: 0 solid #f5633e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  clear: left;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.pricing-columns #pricing-chart .plan a.sign-up:hover {
  background-color: #f57b5c !important;
  color: #fff;
}

.pricing-section .sign-up {
  padding: 17px 50px;
  text-transform: uppercase;
  background-color: #f5633e !important;
  letter-spacing: 0.1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
  white-space: pre;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
  opacity: 1;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
}

a.button.sign-up {
  font-weight: 600 !important;
}

.pricing-columns #pricing-chart .popular,
.pricing-columns-both #pricing-chart .popular {
  width: 274px;
  position: relative;
  top: -30px;
  background-color: white;
  margin-left: -2px;
  right: 0;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.pricing-columns #pricing-chart .popular:before,
.pricing-columns-both #pricing-chart .popular:before {
  width: 274px;
  background-color: #f5633e;
  height: 7px;
}

.pricing-columns #pricing-chart .popular a.sign-up,
.pricing-columns-both #pricing-chart .popular a.sign-up {
  background-color: #f5633e;
  border: none;
  color: #ffffff;
}

.pricing-columns #pricing-chart .popular .price .amount,
.pricing-columns-both #pricing-chart .popular .price .amount {
  font-size: 60px;
}

.bandwidth {
  display: block;
  color: #9e9e9e;
  font-size: 16px;
  position: absolute;
  right: 0;
  bottom: -90px;
}

.pricing-columns #pricing-chart .popular p.pop-plan,
.pricing-columns-both #pricing-chart .popular p.pop-plan {
  color: #454545;
  font-size: 16px;
  margin-bottom: 45px;
}

.pricing-columns #pricing-chart .popular .price,
.pricing-columns-both #pricing-chart .popular .price {
  margin-bottom: 0px;
}

.pricing-columns #pricing-chart .plan a.sign-up:hover,
.pricing-columns-both #pricing-chart .plan a.sign-up:hover {
  border: 0;
  color: #fff;
}

.hide {
  display: none;
}

/* default plans */

.default-plans {
  padding: 30px 0 60px 0;
}

.default-pricing {
  background-color: #f7f7f7;
}

.default-plans .default-title {
  padding: 0px 0 28px 0;
}

.pricingTable>.pricingContent>ul>li:before {
  content: "\f00c";
  font-family: FontAwesome;
  padding: 0 10px 0 0;
  color: #14cc10;
}

.pricingTable>.pricingContent>ul>.uncheck:before {
  content: "\f00d";
  font-family: FontAwesome;
  padding: 0 10px 0 0;
  color: #14cc10;
}

.pricingTable {
  text-align: center;
  background: #fff;
  border: 1px solid #f5f5f5;
  padding-top: 0px;
  border-radius: 8px;
  transition: 300ms ease-in-out;
  box-shadow:  0 0 30px rgba(0, 0, 0, 0.06);
}

.pricingTable:hover {
  -webkit-box-shadow: 0px 10px 78px -24px rgba(0, 0, 0, 0.40);
  box-shadow: 0px 10px 78px -24px rgba(0, 0, 0, 0.40);
}

.pricingTable>.pricingTable-header {
  color: #fff;
  height: 170px;
  background-color: #252e3f;
  position: relative;
}

.pricingTable-header>.heading {
  display: block;
  padding: 8px 0;
  background-color: #f5633e;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.pricingTable-header h3 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.pricingTable-header>.price-value {
  display: block;
  font-size: 35px;
  line-height: 50px;
  padding-top: 30px;
  font-weight: 800;
  color: #fff;
}

.pricingTable-header>.price-value>.mo {
  font-size: 14px;
  display: block;
  line-height: 0px;
  text-transform: normal;
  font-weight: 400;
}

.pricingTable-header .discount {
  font-size: 13px;
  font-weight: 500;
  text-decoration: line-through;
}

.pricingTable-header>.price-value>.currency {
  font-size: 24px;
  margin-right: 4px;
  position: relative;
  bottom: 15px;
}

.pricingTable>.pricingContent {
  text-transform: normal;
  color: #fff
}

.pricingTable>.pricingContent>ul {
  list-style: none;
  padding: 0;
}

.pricingTable>.pricingContent>ul>li {
  padding: 15px 15px;
  border-bottom: 1px solid #f2f2f2;
  color: #555;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
}

.pricingTable>.pricingContent>ul>li:last-child {
  border-bottom: 1px solid #e3e3e3;
}

.pricingTable-sign-up {
  padding: 8px 0 16px 0;
}

.pricingTable-sign-up>.btn-block {
  width: 95%;
  margin: 0 auto;
  background-color: #f5633e;
  border: 0 solid #e9e9e9;
  color: #fff;
  padding: 8px 8px;
  text-transform: uppercase;
  font-size: 15x;
  font-weight: 600;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.pricingTable-sign-up>.btn-block:hover {
  color: #fff;
}

.pink {
  background: #ed687c;
}

.pink .pricingTable-header:after {
  border-bottom-color: #ed687c;
}

.orange {
  background: #e67e22;
}

.orange .pricingTable-header:after {
  border-bottom-color: #e67e22;
}

.blue {
  background: #e67e22;
}

.blue .pricingTable-header:after {
  border-bottom-color: #e67e22;
}

@media screen and (max-width: 1200px) {
  .pricingTable>.pricingTable-header:after {
    border-left: 215px solid transparent;
  }
}

@media screen and (max-width: 990px) {
  .pricingTable {
    margin-bottom: 20px;
  }
  .pricingTable>.pricingTable-header:after {
    border-left: 349px solid transparent;
  }
}

@media screen and (max-width: 480px) {
  .pricingTable {
    overflow: hidden;
  }
  .pricingTable>.pricingTable-header:after {
    border-left: 459px solid rgba(0, 0, 0, 0);
  }
}