<ng-template #actionTemplate>
</ng-template>
<div class="content-main d-flex flex">
    <div class="d-flex flex">
        <div class="d-flex flex">
            <div class="d-flex flex-column flex" id="chat-list">
                <div class="navbar flex-nowrap white lt box-shadow">
                    <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none" data-pjax-state="">
                        <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span></a>
                    <span class="text-md text-ellipsis flex"> Document Rules</span>
                </div>
                <div class="scrollable hover">
                    <org-grid [data]="gridData"
                              [options]="gridOptions"
                              [isLoading]="isLoading"
                              (cb)="actionCb($event)"
                              (update)="updateGrid($event)">
                    </org-grid>
                </div>
                <div class="mt-auto">
                    <org-grid-pagination [count]="gridOptions?.total" [perPage]="coreState?.take" [page]="coreState?.page"
                                         (cb)="moveToPage($event)"></org-grid-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

