<table class="table table-condensed m-0" style="background: none" [formGroup]="customForm">
  <tbody formArrayName="modulePermission">
  <ng-container *ngFor="let rule of formRuleItem?.controls; let i = index">
      <tr [formGroup]="rule">
        <td style="width: 150px;"><span> {{rule.get('name').value}} </span></td>
        <td><label class="md-check"><input type="checkbox" formControlName="fullAccess" #fullAccess (change)="updateAllFields(fullAccess.checked, rule)"><i></i><span></span></label></td>
        <td><label class="md-check"><input type="checkbox" formControlName="view" #view (change)="onViewCheckChange(view.checked, rule)"><i></i><span></span></label></td>
        <td><label class="md-check"><input type="checkbox" formControlName="modify" #modify (change)="onCheckChange(modify.checked, rule)"><i></i><span></span></label></td>
        <td><label class="md-check"><input type="checkbox" formControlName="create" #create (change)="onCheckChange(create.checked, rule)"><i></i><span></span></label></td>
        <td><label class="md-check"><input type="checkbox" formControlName="delete" #del (change)="onCheckChange(del.checked, rule)"><i></i><span></span></label></td>
        <td><label class="md-check"><input type="checkbox" formControlName="destroy" #destroy (change)="onCheckChange(destroy.checked, rule)"><i></i><span></span></label></td>
        <td><label class="md-check"><input type="checkbox" formControlName="import" #imp (change)="onCheckChange(imp.checked, rule)"><i></i><span></span></label></td>
        <td><label class="md-check"><input type="checkbox" formControlName="export" #exp (change)="onCheckChange(exp.checked, rule)"><i></i><span></span></label></td>
        <td><label class="md-check"><input type="checkbox" formControlName="manage" #manage (change)="onCheckChange(manage.checked, rule)"><i></i><span></span></label></td>
      </tr>
  </ng-container>
  </tbody>
</table>
