<div class="app">
  <div class="app-content box-shadow-0" role="main">
    <div class="white box-shadow-0">
      <div class="navbar flex-nowrap">
        <a data-toggle="modal" data-target="#content-aside" class="mr-1 d-md-none">
          <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i></span>
        </a>
        <div class="no-shadow">
          <h6 class="mb-0">{{title}}</h6>
          <small class="float-left"></small>
        </div>
        <ng-template *ngTemplateOutlet="routerActionTemplate"></ng-template>
      </div>
    </div>
    <div class="content-main d-flex flex">
      <router-outlet (activate)='onActivate($event)'></router-outlet>
    </div>
  </div>
</div>