<div class="d-flex flex">
  <div class="d-flex-column flex">
    <div id="content" class="app-content box-shadow-4 box-radius-4" role="main">
      <div class="content-main" id="content-main">
        <div class="padding">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="box list-item"><span class="avatar w-40 text-center circle success"><span
                class="fa fa-dollar"></span></span>
                <div class="list-body"><h4 class="m-0 text-md"><a href="#">75 <span class="text-sm">Sales</span></a>
                </h4>
                  <small class="text-muted">6 waiting payment.</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="box list-item"><span class="avatar w-40 text-center circle theme"><span
                class="fa fa-female"></span></span>
                <div class="list-body"><h4 class="m-0 text-md"><a href="#">40 <span class="text-sm">Orders</span></a>
                </h4>
                  <small class="text-muted">38 Shipped.</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="box list-item"><span class="avatar w-40 text-center circle cyan"><span
                class="fa fa-bookmark"></span></span>
                <div class="list-body"><h4 class="m-0 text-md"><a href="#">6k <span class="text-sm">Members</span></a>
                </h4>
                  <small class="text-muted">632 VIP.</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="box list-item"><span class="avatar w-40 text-center circle warning"><span
                class="fa fa-comment"></span></span>
                <div class="list-body"><h4 class="m-0 text-md"><a href="#">69 <span class="text-sm">Comments</span></a>
                </h4>
                  <small class="text-muted">5 approved.</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters box">
            <div class="col-sm-4">
              <div class="padding"><h6>Sales Statistical Overview</h6>
                <p class="text-muted my-3">Sale information on advertising, exhibitions, market research, online media,
                  customer desires, PR and much more</p>
                <p><i class="fa fa-arrow-circle-o-up text-success mr-1"></i><span class="text-success">15%</span> more
                  than last week</p><a href="#" class="btn btn-sm btn-rounded success theme">Update</a> <a href="#"
                                                                                                           class="btn btn-sm btn-rounded white">See
                  detail</a></div>
            </div>
            <div class="col-sm-8">
              <div class="padding light lt">
                <div class="chartjs-size-monitor"
                     style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                  <div class="chartjs-size-monitor-expand"
                       style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink"
                       style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                  </div>
                </div>
                <canvas id="chart-bubble" data-plugin="chart" height="412"
                        style="display: block; height: 206px; width: 515px;" width="1030"
                        class="chartjs-render-monitor"></canvas>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="box">
                <div class="box-header"><h3>Messages</h3></div>
                <div class="list inset">
                  <div class="list-item" data-id="item-12"><span class="w-40 avatar circle green">AC</span>
                    <div class="list-body"><a href="" class="item-title _500">Ashton Cox</a>
                      <div class="item-except text-sm text-muted h-1x">Looking for some client-work</div>
                      <div class="item-tag tag hide"></div>
                    </div>
                    <div><span class="item-date text-xs text-muted">11:30</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters box">
            <div class="col-sm-6 light lt p-3">
            </div>
            <div class="col-sm-6">
              <div class="padding"><h6 class="mb-2">Global sales</h6>
                <p class="text-sm"><i class="fa fa-caret-down text-warn"></i> <span class="text-muted">Min:</span>
                  $39,050 <i class="fa fa-caret-up text-success ml-2"></i> <span class="text-muted">Max:</span> $78,560
                </p>
                <div>
                  <div class="p-1">
                    <small><span class="float-right text-muted">45%</span> USA</small>
                    <div class="progress my-1" style="height:6px">
                      <div class="progress-bar primary" style="width: 45%"></div>
                    </div>
                  </div>
                  <div class="p-1">
                    <small><span class="float-right text-muted">25%</span> Germany</small>
                    <div class="progress my-1" style="height:6px">
                      <div class="progress-bar primary" style="width: 25%"></div>
                    </div>
                  </div>
                  <div class="p-1">
                    <small><span class="float-right text-muted">15%</span> France</small>
                    <div class="progress my-1" style="height:6px">
                      <div class="progress-bar primary" style="width: 15%"></div>
                    </div>
                  </div>
                  <div class="p-1">
                    <small><span class="float-right text-muted">5%</span> Other</small>
                    <div class="progress my-1" style="height:6px">
                      <div class="progress-bar grey lt" style="width: 5%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="padding box"><span class="badge success float-right">5</span><h6 class="mb-3">Activity</h6>
                <div class="streamline">
                  <div class="sl-item b-">
                    <div class="sl-left"></div>
                    <div class="sl-content"><span class="sl-date text-muted">09:50</span>
                      <div><a href="#" class="text-primary">Radionomy</a> Was added to Repo</div>
                    </div>
                  </div>
                  <div class="sl-item b-">
                    <div class="sl-left"></div>
                    <div class="sl-content"><span class="sl-date text-muted">05:35</span>
                      <div><a href="#" class="text-primary">Fifth Harmony</a> Bug fixes</div>
                    </div>
                  </div>
                  <div class="sl-item b-">
                    <div class="sl-left"></div>
                    <div class="sl-content"><span class="sl-date text-muted">09:05</span>
                      <div><a href="#" class="text-primary">Jeremy Scott</a> Assign you a task</div>
                    </div>
                  </div>
                  <div class="sl-item b-">
                    <div class="sl-content"><span class="sl-date text-muted">13:00</span>
                      <div><a href="#" class="text-primary">Garrett Winters</a> Followed by Jessic</div>
                    </div>
                  </div>
                  <div class="sl-item b-">
                    <div class="sl-content"><span class="sl-date text-muted">11:30</span>
                      <div><a href="#" class="text-primary">Ashton Cox</a> New feedback from John</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="padding box"><h6 class="mb-3">Tasks</h6>
                <div class="streamline streamline-xs">
                  <div class="sl-item b-">
                    <div class="sl-content"><span class="sl-date text-muted">July 21</span>
                      <div><a href="#" class="text-primary">Summerella</a> Submit a support ticket</div>
                    </div>
                  </div>
                  <div class="sl-item b-">
                    <div class="sl-content"><span class="sl-date text-muted">09:05</span>
                      <div><a href="#" class="text-primary">Jeremy Scott</a> Assign you a task</div>
                    </div>
                  </div>
                  <div class="sl-item b-primary">
                    <div class="sl-content"><span class="sl-date text-muted">12:05</span>
                      <div><a href="#" class="text-primary">Judith Garcia</a> Follow up to close deal</div>
                    </div>
                  </div>
                  <div class="sl-item b-primary">
                    <div class="sl-content"><span class="sl-date text-muted">08:05</span>
                      <div><a href="#" class="text-primary">Kygo</a> Added you to repo</div>
                    </div>
                  </div>
                  <div class="sl-item b-">
                    <div class="sl-content"><span class="sl-date text-muted">15:00</span>
                      <div><a href="#" class="text-primary">Pablo Nouvelle</a> Added API call to update track element
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="padding box"><h6>Friends</h6>
                <div class="list inset">
                  <div class="list-item" data-id="item-11"><span class="w-24 avatar circle blue">TN</span>
                    <div class="list-body"><a href="" class="item-title _500">Tiger Nixon</a>
                      <div class="item-tag tag hide"></div>
                    </div>
                    <div>
                      <div class="item-action dropdown"><a href="#" data-toggle="dropdown" class="text-muted"><i
                        class="fa fa-fw fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                          class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a class="dropdown-item"><i
                          class="fa fa-pencil"></i> Another action </a><a class="dropdown-item"><i
                          class="fa fa-reply"></i> Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="list-item" data-id="item-4"><span class="w-24 avatar circle pink">JG</span>
                    <div class="list-body"><a href="" class="item-title _500">Judith Garcia</a>
                      <div class="item-tag tag hide"></div>
                    </div>
                    <div>
                      <div class="item-action dropdown"><a href="#" data-toggle="dropdown" class="text-muted"><i
                        class="fa fa-fw fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                          class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a class="dropdown-item"><i
                          class="fa fa-pencil"></i> Another action </a><a class="dropdown-item"><i
                          class="fa fa-reply"></i> Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="list-item" data-id="item-12"><span class="w-24 avatar circle green">AC</span>
                    <div class="list-body"><a href="" class="item-title _500">Ashton Cox</a>
                      <div class="item-tag tag hide"></div>
                    </div>
                    <div>
                      <div class="item-action dropdown"><a href="#" data-toggle="dropdown" class="text-muted"><i
                        class="fa fa-fw fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                          class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a class="dropdown-item"><i
                          class="fa fa-pencil"></i> Another action </a><a class="dropdown-item"><i
                          class="fa fa-reply"></i> Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="list-item" data-id="item-8"><span class="w-24 avatar circle teal">R</span>
                    <div class="list-body"><a href="" class="item-title _500">RYD</a>
                      <div class="item-tag tag hide"></div>
                    </div>
                    <div>
                      <div class="item-action dropdown"><a href="#" data-toggle="dropdown" class="text-muted"><i
                        class="fa fa-fw fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                          class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a class="dropdown-item"><i
                          class="fa fa-pencil"></i> Another action </a><a class="dropdown-item"><i
                          class="fa fa-reply"></i> Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="list-item" data-id="item-15"><span class="w-24 avatar circle indigo">GW</span>
                    <div class="list-body"><a href="" class="item-title _500">Garrett Winters</a>
                      <div class="item-tag tag hide"></div>
                    </div>
                    <div>
                      <div class="item-action dropdown"><a href="#" data-toggle="dropdown" class="text-muted"><i
                        class="fa fa-fw fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                          class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a class="dropdown-item"><i
                          class="fa fa-pencil"></i> Another action </a><a class="dropdown-item"><i
                          class="fa fa-reply"></i> Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="list-item" data-id="item-13"><span class="w-24 avatar circle pink">AS</span>
                    <div class="list-body"><a href="" class="item-title _500">Airi Satou</a>
                      <div class="item-tag tag hide"></div>
                    </div>
                    <div>
                      <div class="item-action dropdown"><a href="#" data-toggle="dropdown" class="text-muted"><i
                        class="fa fa-fw fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                          class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a class="dropdown-item"><i
                          class="fa fa-pencil"></i> Another action </a><a class="dropdown-item"><i
                          class="fa fa-reply"></i> Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
