<form [formGroup]="customForm" (submit)="onSubmit(customForm)">
  <div class="row row-sm">
    <div class="col-sm-12">
      <div class="md-form-group">
        <input class="md-input" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
        <label> Name </label>
      </div>
    </div>
    <div class="col-sm-12">
<!--      <module-permission [customForm]="customForm"></module-permission>-->
    </div>
  </div>

  <div class="col-sm-12 text-center">
    <button type="submit" class="btn btn-sm primary m-2" [disabled]="!customForm.valid || submitted">
      <i *ngIf="submitted" class='fa fa-circle-o-notch fa-spin'></i> {{ submitted ? 'Submitting...' : actionType }}
    </button>
  </div>
</form>
