:host {
    display: block;
}

.tree-label {
    color: #343a40;
    cursor: pointer;
}

.tree-label:hover {
    text-decoration: underline;
}

.list-group-item.active {
    background-color: #e9f2ff;
}

.list-group-item.active .tree-label {
    color: #0056b3;
    font-weight: 600;
}

