<div class="d-flex flex">
  <div class="fade aside aside-sm" id="finance_aside">
    <div class="d-flex flex-column w-xl px-2">
      <ledger-group-tree (onOk)="showDetails($event)"></ledger-group-tree>
    </div>
  </div>
  <div class="d-flex flex">
    <div class="d-flex flex-column flex">
      <div class="navbar flex-nowrap">
        <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none">
          <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span>
        </a>
        <span class="text-md text-ellipsis flex"> {{ listAccountGroup?.name || 'Accounts' }}</span>

        <ul class="nav nav-xs flex-row no-border pr-2">
          <li class="nav-item">
            <a class="nav-link"><span class="btn btn-sm btn-block btn-rounded theme" (click)="addAccount()">Add Account</span></a>
          </li>
        </ul>
      </div>
      <div class="scroll-y d-flex flex-column flex box mb-0 bg-transparent">
        <org-grid [data]="gridData"
                  [isLoading] = "isLoading"
                  [options]="gridOptions"
                  (cb)="actionCb($event)"
                  (update)="updateGrid($event)"
                  (cbRemove)="actionRemoveCb($event)"></org-grid>
      </div>
      <div class="mt-auto">
        <org-grid-pagination
                [count]="gridOptions?.total"
                [perPage]="coreState?.take"
                [page]="coreState?.page"
                (cb)="moveToPage($event)">
        </org-grid-pagination>
      </div>
    </div>
  </div>
</div>