<div class="d-flex flex">
    <div class="fade aside aside-sm" id="task-list">
        <div class="d-flex flex-column w-xxl modal-dialog">
            <!--<div class="navbar box-shadow">
                <div class="input-group flex">
                    <input type="text" class="form-control px-0 no-bg no-border no-shadow search" placeholder="Search"
                           required="">
                    <span class="input-group-btn"><button class="btn no-bg no-border no-shadow" type="button"><i
                            class="fa fa-search text-muted"></i></button></span>
                </div>
            </div>-->
            <div class="scrollable hover">
                <a class="nav-link" (click)="createNew()"><span class="btn btn-sm btn-block btn-rounded theme"><i
                        class="fa fa-plus float-left"></i> New</span></a>
                <nav class="nav-border right b-theme" data-nav="">
                    <ul class="list inset">
                        <ng-template ngFor let-item [ngForOf]="schedulers" let-i="index">
                            <li class="list-item" [class.active]="taskSchedule?.id == item.id">
                                <div class="list-body" (click)="scheduleClick(item)">
                                    <span class="badge badge-pill"
                                          [class.primary]="(item.frequencyMasterType == 'ON_EVENT')"
                                          [class.info]="(item.frequencyMasterType == 'MONTHLY' || item?.frequencyMasterType == 'DAILY')"
                                          [class.warn]="(item.frequencyMasterType == 'FIXED_TIME')"
                                          [class.accent]="(item.frequencyMasterType == 'WEEKLY')"
                                    >{{item.frequencyType}}</span>
                                    <a class="item-title _500">
                                        {{ item.name }}
                                    </a>
                                    <span *ngIf="item.isValidForSession" [class.hide]="item.isValidForSession"
                                          class="text-xs text-danger">
                                      <i class="fa fa-hand-stop-o px-1"></i> Session Date Range Exceeded
                                    </span>
                                    <div class="item-except text-sm text-muted h-1x">
                                        {{ item.description }}
                                    </div>
                                    <div class="item-except text-sm text-muted h-1x">
                                        <ng-template ngFor let-template [ngForOf]="item.notification?.templates">
                                            <a class="d-inline-block px-1 text-center b">
                                                <small class="text-xs">{{ template.mediaType }}</small>
                                            </a>
                                        </ng-template>
                                    </div>
                                </div>
                            </li>
                        </ng-template>
                    </ul>
                </nav>
                <div class="no-result hide">
                    <div class="p-4 text-center">No Results</div>
                </div>
            </div>
            <div class="p-3 mt-auto"><span class="text-sm text-muted">Schedules</span></div>
        </div>
    </div>
    <div class="d-flex flex">
        <!--<div class="navbar flex-nowrap white lt box-shadow">
            <a data-toggle="modal" data-target="#task-list" data-modal="" class="mr-1 d-md-none" data-pjax-state="">
                <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span>
            </a>
            <span class="text-md text-ellipsis flex" *ngIf="!taskSchedule?.frequencyType">New Scheduler</span>
            <span class="text-md text-ellipsis flex" *ngIf="taskSchedule?.frequencyType">{{taskSchedule?.frequencyType}} <small
                    class="text-xs">{{taskSchedule?.orgTaskScheduleDescription}}</small></span>
            <div>
                <ng-template *ngTemplateOutlet="schedulerEl.testSchedularActionTemplate"></ng-template>
            </div>
        </div>-->
        <scheduler-info [id]="taskSchedule?.id"
                        #schedulerEl
                        [orgTaskId]="orgTaskId"
                        (onOk)="onOkAction($event)"
                        (onCancel)="onCancelAction($event)"></scheduler-info>
    </div>
</div>