<ng-template #popupOptionsTemplate>
    <div class="nav-active-border b-primary b-theme bottom">
        <ul class="nav nav-sm">
            <li class="nav-item" (click)="openTab(tabs.ce)"><a class="nav-link" [class.active]="tabs.ce == activeTab">Task</a></li>
            <li class="nav-item" (click)="openTab(tabs.schedules)"><a class="nav-link" [class.active]="tabs.schedules == activeTab">Schedules</a></li>
            <li class="nav-item" (click)="openTab(tabs.calendar)"><a class="nav-link" [class.active]="tabs.calendar == activeTab">Calendar</a></li>
            <li class="nav-item" (click)="openTab(tabs.reminder)"><a class="nav-link" [class.active]="tabs.reminder == activeTab">Reminder</a></li>
            <!--<li class="nav-item" (click)="openTab(tabs.team)"><a class="nav-link" [class.active]="tabs.team == activeTab">Team</a></li>-->
            <li class="nav-item" (click)="openTab(tabs.activity)"><a class="nav-link" [class.active]="tabs.activity == activeTab">Activity</a></li>
        </ul>
    </div>
</ng-template>
<div class="container d-flex flex h-100" [class.hide]="!(tabs.ce == activeTab)" role="main">
    <org-task-ce [id]="orgTaskId"></org-task-ce>
</div>
<div class="container d-flex flex h-100" *ngIf="tabs.calendar == activeTab">
    <event-task-calendar [orgTaskId]="orgTaskId"></event-task-calendar>
</div>
<div class="container d-flex flex h-100" *ngIf="tabs.schedules == activeTab">
    <event-task-scheduler [orgTaskId]="orgTaskId"></event-task-scheduler>
</div>
<div class="container d-flex flex h-100" *ngIf="tabs.reminder == activeTab">
    <event-task-reminder [orgTaskId]="orgTaskId"></event-task-reminder>
</div>

<div class="container d-flex flex h-100" *ngIf="tabs.activity == activeTab">
    <event-task-activity [orgTaskId]="orgTaskId"></event-task-activity>
</div>
<!--<div class="container d-flex flex h-100" *ngIf="tabs.team == activeTab"><event-task-team [orgTaskId]="orgTaskId"></event-task-team></div>-->
