<div id="content" class="app-content box-shadow-1 box-radius-1" role="main">
  <div class="content-header white box-shadow-0" id="content-header">
    <div class="navbar navbar-expand-lg">
      <div class="navbar-text nav-title flex">Faq</div>
      <div class="collapse navbar-collapse no-grow order-lg-1" id="navbarToggler">
        <form class="input-group m-2 my-lg-0"><span class="input-group-btn"><button type="button"
                                                                                    class="btn no-border no-bg no-shadow"><i
          class="fa fa-search"></i></button> </span><input type="text" class="form-control no-border no-bg no-shadow"
                                                           placeholder="Search projects..."></form>
      </div>
    </div>
  </div>
  <!--<div class="content-main" id="content-main">
    <div class="p-3">
      <div class="row">
        <div class="col-sm-8 col-md-9"><h4 class="mb-2 text-md">Questions</h4>
          <div class="mb-2" id="accordion">
            <div class="panel box no-border mb-2">
              <div class="box-header p-2 p-y-sm"><span class="float-right badge text-sm">430</span> <a
                data-toggle="collapse" data-parent="#accordion" data-target="#c_2">Q: How to build my custom color</a>
              </div>
              <div id="c_2" class="collapse">
                <div class="box-body">
                  <div class="float-left mr-2"><span class="text-md w-32 avatar rounded info">A</span></div>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.</p></div>
              </div>
            </div>
            <div class="panel box no-border mb-2">
              <div class="box-header p-2 p-y-sm"><span class="float-right badge text-sm">230</span> <a
                data-toggle="collapse" data-parent="#accordion" data-target="#c_3">Q: What is the app requriements</a>
              </div>
              <div id="c_3" class="collapse">
                <div class="box-body">
                  <div class="float-left mr-2"><span class="text-md w-32 avatar rounded warning">A</span></div>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.</p></div>
              </div>
            </div>
            <div class="panel box no-border mb-2">
              <div class="box-header p-2 p-y-sm"><span class="pull-right badge text-sm">49</span> <a data-toggle="collapse"
                                                                                                 data-parent="#accordion"
                                                                                                 data-target="#c_4">Q:
                Where to find the API</a></div>
              <div id="c_4" class="collapse">
                <div class="box-body">
                  <div class="float-left mr-2"><span class="text-md w-32 avatar rounded success">A</span></div>
                  <p>Vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                    synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. nesciunt you
                    probably haven't heard of them accusamus labore sustainable</p></div>
              </div>
            </div>
            <div class="panel box no-border mb-2">
              <div class="box-header p-2 p-y-sm"><span class="float-right badge text-sm">6</span> <a data-toggle="collapse"
                                                                                                 data-parent="#accordion"
                                                                                                 data-target="#c_5">Q:
                How to add my router</a></div>
              <div id="c_5" class="collapse">
                <div class="box-body">
                  <div class="float-left mr-2"><span class="text-md w-32 avatar rounded success">A</span></div>
                  <p>Vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                    synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. nesciunt you
                    probably haven't heard of them accusamus labore sustainable</p></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-3"><h4 class="mb-2 text-md">Ask experts</h4>
          <div class="box">
            <ul class="list inset">
              <li class="list-item"><a href="#"><span class="w-40 circle avatar accent"><span>C</span> <i
                class="away"></i></span></a>
                <div class="list-body">
                  <div><a href="#">Chris Fox</a></div>
                  <small class="text-muted text-ellipsis">Designer, Blogger</small>
                </div>
              </li>
              <li class="list-item"><a href="#"><span class="w-40 circle avatar green"><span>M</span> <i
                class="off"></i></span></a>
                <div class="list-body">
                  <div><a href="#">Mogen Polish</a></div>
                  <small class="text-muted text-ellipsis">Writter, Mag Editor</small>
                </div>
              </li>
              <li class="list-item"><a href="#"><span class="w-40 circle avatar purple"><span>J</span> <i
                class="busy"></i></span></a>
                <div class="list-body">
                  <div><a href="#">Joge Lucky</a></div>
                  <small class="text-muted text-ellipsis">Art director, Movie Cut</small>
                </div>
              </li>
              <li class="list-item"><a href="#"><span class="w-40 circle avatar warn"><span>F</span> <i
                class="away"></i></span></a>
                <div class="list-body">
                  <div><a href="#">Folisise Chosielie</a></div>
                  <small class="text-muted text-ellipsis">Musician, Player</small>
                </div>
              </li>
              <li class="list-item"><a href="#"><span class="w-40 circle avatar green"><span>P</span> <i class="on"></i></span></a>
                <div class="list-body">
                  <div><a href="#">Peter</a></div>
                  <small class="text-muted text-ellipsis">Musician, Player</small>
                </div>
              </li>
            </ul>
          </div>
          &lt;!&ndash;<div class="mb-2"><p><i class="fa fa-fw text-muted m-r-xs fa-envelope"></i> contact@company.com</p>
            <p><i class="fa fa-fw text-muted m-r-xs fa-phone"></i> (432) 999 000</p>
            <p><i class="fa fa-fw text-muted m-r-xs fa-clock-o"></i> Mon-Fri 9:00 - 16:00</p>
          </div>&ndash;&gt;
        </div>
      </div>
    </div>
  </div>-->
</div>
