<div class="d-flex flex">
    <div class="d-flex flex-column flex">
        <div class="scroll-y d-flex flex-column flex box mb-0 bg-transparent">
            <div class="animate fadeIn mx-2">
                <div class="no-more-tables">
                    <table class="p-0 table table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>
                            <th class="text-xs text-muted _500">Head</th>
                            <th class="text-xs text-muted _500 text-right">Opening Balance</th>
                            <th class="text-xs text-muted _500 text-right">Debit</th>
                            <th class="text-xs text-muted _500 text-right">Credit</th>
                            <th class="text-xs text-muted _500 text-right">Closing Balance</th>
                        </tr>
                        </thead>
                        <tbody class="scroll-y">
                        <ng-container *ngFor="let row of gridData">
                            <ng-template [ngTemplateOutlet]="gridRow" [ngTemplateOutletContext]="{ $implicit: row, level: 0 }"></ng-template>
                        </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <loader [isLoading]="isLoading"></loader>
        </div>
        <div class="mt-auto">
            <div class="row">
                <div class="col">
                    <div class="d-block">Opening Balance {{ gridOtherData?.openingBalance | absolute | orgCurrency }} {{gridOtherData?.openingBalance >= 0 ? 'Cr': 'Dr'}}</div>
                </div>
                <div class="col">
                    <div class="d-block">Debit {{ gridOtherData?.netDebit | orgCurrency }}</div>
                </div>
                <div class="col">
                    <div class="d-block">Credit {{ gridOtherData?.netCredit | orgCurrency }}</div>
                </div>
                <div class="col">
                    <div class="d-block">Closing Balance {{ gridOtherData?.closingBalance | absolute | orgCurrency }} {{gridOtherData?.closingBalance >= 0 ? 'Cr': 'Dr'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #gridRow let-row let-level="level">
    <tr>
        <td class="text-sm _500"><span [style.paddingLeft.px]="level * 20">{{ row.name }}</span></td>
        <td class="text-sm _500"><span class="float-right">{{ row.openingBalance | orgCurrency }}</span></td>
        <td class="text-sm _500"><span class="float-right">{{ row.debit | orgCurrency }}</span></td>
        <td class="text-sm _500"><span class="float-right">{{ row.credit | orgCurrency }}</span></td>
        <td class="text-sm _500"><span class="float-right">{{ row.closingBalance | orgCurrency }}</span></td>
    </tr>
    <!-- Recursively show children -->
    <ng-container *ngIf="row.children?.length">
        <ng-container *ngFor="let child of row.children">
            <ng-template [ngTemplateOutlet]="gridRow" [ngTemplateOutletContext]="{ $implicit: child, level: level + 1 }"></ng-template>
        </ng-container>
    </ng-container>
</ng-template>