::ng-deep ng-component{ display: contents;}

/*@media screen and (max-width: 1200px) {
  :host .navbar {
    margin-bottom: 40px
  }
}

@media screen and (max-width: 992px) {
  :host .navbar {
    margin-bottom: 20px
  }
}*/

:host .navbar .nav-link {
  padding-right: .5rem;
  padding-left: .5rem
}

@media screen and (max-width: 992px) {
  :host {
    margin: 0 auto
  }
}
:host {
  .router-link-active{
    background: #124f7a;
  }

  .navbar-nav {
    .nav-link {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .navbar-nav {
      margin-right: 0
    }

    .navbar-nav > li {
      position: inherit;
      text-align: center;
      display: inline-block;
    }

    .navbar-nav .dropdown-menu {
      max-height: 400px;
      overflow: auto
    }

    .navbar-nav .dropdown-menu > li > a {
      white-space: normal
    }

    .navbar-nav .open .dropdown-menu {
      -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
      position: absolute;
      width: 100%;
      background: #fff
    }

    .navbar-nav .open .dropdown-menu > li > a {
      padding: 3px 20px
    }

    .navbar-nav .open .dropdown-menu.notifications > li > a {
      padding: 12px 15px
    }
  }

  @media screen and (max-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
      margin-left: 0
    }
  }

  .navbar-nav, .navbar-nav > li, .navbar-nav ul.app_menu li{
    display: inline-block
  }
  .navbar-nav ul.app_menu li a, .navbar-nav ul.app_menu li a span {
    display: block
  }

  .navbar-nav>li a {
    padding: .4rem;
  }

  .navbar-nav{
    margin-right: 15px;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.hide {display:none}

*, *::after,*::before{
  box-sizing:border-box;
}

body, html{
  background: #E4E0E0 !important;
  font-size:6px;
  padding:4rem 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;

  @media (min-width: 860px) {
    font-size:8px;
    padding:3rem 5rem;
  }

  @media (min-width: 1200px) {
    font-size:10px;
    padding:2rem 3rem;
  }
}

#icons {
  display:none;
}