<a class="title _500 text-xs text-primary" [ngbPopover]="content" placement="auto"
   popoverTitle="Voucher Config"
   container="body" triggers="manual" [autoClose]="false" #p="ngbPopover" (click)="p.toggle()">Voucher Config</a>
<ng-template #content>
    <div class="d-flex flex" style="width: 500px;">
        <div class="d-flex flex">
            <form [formGroup]="customForm" class="d-flex flex-column flex">
                <div class="row row-sm">
                    <div class="col-sm-6">
                        <div class="top-right text-xs">
                            Primary
                            <label class="md-switch"><input type="checkbox" checked="checked" formControlName="isPrimary"> <i class="theme"></i></label>
                        </div>
                        <div class="md-form-group">
                            <input class="md-input" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                            <label>Voucher Name</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form-group">
                            <input class="md-input" formControlName="abbreviation" [ngClass]="{ 'is-invalid': submitted && f['abbreviation'].errors }">
                            <label>Abbreviation</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form-group">
                            <input class="md-input" formControlName="voucherNoDisplay" [ngClass]="{ 'is-invalid': submitted && f['voucherNoDisplay'].errors }">
                            <label>Display Name</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form-group">
                            <input class="md-input" formControlName="voucherDateDisplay" [ngClass]="{ 'is-invalid': submitted && f['voucherDateDisplay'].errors }">
                            <label>Display Date</label>
                        </div>
                    </div>
                </div>
                <div class="row row-sm" formGroupName="config">
                    <div class="col-sm-6">
                        <div class="top-right text-xs">
                            Start With Zero
                            <label class="md-switch"><input type="checkbox" checked="checked" formControlName="startWithZero"> <i class="theme"></i></label>
                        </div>
                        <div class="md-form-group">
                            <input class="md-input" formControlName="voucherNoStartingFrom" [ngClass]="{ 'is-invalid': submitted && f['voucherNoStartingFrom'].errors }">
                            <label>Starting From</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="md-form-group">
                            <input type="number" class="md-input" formControlName="voucherNoLength" [ngClass]="{ 'is-invalid': submitted && f['voucherNoLength'].errors }">
                            <label> Length </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="md-form-group">
                            <input class="md-input" type="date" formControlName="validFrom" [ngClass]="{ 'is-invalid': submitted && f['validFrom'].errors }">
                            <label> Valid From </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="top-right text-xs">
                            Start With
                            <label class="md-switch"><input type="checkbox" checked="checked" formControlName="startWithPrefix"> <i class="theme"></i></label>
                        </div>
                        <div class="md-form-group">
                            <input class="md-input" formControlName="prefix" [ngClass]="{ 'is-invalid': submitted && f['prefix'].errors }">
                            <label>Prefix</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="md-form-group">
                            <input class="md-input" formControlName="suffix" [ngClass]="{ 'is-invalid': submitted && f['suffix'].errors }">
                            <label>Suffix</label>
                        </div>
                    </div>
                </div>
                <div class="popover__controls d-flex justify-content-end">
                    <button class="btn btn-xs btn-success text-xs mx-2" (click)="saveForm(customForm, p);">OK</button>
                    <button class="btn btn-xs btn-danger text-xs" (click)="p.close()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
