<div class="content-main flex">
    <div class="d-flex">
        <form class="d-flex flex-column flex box" [formGroup]="customForm">
            <div class="box-header hide"><h3>Configuration</h3></div>
            <div class="box-divider hide"></div>
            <div class="box-body no-border">
                <div class="row">
                    <div class="col-6">
                        <select-dropdown [items]="orgLookup.languages"
                                         title="Language"
                                         (cb)="updateLanguageId($event)"
                                         [control]="formLanguageId"></select-dropdown>
                    </div>
                    <div class="col-6">
                        <select-dropdown [items]="orgLookup.currencies"
                                         title="Currency"
                                         (cb)="updateCurrencyId($event)"
                                         [control]="formCurrencyId"></select-dropdown>
                    </div>
                    <div class="col-6">
                        <select-dropdown [items]="dateFormatList"
                                         title="Date Format"
                                         (cb)="updateDateFormat($event)"
                                         [control]="formDateFormat"></select-dropdown>
                    </div>
                    <!--<div class="col-12">
                        <select-dropdown [items]="orgLookup?.timeZones"
                                         title="Time zone"
                                         (cb)="updateTimeZone($event)"
                                         [control]="formTimeZone"></select-dropdown>
                    </div>-->
                    <div class="col-xs-12 col-12">
                        <h6 class="text-sm  m-0">Financial Year</h6>
                        <div class="row no-gutters text-xs">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="max-width: 50px;">
                                        <div class="md-form-group pb-0">
                                            <input class="md-input" type="number"
                                                   formControlName="fyStartDay">
                                            <label>Start Day</label>
                                        </div>
                                    </div>
                                    <div class="md-form-group">
                                        <select class="md-input" formControlName="fyStartMonth"
                                                style="width: 65px;">
                                            <option *ngFor="let m of months" [value]="m.id">{{m.name}}
                                            </option>
                                        </select>
                                        <label>Start Month</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="max-width: 50px;">
                                        <div class="md-form-group pb-0">
                                            <input class="md-input" type="number"
                                                   formControlName="fyCloseDay">
                                            <label>Close Day</label>
                                        </div>
                                    </div>
                                    <div class="md-form-group">
                                        <select class="md-input" formControlName="fyCloseMonth"
                                                style="width: 65px;">
                                            <option *ngFor="let m of months" [value]="m.id">{{m.name}}
                                            </option>
                                        </select>
                                        <label>Close Month</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-6">
                        <h6 class="text-sm m-0">Regular Office Hours</h6>
                        <div class="row no-gutters text-xs">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="md-form-group">
                                        <input class="md-input" style="width: 100px;" type="time"
                                               formControlName="ofcStartTime">
                                        <label>Start Time</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="md-form-group">
                                        <input class="md-input" style="width: 100px;" type="time"
                                               formControlName="ofcEndTime">
                                        <label>End Time</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer no-border">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <!--<button type="button" (click)="onCancel()" class="btn btn-sm m-2">Cancel</button>-->
                        <button type="button" class="btn btn-sm primary m-2" [disabled]="!customForm.valid"
                                (click)="onSubmit(customForm)">
                            <i *ngIf="submitted" class='fa fa-circle-o-notch fa-spin'></i>
                            {{ submitted ? 'Submitting...' : 'Update' }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>