<div class="content-main d-flex flex">
    <div class="d-flex flex-column flex py-2">
        <div class="list-group list-group-gap">
            <div class="list-group-item box" *ngFor="let branch of orgSetup?.branches; let i=index;">
                <div class="list-body" >
                    <div class="d-inline-block">
                        <a href="#" class="_500" [ngClass]="{'text-success': (branch.isMasterSeedApplied && branch.isDemoSeedApplied) }">
                            {{branch.name}}
                        </a>
                        <small class="d-block text-muted">{{branch.address}} - {{branch.countryName}}</small>
                    </div>
                    <div class="d-inline-block float-right">
                        <a *ngIf="branch?.syncInitiated" class="btn btn-xs rounded btn-outline b-primary text-primary float-right">Setup <i class='fa fa-circle-o-notch fa-spin'></i></a>
                        <a *ngIf="!branch?.syncInitiated" class="btn btn-xs rounded btn-outline b-primary text-primary float-right" (click)="syncMasterFeeder(branch)">
                            Setup
                            <i *ngIf="branch.isMasterSeedApplied && branch.isDemoSeedApplied" class='fa fa-check text-success'></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--<div class="list-group-item box" *ngIf="!(hasValidSoftwareSetup)">
                <div *ngIf="!seeder?.masterInitiated" class="text-center">
                    <a class="_500">Please initiate your org setup!</a>
                    <div class="text-center p-3">
                        <a class="btn rounded btn-outline b-primary text-primary px-4" (click)="syncMasterFeeder()">Setup</a>
                    </div>
                </div>
                <div *ngIf="seeder?.masterInitiated" class="padding">
                    <h5>
                        Setup is in progress. Please wait...<i class='fa fa-circle-o-notch fa-spin'></i>
                    </h5>
                    <h6>You will be redirected automatically once your org details is setup to use.</h6>
                </div>
            </div>-->
        </div>
    </div>
</div>