<div class="d-flex flex">
    <div class="d-flex flex-column flex">
        <div class="scrollable hover h-100 p-2">
            <div id="inspectionStructures">
                <span *ngIf="!gridData?.length"> No Hisotry found... </span>
                <ng-template ngFor let-row [ngForOf]="gridData" let-i="index">
                    <div class="panel box no-border mb-2">
                        <div class="p-2 p-y-sm">
                            <div class="float-right text-sm">
                              <span class="text-sm">{{ row.vehicleNo }}</span>
                              <span class="text-sm">{{ row.inspectionStatus }}</span>
                              <span class="text-sm">{{ row.inspectedByName }}</span>
                            </div>
                            <a data-toggle="collapse" data-parent="#inspectionStructures" [attr.data-target]="'#fps_'+i">
                                <a class="float-left pr-2"><i class="text-xs fa fa-chevron-right"></i></a>
                                <span class="btn btn-xs"> {{row.dueDate }}</span>
                                <span *ngIf="!row.details?.length" class="text-danger text-xs"> No details available... </span>
                            </a>
                        </div>
                        <div id="fps_{{i}}" class="collapse" *ngIf="row.details?.length">
                            <div class="no-border-sm text-xs">
                                <div class="row row-sm p-2">
                                    <div class="col-sm-12">
                                        <!--<div class="text-center"><span classs="nav-text">Fee Plan Breakup</span></div>-->
                                        <table class="table small-table mb-0">
                                            <thead>
                                            <tr>
                                                <th><span class="">Head</span></th>
                                                <th><span class="float-right">Amount</span></th>
                                                <th><span>Inspected/ Rate</span></th>
                                                <th><span>Status</span></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let detail of row.details">
                                                    <td><span class="pl-2">{{ detail.inspectionHeadName }}</span></td>
                                                    <td><span class="pr-2 float-right">{{detail.amount | orgCurrency}}</span></td>
                                                    <td><span>{{detail.isInspected}}</span>/ <span>{{detail.rateInspection || 'N/A'}}</span></td>
                                                    <td><span>{{detail.inspectionStatusName}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="mt-auto">
            <org-grid-pagination [count]="gridOptions?.total" [perPage]="coreState?.take" [page]="coreState?.page"
                                 (cb)="moveToPage($event)"></org-grid-pagination>
        </div>
    </div>
</div>