<div class="container m-0">
    <div class="d-flex flex">
        <div class="d-flex flex-row flex">
            <!--<ng-template ngFor let-row
                         [ngForOf]="lookupService.masterType?.taskPriorities | sortBy:'asc': 'sortOrder'"
                         let-j="index">
                <div class="d-inline-block px-1">
                    <div class="d-flex flex-column w-xl p-2">
                        <div class="d-block _500 pb-2">{{row?.name}}</div>
                        <div class="scrollable hover">
                            <board-priority-task [taskPriorityId]="row.id"></board-priority-task>
                        </div>
                    </div>
                </div>
            </ng-template>-->
            <!--<ng-template ngFor let-row
                         [ngForOf]="gridData | sortBy:'asc': 'sortOrder'"
                         let-j="index">
                <div class="d-inline-block px-1">
                    <div class="d-flex flex-column w-xl white p-2">
                        <div class="d-block _500 pb-2">{{row?.name}}</div>
                        <div class="list-group list-group-gap">
                            <a href="#" class="list-group-item box">Lorem ipsum dolor sit amet, consectetur adipiscing elit </a>
                            <a href="#" class="list-group-item box">Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugia </a>
                            <a href="#" class="list-group-item box">Vestibulum ullamcorper sodales nisi nec condimentum </a>
                            <a href="#" class="list-group-item box">Donec eleifend condimentum nisl eu consectetur. Integer eleifend </a>
                            <a href="#" class="list-group-item box">Lectus arcu malesuada sem</a>
                        </div>
                        <div class="no-result hide">
                            <div class="p-4 text-center">No Results</div>
                        </div>
                    </div>
                </div>
            </ng-template><loader [isLoading]="isLoading"></loader>-->
        </div>
    </div>
</div>