.graph {
    height: 600px;
    width: 100%;
}

.phase-node {
    cursor: move;
    transition: 0.2s;

    &.active rect {
        stroke: #00e676;
        stroke-width: 3;
    }
}

.phase-link {
    cursor: pointer;

    .edge.active {
        stroke: #00e676 !important;
        stroke-width: 3;
    }

    .rule-badges {
        transform: translate(-10px, -10px);
    }
}

.toolbar {
    margin-bottom: 10px;
}

.hint {
    opacity: .7;
    margin-top: 4px;
    font-size: 12px;
}

.phase-node.active rect {
    stroke: gold;
    stroke-width: 3;
}

.phase-link.active path {
    stroke: gold !important;
}

.phase-node.active rect {
    stroke: gold;
    stroke-width: 3;
}

.phase-link.active path.edge {
    stroke: gold !important;
}

.graph {
    width: 100%;
    height: calc(100vh - 220px);
}