<div class="flex flex-column">
  <ul class="list">
    <li class="list-item">
      <div class="col-sm-12">
        <div class="md-form-group">
          <textarea class="md-input" rows="10"
                    style="z-index: 5; position: relative; line-height: 20.48px; font-size: 12.8px; transition: none 0s ease 0s; background: transparent !important;"></textarea>

          <label>Fill in the blank - type [blank] where you want to provide space for filling...</label>
        </div>
      </div>
    </li>
  </ul>
</div>
