<!--
<div class="d-flex flex">
  <div class="d-flex flex-column flex">
    <div class="p-3 row align-items-stretch">
      <div class="col-6">
        <small class="text-muted">Cell Phone</small>
        <div class="_500">1243 0303 0333</div>
      </div>
      <div class="col-6">
        <small class="text-muted">Family Phone</small>
        <div class="_500">+32(0) 3003 234 543</div>
      </div>
      <div class="col-6">
        <small class="text-muted">Reporter</small>
        <div class="_500">Coch Jose</div>
      </div>
      <div class="col-6">
        <small class="text-muted">Manager</small>
        <div class="_500">James Richo</div>
      </div>
    </div>
    <div>
      <small class="text-muted">Bio</small>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin
        venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis
        mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue.
      </div>
    </div>
  </div>
</div>
-->
