<!--<div class="streamline mb-2">
  <div class="sl-left"></div>
  <div class="sl-item">
    <div class="sl-content">
      <div class="sl-date text-muted">2 minutes ago</div>
      <div class="sl-author"><a>Peter Joo</a></div>
      <div class="mb-3"><p>Check your Internet connection</p></div>
      <div class="sl-footer"><a data-toggle="collapse" data-target="#reply-1"><i
        class="fa fa-fw fa-mail-reply text-muted"></i> Reply</a></div>
      <div class="box collapse show m-0" id="reply-1">
        <form><textarea class="form-control no-border" rows="3"
                        placeholder="Type something..."></textarea></form>
        <div class="box-footer clearfix">
          <button class="btn info float-right btn-sm">Post</button>
          <ul class="nav nav-pills nav-sm">
            <li class="nav-item"><a class="nav-link"><i class="fa fa-camera text-muted"></i></a>
            </li>
            <li class="nav-item"><a class="nav-link"><i
              class="fa fa-video-camera text-muted"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sl-item">
    <div class="sl-left"></div>
    <div class="sl-content">
      <div class="sl-date text-muted">8:30</div>
      <div class="sl-author"><a>Moke</a></div>
      <div><p>Call to customer <a class="text-primary">Jacob</a> and discuss the detail.</p>
        <p><span class="d-inline-block p-1 b-a"><span class="w-96"></span></span></p></div>
    </div>
  </div>
  <div class="sl-item">
    <div class="sl-left"></div>
    <div class="sl-content">
      <div class="sl-date text-muted">Sat, 5 Mar</div>
      <div class="sl-author"><a>Moke</a></div>
      <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
        soe aiea ose dos soois.</p>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
      </blockquote>
      <div class="sl-item">
        <div class="sl-left"></div>
        <div class="sl-content">
          <div class="sl-date text-muted">Sun, 11 Feb</div>
          <p><a class="text-primary">Jessi</a> assign you a task <a
            class="text-primary">Mockup
            Design</a>.</p></div>
      </div>
      <div class="sl-item">
        <div class="sl-left"></div>
        <div class="sl-content">
          <div class="sl-date text-muted">Thu, 17 Jan</div>
          <p>Follow up to close deal</p></div>
      </div>
    </div>
  </div>
</div>-->
