<div class="content-main d-flex flex">
    <div class="d-flex flex-column w-md">
        <span class="p-1 text-muted">Providers</span>
        <div class="scrollable hover px-3">
            <div class="list-group list-group-gap">
                <ng-template ngFor let-row [ngForOf]="providers | sortBy:'asc': 'name'" let-i="index">
                    <a class="list-group-item box p-1 px-2" [class.active]="provider?.id == row.id"  (click)="changeSystemRoute(row)">
                        <span class="float-right"><i class="fa fa-chevron-right"></i></span> {{row.name}}
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
    <router-outlet (activate)='onActivate($event)'></router-outlet>
</div>