<div class="content-main d-flex flex-column flex">
    <div class="d-flex flex">
        <!--*ngIf="activeTab == tabs.reminder"-->
        <form class="d-flex flex-column flex"
              [formGroup]="customForm"
              (submit)="onReminderSubmit(customForm)">
            <div class="scroll-y h-100 m-auto text-center">
                <h4 class="p-4"> Remind </h4>
                <div class="m-auto btn-group">
                    <div class="input-group px-1">
                        <div class="input-group-prepend pr-1">
                            <a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">{{formUserGroupName.value?? '--'}}</a>
                            <div class="dropdown-menu  text-xs" x-placement="bottom-start"
                                 style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <ng-template ngFor let-group [ngForOf]="apiResolver.masterType?.userGroups" let-i="index">
                                    <a class="dropdown-item" (click)="updateGroupChange(group)" [class.active]="(formUserGroupId.value == group.id)">{{group.name}}</a>
                                </ng-template>
                            </div>
                            <div class="px-1 text-muted"> User Group </div>
                        </div>
                        <div class="input-group-append">
                            <input style="width: 50px;" class="md-input mt-1 title _600" formControlName="reminderValue">
                            <a class="dropdown-toggle min-w-50 title _600" data-toggle="dropdown" aria-expanded="false">{{formReminderFrequencyType?.value}}</a>
                            <div class="dropdown-menu animate fadeIn" x-placement="bottom-start" style="position: absolute; left: 0px;">
                                <a class="dropdown-item" *ngFor="let duration of durationType; let i=index" (click)="updateDurationType(duration.key)">
                                    {{duration.key}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="p-4">prior to it's scheduled time.</h4>
            </div>
            <div class="p-3 b-t mt-auto">
                <div class="d-flex align-items-center float-right">
                    <button type="submit" class="btn btn-sm btn-outline primary b-a"
                            [disabled]="!customForm.valid || submitted">
                        <i *ngIf="submitted" class='fa fa-circle-o-notch fa-spin'></i>
                        {{ submitted ? 'Submitting...' : (id)? 'Update Reminder':'Add Reminder'}}
                    </button>
                </div>
            </div>
        </form>
        <div class="d-flex flex-column flex" *ngIf="activeTab == tabs.userGroup">
<!--            <group-ce></group-ce>-->
        </div>
    </div>
</div>
<ng-template #popupOptionsTemplate>
    <div class="nav-active-border b-primary b-theme bottom">
        <ul class="nav nav-sm">
            <li class="nav-item" (click)="openTab(tabs.reminder)">
                <a class="nav-link" [class.active]="tabs.reminder == activeTab">Reminder</a>
            </li>
            <li class="nav-item" (click)="openTab(tabs.userGroup)">
                <a class="nav-link" [class.active]="tabs.userGroup == activeTab">New User Group</a>
            </li>
        </ul>
    </div>
</ng-template>