<div>
    <div class="btn-group" role="group">
        <a class="btn btn-xs btn-rounded text-primary text-xs white" (click)="apply(null)">Round Off</a>
        <a class="btn btn-xs btn-rounded text-primary text-xs white" (click)="apply(roundOffType.positive)">Ceil</a>
        <a class="btn btn-xs btn-rounded text-primary text-xs white" (click)="apply(roundOffType.negative)">Floor</a>
        <a class="btn btn-xs btn-rounded text-primary text-xs white" (click)="apply('na')">N/A</a>
    </div>
</div>