<!-- start of section -->
<section class="web-header why-we" data-speed="0.4">
  <div class="container">
    <div class="col-sm-6 col-xs-12">
      <div class="box-container fadesimple">
        <h2>Why we are the best</h2>
        <p>
          Genuinely caring about our clients’ success. By hiring people who care about results, we delight our customers
          – our most important asset.
        </p>
        <p>
          Genuinely caring about each others’ success. Titles don’t mean much at EnRator. Everyone pitches in and does
          whatever it takes to deliver for our internal and external customers. Because peoples’ contributions are so
          highly valued by the team, everyone is motivated to excel.
        </p>
      </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
</section>
<!-- end of section -->

<!-- start of section -->
<section class="why-enrator">
  <div class="container">
    <div class="default-title">
      <h3>What Do We Serve</h3>
    </div>
    <div class="col-sm-6">
      <div class="box sl1 fadesimple" style="height: 340px;">
        <h4 class="wt-1">About Our Consultants</h4>
        <hr>
        <ul class="wt-list">
          <li class="wtl-2">Business transformation consultants</li>
          <li class="wtl-3">Engineering consultants</li>
          <li class="wtl-4">Educational consultants</li>
          <li class="wtl-4">Human resources (HR) consultants</li>
          <li class="wtl-4">Information-technology (IT) consultants</li>
          <li class="wtl-4">Process consultants</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box sl2 fadesimple" style="height: 340px;">
        <h4 class="wt-2">Our Key Skills</h4>
        <hr>
        <ul class="wt-list">
          <li class="wtl-5">Advisory skills</li>
          <li class="wtl-6">Technical skills</li>
          <li class="wtl-7">Business skills</li>
          <li class="wtl-8">Communication skills</li>
          <li class="wtl-8">Management skills</li>
          <li class="wtl-8">Business and management language skills</li>
          <li class="wtl-8">Technical language skills</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end of section -->
