<div class="d-flex flex-column" *ngIf="parent && parent.selectedProcess">
    <div class="p-2 px-3">
        <span class="text-muted text-sm">Phases</span>
        <button class="btn btn-xs b-theme text-theme text-xs border-0 float-right" (click)="onPhaseCreate($event)"><i class="fa fa-plus"></i> Phases</button>
    </div>
    <div class="scrollable hover pt-2">
        <div class="list-group list-group-gap px-2">
            <ng-template ngFor let-row [ngForOf]="parent.phases | sortBy:'asc': 'sortOrder'"  let-i="index">
                <div class="list-group-item p-1 pl-2 box" @fade>
                    <div class="float-right">
            <span
                    class="b-a badge mr-1"
                    (click)="onPhaseTemplates(row)"
            >
              Templates<span *ngIf="row.notificationTemplates?.length"> ({{ row.notificationTemplates.length }})</span>
            </span>
                        <span
                                class="b-a badge mr-1"
                                (click)="onPhaseTransitions(row)"
                                title="Manage Transitions"
                        >
                            <i class="fa fa-exchange"></i> Transitions
                        </span>
                        <span
                                class="b-a badge"
                                [ngClass]="{'theme text-theme': row.notification}"
                                (click)="onPhaseNotification(row)"
                        >
              {{ row.notification ? 'Notified' : 'Notify' }}
            </span>
                        <span class="btn btn-xs btn-icon" (click)="onPhaseSelected(row)"><i class="fa fa-wrench"></i></span>
                        <span class="btn btn-xs btn-icon" (click)="onPhaseEdit(row)"><i class="fa fa-edit"></i></span>
                    </div>
                    <div class="list-body text-xs">
                        <b class="badge badge-pill text-success up"><i class="fa fa-lock text-sm" *ngIf="row.isLocked"></i></b>
                        <span class="_500" [style.color]="row.color">{{ row.name }}</span>
                        <div class="flex-column d-block">
                            <ng-template ngFor let-step [ngForOf]="row.steps | sortBy:'asc': 'sortOrder'"  let-i="index">
                                <div class="b-a d-inline-block px-2 mx-1" >
                                    <span class="label">{{ step.name }}</span>
                                    <div class="float-right px-1">
                                        <span class="mx-1 badge red" (click)="onShowStepTask(step)"> Add Task</span>
                                        <span class="mx-1 badge blue" (click)="onStepNotification(step)" [ngClass]="{'theme text-theme': step.notification}"><i class="fa fa-bell"></i></span>
                                        <span class="mx-1 badge green" (click)="onEditStep(step)"><i class="fa fa-edit"></i></span>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>