<div class="d-flex flex">
    <div class="d-flex flex-column flex" [formGroup]="customForm">
        <!--<product-search-panel></product-search-panel>-->
        <div class="page-section">
            <table class="no-more-tables p-0 table table-striped table-condensed cf">
                <thead class="cf">
                <tr>
                    <th>Description</th>
                    <th width="140px" class="text-right">Unit Price</th>
                    <th width="80px" class="text-right">Qty</th>
                    <th width="100px" class="text-right">Tax</th>
                    <th width="150px" class="text-right">Line Total</th>
                    <th width="150px" class="text-right">System Total</th>
                </tr>
                </thead>
                <tbody formArrayName="items">
                <ng-template ngFor let-item [ngForOf]="formItems.controls" let-i="index">
                    <tr item-row-form
                        [customForm]="item"
                        [voucherMasterType]="formVoucherMasterType.value"
                        [currencyRate]="formCurrencyRate.value"
                        [currencyCode]="formCurrencyCode.value"
                        [systemCurrencyCode]="formSystemCurrencyCode.value"
                        (cb)="voucherItemCb($event)"></tr>
                    <tr [formGroup]="item">
                        <td colspan="4">
                            <div class="d-inline-block clearfix">
                                <a class="text-xs _500" *ngIf="item.value.taxCode">HSN {{ item.value.taxCode }} -
                                    Tax:{{ item.value.taxRate }}%</a>
                                <div class="text-xs px-2 _500">
                                    <div class="d-inline-block b-r">
                                        <span class="text-muted">MRP</span>
                                        <a class="text-xs px-1">{{item.value.mrp | voucherCurrency:
                                            formSystemCurrencyCode.value }}</a>
                                    </div>
                                    <div class="d-inline-block">
                                        <span class="pl-1 text-muted">Price </span>
                                        <a>{{item.value.price | voucherCurrency: formSystemCurrencyCode.value }}</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row my-1" *ngIf="orgOption?.hasCostCenters || orgOption?.hasCostCenterClasses || orgOption?.hasBatchWiseDetails || orgOption?.hasTrackingNumbers || orgOption?.hasActualAndBilledQuantities || orgOption?.hasGodowns">
                                 <div class="col-sm-3" *ngIf="orgOption?.hasGodowns" formGroupName="product">
                                     <small class="text-muted text-xs">Godown / Location</small>
                                     <input class="form-control form-control-sm p-1 text-xs" formControlName="godownId">
                                 </div>
                                 <div class="col-sm-3" *ngIf="orgOption?.hasCostCenters">
                                     <small class="text-muted text-xs">Cost Center</small>
                                     <input class="form-control form-control-sm p-1 text-xs" formControlName="costCenterId">
                                 </div>
                                 <div class="col-sm-3" *ngIf="orgOption?.hasCostCenterClasses">
                                     <small class="text-muted text-xs">Cost Class</small>
                                     <input class="form-control form-control-sm p-1 text-xs" formControlName="costCenterClassId">
                                 </div>
                                 <div class="col-sm-5" *ngIf="orgOption?.hasBatchWiseDetails" formGroupName="product">
                                     <small class="text-muted text-xs">Batch (No/Mfg/Exp)</small>
                                     <div class="d-flex">
                                        <input class="form-control form-control-sm p-1 text-xs mr-1" formControlName="batchNo" placeholder="Batch">
                                        <input type="date" class="form-control form-control-sm p-1 text-xs mr-1" formControlName="mfgDate" style="width: 85px">
                                        <input type="date" class="form-control form-control-sm p-1 text-xs" formControlName="expiryDate" style="width: 85px">
                                     </div>
                                 </div>
                                 <div class="col-sm-2" *ngIf="orgOption?.hasTrackingNumbers" formGroupName="product">
                                     <small class="text-muted text-xs">Tracking No</small>
                                     <input class="form-control form-control-sm p-1 text-xs" formControlName="trackingNo">
                                 </div>
                                  <div class="col-sm-2" *ngIf="orgOption?.hasActualAndBilledQuantities" formGroupName="product">
                                     <small class="text-muted text-xs">Actual / Billed</small>
                                     <div class="d-flex">
                                        <input class="form-control form-control-sm p-1 text-xs mr-1" formControlName="actualQuantity" type="number" placeholder="Act">
                                        <input class="form-control form-control-sm p-1 text-xs" formControlName="billedQuantity" type="number" placeholder="Bil">
                                     </div>
                                 </div>
                            </div>

                            <textarea class="form-control p-1" formControlName="remark" placeholder="Remark"></textarea>
                        </td>
                        <td colspan="2"></td>
                    </tr>
                </ng-template>
                </tbody>
                <tbody>
                <tr>
                    <td colspan="4">
                        <button class="btn btn-xs" (click)="addVoucherItem()"><i class="fa fa-plus"></i></button>
                        <div class="float-right"> Subtotal</div>
                    </td>
                    <td class="text-right">
                        {{formForeignSubTotal.value | voucherCurrency: formCurrencyCode.value}}
                    </td>
                    <td class="text-right">
                        {{formTrxnSubTotal.value | voucherCurrency: formSystemCurrencyCode.value}}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="row">
                            <div class="col-12">
                                <div class="flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="flex text-right"><span class="text-xs">Item Discount</span></div>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="flex text-right"><span class="text-xs">Item Taxes</span></div>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="flex text-right"><b>Item Total</b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="row">
                            <div class="col-12">
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right">
                                            {{formForeignDiscount?.value | voucherCurrency: formCurrencyCode.value}}
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right">
                                            {{formForeignTaxAmount.value | voucherCurrency: formCurrencyCode.value}}
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right"><span
                                                class="text-right">{{formForeignSubTotal.value | voucherCurrency: formCurrencyCode.value}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="row">
                            <div class="col-12">
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right">
                                            {{formTrxnDiscount?.value | voucherCurrency: formSystemCurrencyCode.value}}
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right">
                                            {{formTrxnTaxAmount.value | voucherCurrency: formSystemCurrencyCode.value}}
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right"><span
                                                class="text-right">{{formTrxnSubTotal.value | voucherCurrency: formSystemCurrencyCode.value}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="row">
                            <div class="col-12">
                                <div class="flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="flex text-right"><span
                                                class="text-xs">Adjustment</span></div>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="flex text-right"><span
                                                class="text-xs">Packing Charge</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="flex text-right"><span
                                                class="text-xs">Delivery Charge</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <!--<div class="row">
                            <div class="col-12">
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right">
                                            {{formForeignRounding.value |
                                            voucherCurrency: formCurrencyCode.value}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </td>
                    <td class="text-right">
                        <div class="row">
                            <!--<div class="col-12">
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right">
                                            {{formVoucherRounding.value | voucherCurrency: formSystemCurrencyCode.value}}
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <!--<div class="row">
                            <div class="col-12">
                                <div class="flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="flex text-right"><b>Net
                                            Total</b></div>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <div class="flex text-right"><b>Balance</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="row">
                          <div class="col-12">
                            <div class="flex-column">
                              <div class="d-flex flex-row">
                                <div class="flex text-right">
                                  <request-deposit [customForm]="customForm"></request-deposit>
                                </div>
                                <div class="w-specific text-right">
                                  <div class="md-form-group p-0">
                                    <input type="text" class="md-input text-right"
                                           formControlName="amount">
                                    <label class="hide">Amount</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="flex-column">
                              <div class="d-flex flex-row">
                                <div class="flex text-right"><schedule-payment [customForm]="customForm"></schedule-payment></div>
                                <div class="w-specific text-right"></div>
                              </div>
                            </div>
                          </div>
                        </div>-->
                        <!--<ng-container *ngTemplateOutlet="voucherSummary"></ng-container>-->
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-12">
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right">---</div>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right"><span
                                                class="text-right">{{formForeignAmount?.value | voucherCurrency: formCurrencyCode.value}}</span>
                                        </div>
                                    </div>
                                    <!--<div class="flex text-right">
                                        <div class="w-specific text-right"><span
                                                class="text-right">{{formForeignBalance?.value | voucherCurrency: formCurrencyCode.value}}</span>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-12">
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right">---</div>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <div class="flex text-right">
                                        <div class="w-specific text-right"><span
                                                class="text-right">{{formTrxnAmount?.value | voucherCurrency: formSystemCurrencyCode.value}}</span>
                                        </div>
                                    </div>
                                    <!--<div class="flex text-right">
                                        <div class="w-specific text-right"><span
                                                class="text-right">{{formVoucherBalance?.value | voucherCurrency: formSystemCurrencyCode.value}}</span>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>