<!--<div class="d-flex flex">
    <div class="fade aside aside-sm" id="content-aside">
        <div class="d-flex modal-dialog">
            <a class="nav-link" (click)="createNewTeam()"><span
                    class="btn btn-sm btn-block btn-rounded theme">
                        <i class="fa fa-plus float-left"></i> New Team</span>
            </a>
            <group-list #groupList (cb)="searchRecord($event)"></group-list>
        </div>
    </div>
    <div class="d-flex flex-column flex">
        <div class="navbar flex-nowrap white lt box-shadow">
            <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none" data-pjax-state="">
                <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span>
            </a>
            <span class="text-md text-ellipsis flex">Group Setup</span>
        </div>
        <div class="scroll-y d-flex flex-column flex box mb-0 bg-transparent">
            <org-grid [data]="gridData"
                      [options]="gridOptions"
                      [isLoading]="isLoading"
                      (cb)="actionCb($event)"
                      (update)="updateGrid($event)"></org-grid>
        </div>
        <div class="mt-auto">
            <org-grid-pagination [count]="gridOptions?.total" [perPage]="coreState?.take" [page]="coreState?.page" (cb)="moveToPage($event)">
            </org-grid-pagination>
        </div>
    </div>
</div>-->
<div class="d-flex flex">
    <div class="fade aside aside-sm" id="content-aside">
        <div class="modal-dialog d-flex flex-column w-lg">
            <a class="nav-link" (click)="createNewTeam()"><span
                    class="btn btn-sm btn-block btn-rounded theme">
                        <i class="fa fa-plus float-left"></i> New Team</span>
            </a>
            <group-list #groupList (cb)="searchRecord($event)" (editCb)="editTeam($event)"></group-list>
        </div>
    </div>
    <div class="d-flex flex-column flex">
        <div class="navbar flex-nowrap white lt box-shadow">
            <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none" data-pjax-state="">
                <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span>
            </a>
            <div>
                <h6 class="mb-0">{{team?.name}} </h6>
                <small class="clearfix">{{team?.categoryName}}</small>
            </div>

            <span class="float-right">
                <small class="badge green mx-1" *ngIf="team?.hasDynamicRules">Dynamic Rules</small>
            </span>
            <div class="float-right"><a class="btn btn-sm b-a b-theme text-theme" (click)="showUserFilters()">Team:Setup Filters</a></div>
        </div>
        <div class="scroll-y d-flex flex-column flex box mb-0 bg-transparent">
            <org-grid [data]="gridData"
                      [options]="gridOptions"
                      [isLoading]="isLoading"
                      (cb)="actionCb($event)"
                      (update)="updateGrid($event)"></org-grid>
        </div>
        <div class="mt-auto">
            <org-grid-pagination [count]="gridOptions?.total" [perPage]="coreState?.take" [page]="coreState?.page" (cb)="moveToPage($event)">
            </org-grid-pagination>
        </div>
    </div>
</div>
<!--
<ng-template #pageTitleTemplate>
    <a class="no-shadow">
        <h6 class="mb-0"> {{pageTitle  }}</h6>
        <small class="float-left">Management</small>
    </a>
</ng-template>
<ng-template #actionTemplate>
    <li class="nav-item mx-1"><button (click)="createEmployee()" class="btn btn-sm btn-block btn-rounded theme"><i class="fa fa-fw fa-plus"></i> Create</button></li>
</ng-template>-->
