<!-- header -->
<section class="web-header about">
    <div class="container">
        <div class="col-sm-6 col-xs-12">
            <div class="box-container fadesimple">
                <h2>Who We Are?</h2>
                <p>EnRator is your IT managed services provider. We implement IT services and support solutions that
                    help your business grow in this technology-centric world.</p>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
</section>
<!-- end of header -->
<section class="section-dd-ft2">
    <div class="container">
        <div class="title-new"><h2>EnRator</h2><br></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="title-new"><p style="text-align: left;">EnRator is Digital Consulting &amp; Engineering Firm
                    offering end-to-end solutions to Enterprises, Digital Agencies and Startups.</p>
                    <p style="text-align: left;"> We are dedicated to supporting small and medium sized businesses. Our
                        fundamental business strategy is to build long-term client relationships through trust and
                        communication. With more than 15 years in the industry, we continually strive to make our
                        clients happy. In fact, over 96% of feedback solicited by team members upon the closing of
                        tickets have a positive rating. </p>
                    <p style="text-align: left;"> The powerful combination of a loyal client base and steady growth
                        enables us to attract and retain the region’s top talents. As a result of this sound business
                        strategy, we are prospering in diverse markets. </p></div>
            </div>
        </div>
    </div>
</section>

<section class="section2">
    <div class="container">
        <div class="justify-content-center mb-3">
            <div class="text-center title-new">
                <h2>Our Key Points to Success</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="box">
                    <i class="fa fa-3x fa-check-circle"></i>
                    <h4>Communication</h4>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="box">
                    <i class="fa fa-3x fa-check-circle"></i>
                    <h4>Attention To Details</h4>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="box">
                    <i class="fa fa-3x fa-check-circle"></i>
                    <h4>Accountability & Responsibility</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 ">
                <div class="box">
                    <i class="fa fa-3x fa-check-circle"></i>
                    <h4>IT Best Practices</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of section -->
<!-- start of section -->
<section id="cl-web">
    <div class="container">
        <div class="default-title">
            <h2> Our Skilled Employees are Our Strength </h2>
            <hr>
            <p>EnRator employs a team of highly-skilled and credentialed engineers to perform IT Project management and
                implementation. Our team is selected partially based on what they add to the community skill set so that
                We can
                offer the broadest possible range of capabilities.</p>
        </div>
    </div>
</section>
<div class="padding20"></div>
