<ngx-graph
        class="graph"
        [nodes]="nodes"
        [links]="links"
        [autoZoom]="true"
        [draggingEnabled]="true"
        [panningEnabled]="true"
        [enableZoom]="true"
        [update$]="zoomToFit$"
        (dragEnd)="onDragEnd($event)">

    <!-- NODE -->
    <ng-template #nodeTemplate let-node>
        <svg:g
                class="phase-node"
                [class.active]="isPhaseActive(node.id)"
                (dblclick)="editPhase.emit(node.data.model)">

            <svg:rect
                    x="-80"
                    y="-24"
                    width="160"
                    height="48"
                    rx="10"
                    [attr.fill]="node.data?.color || '#3f51b5'">
            </svg:rect>

            <svg:text
                    text-anchor="middle"
                    alignment-baseline="middle"
                    fill="#fff">
                {{ node.label }}
            </svg:text>

        </svg:g>
    </ng-template>


    <!-- EDGE -->
    <ng-template #linkTemplate let-link>

        <svg:g
                class="phase-link"
                (click)="editTransition.emit(link.data.model)">

            <svg:path
                    stroke-width="2"
                    fill="none"
                    class="edge"
                    stroke="#888"
                    [class.active]="isLinkActive(link.id)">
            </svg:path>

            <!-- RULE BADGE -->
            <svg:g
                    *ngIf="link.data?.rule"
                    class="badge"
                    transform="translate(0,-12)">

                <svg:rect
                        x="-10"
                        y="-8"
                        rx="6"
                        width="20"
                        height="16"
                        fill="#222">
                </svg:rect>

                <svg:text
                        text-anchor="middle"
                        alignment-baseline="middle"
                        fill="#fff">
                    R
                </svg:text>
            </svg:g>

        </svg:g>

    </ng-template>

</ngx-graph>