<div class="flex flex-column">
  <ul class="list">
    <li class="list-item">
      <div class="col-sm-12">
        <div class="md-form-group">
          <textarea class="md-input" rows="10"
                    style="z-index: 5; position: relative; line-height: 20.48px; font-size: 12.8px; transition: none 0s ease 0s; background: transparent !important;"></textarea>

          <label>Open Ended expected Answers or Context </label>
        </div>
      </div>
    </li>
    <li class="list-item p-0">
      <button class="btn btn-sm btn-rounded success theme float-sm-right" type="button" (click)="update()">Create<i
        class="fa fa-send text-success"></i></button>
    </li>
  </ul>
</div>
