<div class="app">
    <org-aside [data]="navList"></org-aside>
    <div id="content" class="app-content">
        <div class="navbar flex-nowrap white lt box-shadow">
            <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none">
                <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i></span>
            </a>
            <ng-template *ngTemplateOutlet="pageTitleTemplate"></ng-template>
            <ng-template *ngTemplateOutlet="actionTemplate"></ng-template>
        </div>
        <div class="pl-3 pr-3 py-2"><app-breadcrumb></app-breadcrumb></div>
        <div id="content-main" class="content-main d-flex flex">
            <router-outlet (activate)='onActivate($event)'></router-outlet>
        </div>
    </div>
</div>