<div class="">
    <!-- header -->
    <div class="web-header contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="box-container fadesimple">
                        <h1 class="display-5 fw-bold mb-4">Get In Touch</h1>
                        <p class="lead">We'd love to hear from you. Reach out to us for any inquiries or support.</p>
                    </div>
                </div>
                <div class="col-lg-6"></div>
            </div>
        </div>
    </div>
    <!-- end of header -->
    <!-- contact -->
    <div id="contact-us" class="py-5">
        <div class="container">
            <div class="text-center mb-5">
                <h2 class="display-5 fw-bold">Drop us an email and will get in touch!</h2>
                <p class="lead mb-4">If you'd like to get in touch with our team, you can reach out by email. Just send
                    your message to:</p>
                <div class="card border-0 shadow-sm d-inline-block">
                    <div class="card-body p-4">
                        <h3 class="text-primary fw-bold">info@enrator.com</h3>
                    </div>
                </div>
                <p class="lead mt-4">Let us know how we can help, and someone will follow up with you shortly.</p>
            </div>
        </div>
    </div>

    <!-- contact us -->

    <!-- contact-us / end -->

    <!-- section start -->
    <!--<div class="team-support">
      <div class="container">
        <div class="col-sm-5 text">
          <div class="default-title">
            <h3>Call our award-winning <span>support team</span></h3>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consectetur.</p>
          </div>
          <h3 class="number"> +1-855-435-8226</h3>
          <br>
          <a href="#" class="button btn btn-lg btn-2 red">Get Started Now</a>
        </div>
      </div>
    </div>-->
    <!-- end of section -->
</div>