<div class="d-flex flex">
    <div class="d-flex flex-column flex">
        <div class="scroll-y d-flex flex-column flex box mb-0 bg-transparent">
            <org-grid [data]="gridData"
                      [options]="gridOptions"
                      [isLoading]="isLoading"
                      (cb)="actionCb($event)"
                      (update)="updateGrid($event)"></org-grid>
        </div>
        <div class="mt-auto">
            <org-grid-pagination [count]="gridOptions?.total" [perPage]="coreState?.take" [page]="coreState?.page"
                                 (cb)="moveToPage($event)">
            </org-grid-pagination>
        </div>
    </div>
</div>
<ng-template #actionTemplate>
    <div class="no-shadow">
        <h6 class="mb-0"> Host Config </h6>
        <small class="float-left"> Management</small>
    </div>
    <div>
        <ul class="nav nav-xs flex-row no-border float-right">
            <!--<li class="nav-item">
                <button class="nav-link" (click)="addFromGlobal()"><i class="fa fa-fw fa-plus"></i> Currency</button>
            </li>-->
            <li class="nav-item">
                <button class="btn btn-sm white" (click)="addHost()"><i class="fa fa-plus"></i> Create</button>
            </li>
        </ul>
    </div>
</ng-template>