<div class="d-flex flex-column flex">
    <!--<div class="navbar box-shadow">
        <div class="input-group flex"><input type="text"
                                             class="form-control px-0 no-bg no-border no-shadow search"
                                             placeholder="Search" required=""> <span
                class="input-group-btn"><button class="btn no-bg no-border no-shadow" type="button"><i
                class="fa fa-search text-muted"></i></button></span></div>
    </div>-->
    <div class="scrollable hover">
        <div class="list">
            <ng-template ngFor let-row [ngForOf]="gridData" let-i="index">
                <div class="p-2 text-muted text-sm">
                    {{ row.name }}
                    <a class="float-right">
                        <small class="badge green mx-1" *ngIf="row.hasDynamicRules">Dynamic Rules</small>
                        <small class="badge green mx-1" *ngIf="!row.hasDynamicRules">Static Rules</small>
                    </a>
                </div>
                <ng-template ngFor let-group [ngForOf]="row.userGroups" let-i="index">
                    <div class="list-item p-1" >
                        <div class="list-body">
                            <a class="item-title _500">{{ group.name }}</a>
                        </div>
                        <div>
                            <div class="d-inline-block">
                                <div class="d-inline-block"><a class="btn btn-xs text-xs p-1 mx-1" (click)="editTeam(group)"><i class="fa fa-edit"></i></a></div>
                                <div class="d-inline-block b-l ml-1">
                                    <a class="btn btn-xs text-xs p-1" *ngIf="group.rules?.length" (click)="showGroup(group)"><i class="fa fa-chevron-right"></i></a>
                                    <a class="text-xs p-1" *ngIf="!group.rules?.length"><i class="fa fa-warning text-danger"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-template>
            <loader [isLoading]="isLoading"></loader>
        </div>
        <div class="no-result hide">
            <div class="p-4 text-center">No Results</div>
        </div>
    </div>
    <div class="mt-auto">
        <org-grid-pagination [count]="gridOptions?.total" [perPage]="coreState?.take" [page]="coreState?.page"
                             (cb)="moveToPage($event)"></org-grid-pagination>
    </div>
</div>