<div class="d-flex flex">
    <form class="d-flex flex-column flex" [formGroup]="customForm" (submit)="onSubmit(customForm)">
        <div class="navbar flex-nowrap white lt box-shadow">
            <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none">
                <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span>
            </a>
            <span class="text-md text-ellipsis flex">Group Setup</span>
            <ul class="nav nav-xs flex-row no-border">
                <li class="nav-item">
                    <button class="nav-link btn btn-sm b-a" (click)="onSubmit(customForm)" [disabled]="!customForm.valid || submitted">
                        <i *ngIf="submitted" class='fa fa-circle-o-notch fa-spin'></i> {{ submitted ? 'Submitting...' : 'Save Group' }}
                    </button>
                </li>
            </ul>
        </div>
        <div class="navbar flex-nowrap navbar flex-nowrap my-3">
            <div class="row flex">
                <div class="col-sm-6">
                    <div class="md-form-group">
                        <input class="md-input" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        <label> Name </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <select-dropdown [items]="apiResolver?.masterType?.categories"
                                     title="Category"
                                     (cb)="updateGroupCategoryId($event)"
                                     [control]="formUserGroupCategoryId"></select-dropdown>
                </div>
                <div class="col-sm-3">
                    <select-dropdown [items]="apiResolver?.masterType?.userTypes"
                                     title="User Type"
                                     (cb)="updateUserTypeId($event)"
                                     [control]="formUserTypeId"></select-dropdown>
                </div>
            </div>
        </div>
        <div class="scrollable hover h-100 px-3">
            <table class="table small-table text-xs mb-0" *ngIf="customForm.value.hasDynamicRules">
                <thead>
                <tr>
                    <th class="w-25">Filter</th>
                    <th style="width: 100px;">Operator</th>
                    <th>Entity</th>
                    <th width="20px"></th>
                </tr>
                </thead>
                <tbody formArrayName="rules">
                <tr *ngFor="let item of formFilterOptions.controls; let i = index;"
                    group-rule-filter [customForm]="item" [index]="i" (onOk)="cb($event)"></tr>
                </tbody>
                <tfoot class="box">
                <tr>
                    <td colspan="4"><a class="text-primary" (click)="addFilterOptions()"><i class="fa fa-plus"></i> Add
                        Filter</a></td>
                </tr>
                </tfoot>
            </table>
            <div *ngIf="!customForm.value.hasDynamicRules">
                Dynamic rules are not applicable to this group...
            </div>
        </div>
        <div class="p-3 mt-auto">
            <a class="btn text-sm text-primary text-primary" *ngIf="customForm.value.hasDynamicRules"
               (click)="addFilterOptions()"><i class="fa fa-plus"></i> Add Filter</a>
            <ul class="nav nav-xs flex-row no-border float-right">
                <li class="nav-item px-2" *ngIf="!hideDynamicResult">
                    <a class="nav-link btn btn-sm b-a" (click)="searchRecord(customForm)">Fetch Records</a>
                </li>
                <li class="nav-item">
                    <button type="submit" class="nav-link btn btn-sm b-a" [disabled]="!customForm.valid || submitted">
                        <i *ngIf="submitted" class='fa fa-circle-o-notch fa-spin'></i> {{ submitted ? 'Submitting...' :
                        'Save Group' }}
                    </button>
                </li>
            </ul>
        </div>
    </form>
    <div class="d-flex flex-column w-xl white h-100 light lt" *ngIf="!hideDynamicResult">
        <div class="navbar box-shadow">
            <div class="input-group flex">
                <input type="text" class="form-control px-0 no-bg no-border no-shadow search" placeholder="Search User for Group Rules" required="">
                <span class="input-group-btn"><button class="btn no-bg no-border no-shadow" type="button"><i class="fa fa-search text-muted"></i></button></span>
            </div>
        </div>
        <div class="p-2 px-3 text-muted text-sm">User By Group Rules</div>
        <div class="scrollable hover h-100">
            <div class="streamline">
                <ng-template ngFor let-row [ngForOf]="userList" let-i="index">
                    <div class="sl-item b-success">
                        <div class="sl-content">
                            <div class="sl-date">
                                {{ row.name }}
                                <a class="text-primary">{{ row.userType }}</a>
                            </div>
                            <p>{{ row.email }}{{ row.mobile }}</p>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>