<div class="navbar navbar-expand-lg">
    <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside" data-pjax-state="">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
            <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z"></path>
        </svg>
    </a>
    <org-logo></org-logo>
    <ng-container *ngIf="isAdminView; else employeeTemplate">
        <ng-template [ngTemplateOutlet]="adminTemplate"></ng-template>
    </ng-container>
</div>
<!--<div class="theme flex-nowrap box-shadow">
    <div class="px-2">
        <div class="d-inline-block float-center">
        <span class="text-sm title _600 px-2">
           Welcome to our Beta website {{appSetup?.software?.name}}
        </span>
            &lt;!&ndash;<button class="btn btn-xs btn-rounded theme border mx-2 b-light" (click)="showFeedback()">Feedback</button>&ndash;&gt;
        </div>
        <ng-container *ngIf="isAdminView; else employeeTemplate">
            <ng-template [ngTemplateOutlet]="adminTemplate"></ng-template>
        </ng-container>
    </div>
</div>-->
<ng-template #adminTemplate>
    <div class="collapse navbar-collapse order-lg-1">
        <!--<ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">
            <li class="nav-item"><a href="dashboard.7.html" class="nav-link" data-pjax-state="">Dashboard</a></li>
            <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                             data-pjax-state="">Apps</a>
                <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn"><a href="app.user.html"
                                                                              class="dropdown-item"
                                                                              data-pjax-state="">Users </a><a
                        href="app.message.html" class="dropdown-item" data-pjax-state="">Messages </a><a
                        href="app.inbox.html" class="dropdown-item" data-pjax-state="">Inbox </a><a
                        href="ui.calendar.html" class="dropdown-item" data-pjax-state="">Calendar</a></div>
            </li>
        </ul>-->
    </div>
    <ul class="nav flex-row order-lg-2">
        <li class="nav-item">
            <a class="btn btn-xs text-xs px-2" (click)="goBackToEmployeePortal()">Go Back to App</a>
        </li>
        <li class="nav-item align-items-center px-2 b-r b-l" *ngIf="isAuthenticated$ | async">
            <span id="email">{{email}}</span>
        </li>
        <li class="nav-item align-items-center px-2 b-r b-l" *ngIf="isAuthenticated$ | async">
            <a class="btn btn-xs text-xs theme text-theme" (click)="logout()"><i class="fa fa-power-off px-1"></i>Sign Out</a>
        </li>
    </ul>
</ng-template>
<ng-template #employeeTemplate>
    <div class="collapse navbar-collapse order-lg-1" id="navbarToggler">
        <!--<ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">
            <li class="nav-item"><a href="dashboard.7.html" class="nav-link" data-pjax-state="">Dashboard</a></li>
            <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                             data-pjax-state="">Apps</a>
                <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn"><a href="app.user.html"
                                                                              class="dropdown-item"
                                                                              data-pjax-state="">Users </a><a
                        href="app.message.html" class="dropdown-item" data-pjax-state="">Messages </a><a
                        href="app.inbox.html" class="dropdown-item" data-pjax-state="">Inbox </a><a
                        href="ui.calendar.html" class="dropdown-item" data-pjax-state="">Calendar</a></div>
            </li>
        </ul>-->
        <form class="input-group m-2 my-lg-0"><span class="input-group-btn"><button type="button"
                                                                                    class="btn no-border no-bg no-shadow"><i
                class="fa fa-search"></i></button> </span><input type="text"
                                                                 class="form-control no-border no-bg no-shadow"
                                                                 placeholder="Search projects..."></form>
    </div>
    <ul class="nav flex-row order-lg-2">
        <li class="nav-item" *ngIf="appSetup?.license?.showExpiryWarning">
            <a class="btn btn-xs text-xs text-danger" [routerLink]="['subscription', 'payment']">
                Renew License {{appSetup?.license?.validityInDays}} days
            </a>
        </li>
        <!--<li class="nav-item d-flex align-items-center" *ngIf="coreService?.activeOrgSession">
            <a class="btn btn-xs text-xs border theme dropdown-toggle mx-2" data-toggle="dropdown">
                {{coreService?.activeOrgSession?.name}}
            </a>
            <div class="dropdown-menu dropdown-menu-right w pt-0 mt-2 animate fadeIn">
                <a class="dropdown-item" *ngFor="let item of orgLookup?.orgSessions"
                   (click)="updateAppSession(item)">{{ item?.name }}</a>
            </div>
        </li>-->
        <li class="nav-item dropdown align-items-center" *ngIf="orgOptions?.hasMultiLanguage">
            <button class="btn btn-xs btn-outline border dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">
                <span class="hidden-folded d-inline">Language</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right w pt-0 mt-2 animate fadeIn" x-placement="bottom-start">
                <li class="dropdown-item"
                    *ngFor="let lan of orgLookup?.languages; let i = index;">
                    <i class="fa fa-dot-circle-o text-success"></i>
                    <a (click)="updateLanguage(lan)">{{lan?.name}}</a>
                </li>
            </ul>
        </li>
        <li class="nav-item align-items-center">
            <a class="text-xs px-2"><i class="fa fa-globe"></i> {{ appSetup?.countryName }}</a>
            <a class="btn btn-xs text-xs theme text-theme" (click)="showGlobalFilterPopup()">
                <i class="fa fa-filter"></i>
            </a>
        </li>
        <li class="nav-item align-items-center px-2 b-r b-l">
            <div class="dropdown d-flex">
                <a href="#" class="d-flex align-items-center theme text-theme dropdown-toggle"
                   data-toggle="dropdown"
                   data-pjax-state="">Links</a>
                <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-start">
                    <li class="dropdown-item">
                        <a href="https://www.google.com" target="_blank">Google</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item align-items-center px-2 b-r b-l">
            <div class="dropdown d-flex">
                <a href="#" class="d-flex align-items-center theme text-theme dropdown-toggle" data-toggle="dropdown" data-pjax-state="">Modules</a>
                <div class="dropdown-menu dropdown-menu-right w w-xxl animate fadeIn" style="width: 500px"
                     [ngSwitch]="appSetup?.softwareCode">
                    <div *ngSwitchCase="'IMS'">
                        <ng-container *ngTemplateOutlet="educationModuleTemplate"></ng-container>
                    </div>
                    <div *ngSwitchCase="'RMS'">
                        <ng-container *ngTemplateOutlet="constructionModuleTemplate"></ng-container>
                    </div>
                    <div *ngSwitchCase="'TMS'">
                        <ng-container *ngTemplateOutlet="transportationModuleTemplate"></ng-container>
                    </div>
                    <div *ngSwitchDefault>
                        <ng-template *ngTemplateOutlet="navbarRightTemplate"></ng-template>
                    </div>
                </div>
            </div>
        </li>
        <!--<li class="nav-item align-items-center px-2 b-r b-l" *ngIf="isAuthenticated$ | async">
          <a class="btn btn-xs text-xs theme text-theme" (click)="logout()"><i class="fa fa-power-off px-1"></i>Sign Out</a>
        </li>-->
        <li class="nav-item">
            <a class="btn btn-xs theme text-theme" (click)="showBellPopup()">
                <i class="fa fa-bell text-muted"></i>
                <!--<span class="badge badge-pill up danger" style="left: -0.3rem;top: -0.5rem;" *ngIf="newNotificationCount > 0">{{newNotificationCount}}</span>-->
            </a>
        </li>
        <li class="nav-item align-items-center">
            <a title="Support Ticket?" class="btn btn-xs btn-icon btn-rounded" (click)="createSupportTicket()"><i class="fa fa-support"></i></a>
        </li>
        <li class="nav-item align-items-center">
            <a class="btn btn-xs theme text-theme" (click)="toggleThemeSwitcher()" title="Theme Switcher"><i class="fa fa-wrench"></i></a>
        </li>
        <li class="nav-item align-items-center dropdown" *ngIf="isAuthenticated$ | async">
            <div class="dropdown d-flex">
                <a href="#" data-toggle="dropdown" class="d-flex align-items-center theme text-theme dropdown-toggle">
                    <span class="avatar theme text-theme circle"></span>
                    <span id="email">{{email}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right w animate fadeIn"  x-placement="bottom-start">
                    <!--<a class="dropdown-item text-truncate" *ngIf="isAuthenticated$ | async">{{email}}</a>-->
                    <a class="dropdown-item" (click)="routeToUrl('profile')">profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-truncate" [routerLink]="['support','ticket']" title="Tickets">Tickets</a>
                    <a class="dropdown-item" (click)="logout()" *ngIf="isAuthenticated$ | async"><i class="fa fa-power-off px-1"></i>Sign Out</a>
                </div>
            </div>
        </li>
        <li class="d-lg-none d-flex align-items-center">
            <a href="#" class="mx-2" data-toggle="collapse" data-target="#navbarToggler" data-pjax-state="">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
                    <path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z"></path>
                </svg>
            </a>
        </li>
    </ul>
</ng-template>
<ng-template #educationModuleTemplate>
    <ng-template *ngTemplateOutlet="navbarRightTemplate"></ng-template>
    <li class="nav-item dropdown d-flex align-items-center px-2">
        <button class="btn btn-sm btn-outline border text-theme b-theme dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="hidden-folded d-inline">Session & Batch</span>
        </button>
        <ul class="dropdown-menu animate fadeIn" x-placement="bottom-start">
            <li class="dropdown-item">
                <a [routerLink]="['session']" class="d-block">
                    <small class="d-block _500 title">Session & Batch</small>
                </a>
            </li>
        </ul>
    </li>
    <div class="row no-gutters px-2 pb-2">
        <div class="col">
            <div class="px-1 text-muted text-sm b-b b-theme">Batch Setup</div>
            <ul class="p-0 d-inline">
                <li class="dropdown-item">
                    <a [routerLink]="['session']">
                        <small class="d-block _500 title">Session & Batch</small>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
            </ul>
        </div>
    </div>
</ng-template>
<ng-template #constructionModuleTemplate>
    <ng-template *ngTemplateOutlet="navbarRightTemplate"></ng-template>
</ng-template>
<ng-template #transportationModuleTemplate>
    <ng-template *ngTemplateOutlet="navbarRightTemplate"></ng-template>
</ng-template>
<ng-template #orgModuleTemplate>
    <div class="row no-gutters px-2 pb-2">
        <div class="col-12 px-1 text-muted text-sm b-b b-theme">Quick access options</div>
        <div class="col dropdown-item">
            <a (click)="routeToSetupPath('org-setup')" class="d-block text-center">
                <i class="fa text-sm fa-institution text-muted"></i>
                <small class="d-block _500 title">Org Setup</small>
            </a>
        </div>
        <div class="col dropdown-item">
            <a (click)="routeToModulePath('process')" class="d-block text-center">
                <i class="fa text-sm fa fa-user-circle text-muted"></i>
                <small class="d-block _500 title">Process Setup</small>
            </a>
        </div>
        <div class="col dropdown-item">
            <a (click)="routeToModulePath('subscription')" class="d-block text-center">
                <i class="fa text-sm fa fa-leaf text-muted"></i>
                <small class="d-block _500 title">Subscription Setup</small>
            </a>
        </div>
    </div>
    <div class="row no-gutters px-2 pb-2">
        <div class="col-12 px-1 text-muted text-sm b-b b-theme">Finance & Regulation</div>
        <div class="col-4 dropdown-item">
            <a (click)="routeToModulePath('accounting')" class="d-block text-center">
                <i class="fa text-sm fa-institution text-muted"></i>
                <small class="d-block _500 title">Account & Finance</small>
            </a>
        </div>
        <div class="col-4 dropdown-item">
            <a (click)="routeToModulePath('trxn-setup')" class="d-block text-center">
                <i class="fa text-sm fa fa-users text-muted"></i>
                <small class="d-block _500 title">Bank & Transaction Setup</small>
            </a>
        </div>
        <div class="col-4 dropdown-item">
            <a (click)="routeToModulePath('tax-management')" class="d-block text-center">
                <i class="fa text-sm fa fa fa-money text-muted"></i>
                <small class="d-block _500 title">Tax management</small>
            </a>
        </div>
        <div class="col-4 dropdown-item">
            <a (click)="routeToModulePath('payroll')" class="d-block text-center">
                <i class="fa text-sm fa fa-check-square-o text-muted"></i>
                <small class="d-block _500 title">Payroll</small>
            </a>
        </div>
        <div class="col-4 dropdown-item">
            <a (click)="routeToModulePath('compliance')" class="d-block text-center">
                <i class="fa text-sm fa fa-users text-muted"></i>
                <small class="d-block _500 title">Compliance Setup</small>
            </a>
        </div>
        <div class="col-4 dropdown-item">
            <a (click)="routeToModulePath('org-team')" class="d-block text-center">
                <i class="fa text-sm fa fa-building text-muted"></i>
                <small class="d-block _500 title">Team</small>
            </a>
        </div>
        <div class="col-4 dropdown-item">
            <a (click)="routeToModulePath('notification')" class="d-block text-center">
                <i class="fa text-sm fa fa-bell text-muted"></i>
                <small class="d-block _500 title">Notification</small>
            </a>
        </div>
    </div>
    <div class="row no-gutters px-2 pb-2">
        <div class="col-12 px-1 text-muted text-sm b-b b-theme">Reports</div>
        <div class="col dropdown-item">
            <a (click)="routeToModulePath('reports')" class="d-block text-center">
                <i class="fa text-sm fa-institution text-muted"></i>
                <small class="d-block _500 title">Voucher Reports</small>
            </a>
        </div>
        <div class="col dropdown-item">
        </div>
        <div class="col dropdown-item">
        </div>
    </div>
</ng-template>
<ng-template #navbarRightTemplate>
    <ng-container *ngTemplateOutlet="orgModuleTemplate"></ng-container>
    <!--<div class="row no-gutters px-2 pb-2">
        <div class="col">
            <div class="px-1 text-muted text-sm b-b b-theme">Account & Finance</div>
            <ul class="p-0 d-inline">
                <li class="dropdown-item">
                    <a [routerLink]="['accounting', 'ledger']">
                        <small class="d-block _500 title">Account</small>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a [routerLink]="['accounting', 'book']">
                        <small class="d-block _500 title">Account Book</small>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a [routerLink]="['accounting', 'report']">
                        <small class="d-block _500 title">Financial Report</small>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                    <a [routerLink]="['office-expense']">
                        <small class="d-block _500 title">Office Expenses</small>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                    <a [routerLink]="['accounting', 'trxn']">
                        <small class="d-block _500 title">Trxn Report</small>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col">
            <div class="px-1 text-muted text-sm b-b b-theme">Reports</div>
            <ul class="p-0 d-inline">
                <li class="dropdown-item">
                    <a [routerLink]="['reports', 'sale']">
                        <small class="d-block _500 title">Sale Report</small>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a [routerLink]="['reports', 'purchase']">
                        <small class="d-block _500 title">Purchase Report</small>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a [routerLink]="['reports', 'payment']">
                        <small class="d-block _500 title">Payment Report</small>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a [routerLink]="['reports', 'receipt']">
                        <small class="d-block _500 title">Receipt Report</small>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                    <a [routerLink]="['reports', 'inventory']">
                        <small class="d-block _500 title">Inventory Report</small>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col">
            <div class="px-1 text-muted text-sm b-b b-theme">Audit & Compliance</div>
            <ul class="p-0 d-inline">
                <li class="dropdown-item">
                    <a [routerLink]="['compliance']">
                        <small class="d-block _500 title">Compliance</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>-->
</ng-template>
