<div class="app">
    <div class="app-content box-shadow-0" role="main">
        <div class="navbar flex-nowrap lt">
            <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none" data-pjax-state="">
                <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span>
            </a>
            <div class="no-shadow">
                <h6 class="mb-0"> Process </h6>
                <small class="float-left"> Management</small>
            </div>
            <div class="nav-active-border b-theme px-4 px-md-0">
                <ul class="nav nav-xs flex-row">
                    <li class="nav-item"><a class="nav-link" routerLink="info" routerLinkActive="active">Process</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="task" routerLinkActive="active">Tasks</a></li>
                </ul>
            </div>
        </div>
        <div class="content-main d-flex flex">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>