<form class="p-0" [formGroup]="customForm">
    <div class="d-flex align-items-stretch" formGroupName="daily">
        <div class="d-flex text-xs">
            <div class="_500 p-1">Recur every:</div>
            <div class="flex d-block flex-column">
                <input type="number" style="width: 30px;" class="md-input" formControlName="dayInterval" [ngClass]="{ 'is-invalid': f['dayInterval'].errors }">days
                <select class="md-input" style="width: 40px" formControlName="hourInterval">
                    <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
                </select>Hr
                <select class="md-input" style="width: 40px" formControlName="minuteInterval">
                    <option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</option>
                </select>
                <small>Minute</small>
            </div>
        </div>
    </div>
</form>
