<form class="p-0" [formGroup]="customForm">
    <div class="d-flex align-items-stretch" formGroupName="weekly">
        <div class="d-flex text-xs">
            <div class="_500 p-1">Recur every:</div>
            <div class="flex d-block flex-column">
                <input type="number" style="width: 50px;" class="md-input" formControlName="weekInterval" [ngClass]="{ 'is-invalid': f['weekInterval'].errors }"> weeks on:
            </div>
        </div>
    </div>
    <div class="d-flex text-xs" formGroupName="weekly">
        <div class="flex d-block flex-column">
            <label class="md-check float-right">
                <input #allWeekDay type="checkbox" formControlName="isAllWeekDay" (change)="isAllApply(weekDayNoFromArray, allWeekDay.checked)">
                <i class="theme"></i>All Week
            </label>
            <div class="form-control clear">
                <div class="row" formArrayName="weekDayNo">
                    <div class="col-4" *ngFor="let item of weekDayNoFromArray.controls; let i=index;" [formGroupName]="i">
                        <label class="md-check">
                            <input type="checkbox" formControlName="isChecked"> <i class="blue"></i>
                            <small>{{ item.get('name').value }}</small>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
