<div class="app-content box-shadow-0" role="main">
    <div class="content-main d-flex flex" id="content-main">
        <div class="d-flex flex">
            <div class="fade aside aside-sm" id="content-aside">
                <div class="d-flex flex-column w-xl modal-dialog">
                    <!--<a class="nav-link" (click)="addProcess()">
                        <span class="btn btn-sm btn-block btn-rounded theme"><i class="fa fa-plus float-left"></i>Process</span>
                    </a>-->
                    <div class="p-2 px-3">
                        <span class="text-muted text-sm">Process</span>
                        <!--                        <a class="btn btn-xs b-theme text-theme text-xs border-0 float-right" (click)="showProcessPhases()"><i class="fa fa-cogs"></i> Phases</a>-->
                        <!--                        <a class="btn btn-xs b-theme text-theme text-xs border-0 float-right" (click)="showScheduledTasks()"><i class="fa fa-tasks"></i> Tasks</a>-->
                    </div>
                    <div class="scrollable hover pt-2">
                        <process-tree [data]="processTree"
                                (select)="onProcessSelected($event)"></process-tree>
                    </div>
                    <div class="p-3 mt-auto"><span class="text-sm text-muted"></span></div>
                </div>
            </div>
            <div class="d-flex flex" id="content-body">
                <div class="d-flex flex-column flex">
                    <div class="navbar flex-nowrap white lt box-shadow">
                        <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none" data-pjax-state="">
                            <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i></span>
                        </a>
                        <a class="no-shadow">
                            <h6 class="mb-0">{{selectedProcess?.name}}</h6>
                            <small class="float-left"> Management</small>
                        </a>
                        <!--<ul class="nav nav-xs flex-row no-border" *ngIf="selectedProcess">
                            <li class="nav-item">
                                <a class="btn btn-xs text-xs b-theme text-theme border-0" (click)="addProcess(activeOrgProcess)">
                                    <i class="fa fa-plus pr-1"></i> Process
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-xs text-xs b-theme text-theme border-0" (click)="addTask(activeOrgProcess)">
                                    <i class="fa fa-plus pr-1"></i> Task
                                </a>
                            </li>
                        </ul>-->
                        <ul class="nav nav-xs flex-row" *ngIf="selectedProcess">
                            <li class="nav-item" (click)="openTab(tabs.phases)">
                                <a class="nav-link" [class.active]="tabs.phases == activeTab">Phases</a>
                            </li>
                            <li class="nav-item" (click)="openTab(tabs.tasks)">
                                <a class="nav-link" [class.active]="tabs.tasks == activeTab">Tasks</a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex flex-column flex" [class.hide]="activeTab != tabs.phases">
                        <phase-list
                                class="designer-panel phase-list-panel"
                                [process]="selectedProcess"
                                [phases]="phases"
                                (select)="onPhaseSelected($event)" (edit)="onPhaseEdit($event)" (create)="onPhaseCreate($event)"
                                (notification)="onPhaseNotification($event)" (manageTemplates)="onPhaseTemplates($event)" (showStepTask)="onShowStepTask($event)" (editStep)="onEditStep($event)"
                        >
                        </phase-list>
                        <workflow-canvas class="designer-panel canvas-panel" [phases]="phases" [transitions]="phaseTransitions">
                        </workflow-canvas>
                    </div>
                    <div class="d-flex flex-column flex" [class.hide]="activeTab != tabs.tasks">
                        <div class="navbar flex-nowrap white lt box-shadow">
                            <a data-toggle="modal" data-target="#content-aside"
                               data-modal="" class="mr-1 d-md-none"
                               data-pjax-state=""><span
                                    class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span></a>
                            <span class="text-md text-ellipsis flex">Chat with Robot</span>
                            <ul class="nav nav-xs flex-row no-border">
                                <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#profile"
                                                        data-modal="" data-pjax-state=""><span
                                        class="btn btn-sm btn-icon btn-rounded success"><i class="fa fa-user"></i></span></a>
                                </li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" title=""
                                                        data-original-title="Phone Call" data-pjax-state=""><span
                                        class="btn btn-sm btn-icon btn-rounded white"><i class="fa fa-phone"></i></span></a>
                                </li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" title=""
                                                        data-original-title="Face Call" data-pjax-state=""><span
                                        class="btn btn-sm btn-icon btn-rounded white"><i class="fa fa-video-camera"></i></span></a>
                                </li>
                            </ul>
                        </div>
                        <phase-task-grid [process]="selectedProcess" [step]="selectedStepForTasks"></phase-task-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="designer">
    &lt;!&ndash; Process Tree &ndash;&gt;
    <process-tree
            class="designer-panel process-tree-panel"
            [data]="processTree"
            (select)="onProcessSelected($event)">
    </process-tree>
    <div class="d-flex flex">
        <div class="d-flex flex-column flex">
            <div class="navbar flex-nowrap white lt box-shadow">
                <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none" data-pjax-state="">
                    <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span>
                </a>
                <div class="no-shadow">
                    <h6 class="mb-0"> {{ selectedProcess?.name }} </h6>
                    <small class="float-left"> Management</small>
                </div>
                <div class="nav-active-border b-theme px-4 px-md-0">
                    <ul class="nav nav-xs float-right">
                        <li>
                            <a class="btn btn-xs">FLow Chart</a>
                        </li>
                    </ul>
                    <ul class="nav nav-xs flex-row">
                        <li class="nav-item" (click)="openTab(tabs.phases)">
                            <a class="nav-link" [class.active]="tabs.phases == activeTab">Phases</a>
                        </li>
                        <li class="nav-item" (click)="openTab(tabs.tasks)">
                            <a class="nav-link" [class.active]="tabs.tasks == activeTab">Tasks</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-column flex" [class.hide]="activeTab != tabs.phases">
                <phase-list
                        class="designer-panel phase-list-panel"
                        [process]="selectedProcess"
                        [phases]="phases"
                        (select)="onPhaseSelected($event)" (edit)="onPhaseEdit($event)" (create)="onPhaseCreate($event)"
                        (notification)="onPhaseNotification($event)" (manageTemplates)="onPhaseTemplates($event)" (showStepTask)="onShowStepTask($event)" (editStep)="onEditStep($event)"
                >
                </phase-list>
                <workflow-canvas class="designer-panel canvas-panel" [phases]="phases" [transitions]="phaseTransitions">
                </workflow-canvas>
            </div>
            <div class="d-flex flex-column flex" [class.hide]="activeTab != tabs.tasks">
                <div class="navbar flex-nowrap white lt box-shadow">
                    <a data-toggle="modal" data-target="#content-aside"
                       data-modal="" class="mr-1 d-md-none"
                       data-pjax-state=""><span
                            class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span></a>
                    <span class="text-md text-ellipsis flex">Chat with Robot</span>
                    <ul class="nav nav-xs flex-row no-border">
                        <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#profile"
                                                data-modal="" data-pjax-state=""><span
                                class="btn btn-sm btn-icon btn-rounded success"><i class="fa fa-user"></i></span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" title=""
                                                data-original-title="Phone Call" data-pjax-state=""><span
                                class="btn btn-sm btn-icon btn-rounded white"><i class="fa fa-phone"></i></span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" title=""
                                                data-original-title="Face Call" data-pjax-state=""><span
                                class="btn btn-sm btn-icon btn-rounded white"><i class="fa fa-video-camera"></i></span></a>
                        </li>
                    </ul>
                </div>
                <phase-task-grid [process]="selectedProcess" [step]="selectedStepForTasks"></phase-task-grid>
            </div>
        </div>
    </div>
</div>-->
