<ng-template #popupOptionsTemplate></ng-template>
<form class="d-flex flex" [formGroup]="customForm">
    <div class="d-flex flex animate fadeIn">
        <div class="d-flex flex-column flex">
            <div class="d-flex flex">
                <div class="d-flex flex-column flex p-2">
                    <div class="row row-sm">
                        <div class="col-sm-7">
                            <div class="md-form-group">
                                <input class="md-input" formControlName="name"
                                       [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                                <label> Name </label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="md-form-group">
                                <select class="md-input" formControlName="regulatoryId">
                                    <ng-template ngFor let-entity [ngForOf]="lookup?.regulatories" let-i="index">
                                        <option [value]="entity.id">{{entity.name}}</option>
                                    </ng-template>
                                </select>
                                <label>Regulatory</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group">
                                <input class="md-input" formControlName="description"
                                       [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">
                                <label> Description </label>
                            </div>
                        </div>
                    </div>
                    <div class="row row-sm">
                        <div class="col-sm-5">
                            <div class="md-form-group">
                                <select class="md-input" formControlName="complianceTypeId">
                                    <ng-template ngFor let-entity [ngForOf]="lookup?.complianceTypes" let-i="index">
                                        <option [value]="entity.id">{{entity.name}}</option>
                                    </ng-template>
                                </select>
                                <label>Compliance Type</label>
                            </div>
                        </div>
                        <div class="col-sm-4" *ngIf="subscriptions?.length">
                            <div class="md-form-group">
                                <select class="md-input" formControlName="subscriptionId">
                                    <option value="" selected> N/A</option>
                                    <ng-template ngFor let-entity [ngForOf]="subscriptions" let-i="index">
                                        <option [value]="entity.id">{{entity.name}}</option>
                                    </ng-template>
                                </select>
                                <label>Subscription</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="md-form-group">
                                <select class="md-input text-xs" formControlName="taxRegimeId">
                                    <option value="" selected> N/A</option>
                                    <option *ngFor="let entity of lookup?.taxRegimes;"
                                            [ngValue]="entity.id"> {{entity.name}}</option>
                                </select>
                                <label class="text-xs text-muted m-0">Tax Regime</label>
                            </div>
                        </div>
                    </div>
                    <div class="row row-sm">
                        <div class="col-sm-4">
                            <div class="md-form-group">
                                <select class="md-input" formControlName="taskId">
                                    <ng-template ngFor let-entity [ngForOf]="lookup?.orgTaskConfigs" let-i="index">
                                        <option [value]="entity.id">{{entity.name}}</option>
                                    </ng-template>
                                </select>
                                <label>Task</label>
                            </div>
                        </div>
                        <!--<div class="col-sm-3">
                            <div class="md-form-group">
                                <input class="md-input text-right" style="width: 70px" formControlName="rate" [ngClass]="{ 'is-invalid': submitted && f.rate.errors }">
                                <select class="md-input" formControlName="calculationType" style="width: 70px">
                                    <option *ngFor="let entity of apiResolver.masterType?.calculationTypes;" [ngValue]="entity.id"> {{entity.name}}</option>
                                </select>
                                <label class="text-xs text-muted m-0">Rate</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="md-form-group">
                                <div class="text-xs" style="float: right;position: absolute;top: 0px;right: 0px;">
                                    <label class="md-check">
                                        <input type="checkbox" formControlName="isExemptedForTaxation">
                                        <i class="theme"></i>Tax Exempted
                                    </label>
                                </div>
                                <input class="md-input" type="number" formControlName="taxRebateRate" [ngClass]="{ 'is-invalid': submitted && f.taxRebateRate.errors }">
                                <label>Tax Credit Rate (%)</label>
                            </div>
                        </div>-->
                        <div class="col-sm-6">
                            <user-type-ahead
                                    controlTitle="Employee Executive (Search using email First/ last name)"
                                    userType="employee"
                                    (cb)="updateEmpExecutive($event)"
                                    [controlId]="formEmpExecutiveId?.value"
                                    [controlValue]="formEmpExecutive?.value"></user-type-ahead>
                        </div>
                        <div class="col-12">
                            <!--<add-reminder [orgTaskId]="orgTaskId"></add-reminder>
                            <task-schedule [orgTaskId]="orgTaskId"></task-schedule>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--<loader [isLoading]="isLoading"></loader>-->
        </div>
        <ng-template #footerTemplate>
            <div>
                <div class="float-left">
                    <status-check [customForm]="customForm"></status-check>
                </div>
                <ul class="nav nav-xs no-border float-right">
                    <li class="nav-item">
                        <button type="click" class="btn btn-xs theme" data-dismiss="modal"
                                (click)="onSubmit(customForm)" [disabled]="!customForm.valid || submitted">
                            <i *ngIf="submitted" class='fa fa-circle-o-notch fa-spin'></i> {{ submitted ?
                            'Submitting...' : actionType}}
                        </button>
                    </li>
                </ul>
            </div>
        </ng-template>
    </div>
</form>
