<div class="flex">
  <div class="row">
    <label for="sessionFltr" class="col-sm-3 col-form-label">Session</label>
    <div class="col-sm-9">
<!--      <slider-dropdown id="sessionFltr" [data]="service?.data?.orgSession" [parentId]="" [childId]=""></slider-dropdown>-->
    </div>
  </div>
  <div class="row">
    <label for="studyModeFltr" class="col-sm-3 col-form-label">Study Mode</label>
    <div class="col-sm-9">
<!--      <slider-dropdown id="studyModeFltr" [data]="service?.data?.studyModes" [parentId]="" [childId]=""></slider-dropdown>-->
    </div>
  </div>
  <div class="row">
    <label for="courseFltr" class="col-sm-3 col-form-label">Course</label>
    <div class="col-sm-9">
<!--      <slider-dropdown id="courseFltr" [data]="service?.data?.course" (cb)="populateCourse($event)" [parentId]="" [childId]=""></slider-dropdown>-->
    </div>
  </div>
  <div class="row">
    <label for="classFltr" class="col-sm-3 col-form-label">Classes</label>
    <div class="col-sm-9">
<!--      <slider-dropdown id="classFltr" [data]="service?.data?.classes" (cb)="populateClass($event)" [parentId]="" [childId]=""></slider-dropdown>-->
    </div>
  </div>
  <!--<div class="row py-1">
    <div class="col">
      <div class="input-group ">
        <div  class="form-control">
          <slider-dropdown [data]="service?.data?.classes" (cb)="populateClass($event)" [parentId]="" [childId]=""></slider-dropdown>
        </div>
        <div class="input-group-append">
          <button class="btn white dropdown-toggle text-theme theme" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Class
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another
            action</a> <a class="dropdown-item" href="#">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>
