<div class="theme flex-nowrap box-shadow">
  <!--*ngIf="coreService.hasValidAppHeader && !coreService.isRootUser"-->
  <div class="px-2">
    <div class="d-inline-block float-center">
            <span class="text-sm title _600 px-2">
                Welcome to our Beta website<!-- - Tell us what you think!-->
            </span>
      <!--<button class="btn btn-xs btn-rounded theme border mx-2 b-light" (click)="showFeedback()">Feedback</button>-->
    </div>
    <div class="d-inline-block float-right">
      <ul class="nav nav-xs float-right _600">
        <li class="nav-item">
          <a class="text-danger text-xs px-2" (click)="goBackToEmployeePortal()">Go Back to App</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="app" id="app">
    <!--<org-aside showInbox="true" [data]="navList"></org-aside>-->
    <div id="content" class="app-content box-shadow-0" role="main">
        <div class="content-header white box-shadow" id="content-header">
            <!--d-lg-none-->
            <div class="navbar navbar-expand-lg">
                <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                        <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z"></path>
                    </svg>
                </a>
                <div class="navbar-text nav-title flex" id="pageTitle"></div>
                <ul class="nav flex-row order-lg-2">
                    <ng-template *ngTemplateOutlet="navbarRightTemplate"></ng-template>
                    <li class="dropdown d-flex align-items-center show">
                        <div class="dropdown-menu dropdown-menu-right pt-0 mt-2 animate fadeIn">
                            <a class="dropdown-item" (click)="routeToUrl('profile')"><span>layout.profile</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-truncate" [routerLink]="['support','ticket']" title="Tickets">Tickets</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="pl-3 pr-3 py-2">
            <breadcrumb></breadcrumb>
        </div>-->
        <div class="content-main d-flex flex" id="content-main">
            <router-outlet (activate)='onActivate($event)'></router-outlet>
        </div>
    </div>
</div>
<ng-template #navbarRightTemplate>
    <li class="nav-item dropdown d-flex align-items-center px-2">
        <button class="btn btn-sm btn-outline border text-theme b-theme dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="hidden-folded d-inline">External</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-start">
            <li class="dropdown-item">
                <a href="https://www.google.com" target="_blank">Google</a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown d-flex align-items-center px-2">
        <button class="btn btn-sm btn-outline border text-theme b-theme dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="hidden-folded d-inline">Session & Batch</span>
        </button>
        <ul class="dropdown-menu animate fadeIn" x-placement="bottom-start">
            <li class="dropdown-item">
                <a [routerLink]="['session']" class="d-block">
                    <small class="d-block _500 title">Session & Batch</small>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown d-flex align-items-center px-2">
        <button class="btn btn-sm btn-outline border text-theme b-theme dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="hidden-folded d-inline">Account & Finance</span>
        </button>
        <ul class="dropdown-menu animate fadeIn" x-placement="bottom-start">
            <li class="dropdown-item">
                <a [routerLink]="['accounting', 'ledger']">
                    <small class="d-block _500 title">Account</small>
                </a>
            </li>
            <li class="dropdown-item">
                <a [routerLink]="['accounting', 'book']">
                    <small class="d-block _500 title">Account Book</small>
                </a>
            </li>
            <li class="dropdown-item">
                <a [routerLink]="['accounting', 'report']">
                    <small class="d-block _500 title">Financial Report</small>
                </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
                <a [routerLink]="['office-expense']">
                    <small class="d-block _500 title">Office Expenses</small>
                </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
                <a [routerLink]="['accounting', 'trxn']">
                    <small class="d-block _500 title">Trxn Report</small>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown d-flex align-items-center px-2">
        <button class="btn btn-sm btn-outline border text-theme b-theme dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="hidden-folded d-inline">Reports</span>
        </button>
        <ul class="dropdown-menu animate fadeIn" x-placement="bottom-start">
            <li class="dropdown-item">
                <a [routerLink]="['reports', 'sale']">
                    <small class="d-block _500 title">Sale Report</small>
                </a>
            </li>
            <li class="dropdown-item">
                <a [routerLink]="['reports', 'purchase']">
                    <small class="d-block _500 title">Purchase Report</small>
                </a>
            </li>
            <li class="dropdown-item">
                <a [routerLink]="['reports', 'payment']">
                    <small class="d-block _500 title">Payment Report</small>
                </a>
            </li>
            <li class="dropdown-item">
                <a [routerLink]="['reports', 'receipt']">
                    <small class="d-block _500 title">Receipt Report</small>
                </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
                <a [routerLink]="['reports', 'inventory']">
                    <small class="d-block _500 title">Inventory Report</small>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown d-flex align-items-center px-2">
        <button class="btn btn-sm btn-outline border text-theme b-theme dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="hidden-folded d-inline">Audit & Compliance</span>
        </button>
        <ul class="dropdown-menu animate fadeIn" x-placement="bottom-start">
            <li class="dropdown-item">
                <a [routerLink]="['compliance']">
                    <small class="d-block _500 title">Compliance</small>
                </a>
            </li>
        </ul>
    </li>
</ng-template>
