<div class="d-flex flex-column">
  <div class="p-2 px-3">
    <span class="text-muted text-sm">Phases</span>
    <button class="btn btn-xs b-theme text-theme text-xs border-0 float-right" (click)="create.emit(null)"><i class="fa fa-plus"></i> Phases</button>
  </div>
  <div class="scrollable hover pt-2">
    <div class="list-group list-group-gap px-2">
      <ng-template ngFor let-row [ngForOf]="phases | sortBy:'asc': 'sortOrder'"  let-i="index">
        <div class="list-group-item p-1 pl-2 box" @fade>
          <div class="float-right">
            <span class="btn btn-xs btn-icon" (click)="select.emit(row)">
              <i class="fa fa-wrench"></i>
            </span>
            <span class="btn btn-xs btn-icon" (click)="edit.emit(row)">
              <i class="fa fa-edit"></i>
            </span>
          </div>
          <div class="list-body text-xs">
            <b class="badge badge-pill text-success up"><i class="fa fa-lock text-sm" *ngIf="row.isLocked"></i></b>
            <span class="_500" [style.color]="row.color">{{ row.name }}</span>
            <div>
              {{row.steps | json}}
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>