<form class="d-flex flex-column" [formGroup]="customForm">
    <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="md-form-group">
                        <input class="md-input" formControlName="name">
                        <label> Name </label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <label class="md-switch"
                           style="position: absolute; float: right; z-index: 999; right: 15px; top: -3px;">
                        <input type="checkbox" checked="checked" formControlName="isFeatured"><i class="theme"></i>
                        Featured
                    </label>
                    <div class="md-form-group">
                        <input class="md-input" formControlName="description">
                        <label> Description </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="md-form-group pb-0">
                        <input class="md-input" formControlName="barCode">
                        <label> Barcode </label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form-group pb-0">
                        <input class="md-input" formControlName="sku">
                        <label> SKU </label>
                    </div>
                </div>
                <div class="col">
                    <select-dropdown [items]="lookupResolver.masterType?.unitTypes"
                                     title="Unit"
                                     (cb)="updateUnitType($event)"
                                     [control]="formUnitTypeId"></select-dropdown>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="md-form-group pb-0">
                        <input class="md-input" formControlName="reorderLevel">
                        <label>Reorder Level </label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form-group pb-0">
                        <input class="md-input" formControlName="reorderQuantity">
                        <label>Reorder Qty </label>
                    </div>
                </div>
                <div class="col">
                    <select-dropdown [items]="lookupResolver.masterType?.unitTypes"
                                     title="Purchase Unit Type"
                                     (cb)="updatePurchaseUnitType($event)"
                                     [control]="formPurchaseUnitTypeId"></select-dropdown>
                </div>
                <div class="col">
                    <div class="md-form-group pb-0">
                        <input class="md-input" formControlName="purchaseHoldingQty">
                        <label>Purchase Holding Qty </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-3">
            <b>Variant Price</b>
            <div class="float-right">
                <add-price [variant]="customForm.value" hasCb="true" (onOk)="variantPriceCallback($event)">Add Price</add-price>
            </div>
        </div>
        <div class="box-body py-0">
            <table class="table small-table text-xs mb-0">
                <thead>
                <tr>
                    <th><span class="pl-2">Valid From</span></th>
                    <th class="text-right">
                        <small>MRP</small>
                    </th>
                    <th class="text-right">
                        <small><span>Cost/ Retail</span></small>
                    </th>
                    <th class="text-right"> Selling Price</th>
                    <th>
                        <small>Tax Inclusive</small>
                    </th>
                    <th>
                        <small>Fixed Price</small>
                    </th>
                    <th>
                        <small>Status</small>
                    </th>
                </tr>
                </thead>
                <tbody formArrayName="prices">
                  <ng-template ngFor let-price [ngForOf]="priceControls" let-i="index">
                    <tr [customForm]="price" [submitted]="submitted" variant-price-row-ce></tr>
                  </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</form>
