<div class="d-flex flex">
  <div class="d-flex flex-column flex">
    <div class="navbar flex-nowrap box-shadow">
      <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none" data-pjax-state="">
        <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i></span>
      </a>
      <button id="sort" class="btn btn-sm white ml-1 sort" data-sort="item-title" data-toggle="tooltip" title="" data-original-title="Sort"><i class="fa fa-sort"></i></button>
    </div>
    <div class="scroll-y">
      <div class="list animate fadeIn">
        <div class="list-item">
          <div class="list-body">
            <a class="item-title _500">Rita Ora</a>
            <div class="item-except text-sm text-muted h-1x">Homepage mockup design</div>
            <div class="item-tag tag hide">Trash</div>
          </div>
          <div><span class="item-date text-xs text-muted">13:23</span></div>
        </div>
      </div>
      <div class="no-result hide">
        <div class="p-4 text-center">No Results</div>
      </div>
    </div>
    <div class="p-3 b-t mt-auto">
      <div class="d-flex align-items-center">
        <div class="flex d-flex flex-row"><a href="#" class="btn btn-xs white no-border pager-prev hide"
                                             data-pjax-state=""><i class="fa fa-angle-left"></i></a>
          <div class="pagination pagination-xs">
            <li class="active"><a class="page" href="javascript:function Z(){Z=&quot;&quot;}Z()">1</a></li>
            <li><a class="page" href="javascript:function Z(){Z=&quot;&quot;}Z()">2</a></li>
          </div>
          <a href="#" class="btn btn-xs white no-border pager-next hide" data-pjax-state=""><i
            class="fa fa-angle-right"></i></a></div>
        <div><span class="text-muted">Total:</span> <span id="count">15</span></div>
      </div>
    </div>
  </div>
</div>
