<div id="calendar" class="calendar">
    <ng-template #headerTemplate>
        <div class="d-flex flex">
            <div class="flex flex-column">Calendar View
                <small class="item-except text-xs text-muted h-1x">{{startDate}}</small>
            </div>
            <div class="flex-column">
                <select class="float-right" (change)="onChange($event)">
                    <ng-container *ngFor="let year of yearArray">
                        <option [value]="year">{{ year }}</option>
                    </ng-container>
                </select>
            </div>
        </div>
    </ng-template>
    <!--<div class="calendar-header panel panel-default">
        <table>
            <th class="prev"><span class="glyphicon glyphicon-chevron-left"></span></th>
            <th class="year-title year-neighbor2 hidden-sm hidden-xs">2018</th>
            <th class="year-title year-neighbor hidden-xs">2019</th>
            <th class="year-title">2020</th>
            <th class="year-title year-neighbor hidden-xs">2021</th>
            <th class="year-title year-neighbor2 hidden-sm hidden-xs">2022</th>
            <th class="next"><span class="glyphicon glyphicon-chevron-right"></span></th>
        </table>
    </div>-->
    <div class="months-container" style="display: contents;">
        <ng-template ngFor let-yearMonth [ngForOf]="selectedYearMonths" let-i="index">
            <div class="month-container w-100">
                <calendar-year-month-day [pickedDate]="yearMonth" [events]="entities"></calendar-year-month-day>
            </div>
        </ng-template>
    </div>
</div>
