<div class="calendar-container">
  <div class="fc fc-unthemed fc-ltr">
    <div class="fc-view-container">
      <div class="fc-view fc-agendaWeek-view fc-agenda-view" style="">
        <table class="">
          <thead class="fc-head">
          <tr>
            <td class="fc-head-container fc-widget-header">
              <div class="fc-row fc-widget-header">
                <table class="">
                  <thead>
                  <tr>
                    <th class="fc-axis fc-widget-header" style="width:41px"></th>
                    <th class="fc-day-header fc-widget-header fc-sun fc-past" data-date="2016-10-09">
                      <span>Sun 10/9</span></th>
                    <th class="fc-day-header fc-widget-header fc-mon fc-past" data-date="2016-10-10">
                      <span>Mon 10/10</span></th>
                    <th class="fc-day-header fc-widget-header fc-tue fc-past" data-date="2016-10-11">
                      <span>Tue 10/11</span></th>
                    <th class="fc-day-header fc-widget-header fc-wed fc-past" data-date="2016-10-12">
                      <span>Wed 10/12</span></th>
                    <th class="fc-day-header fc-widget-header fc-thu fc-past" data-date="2016-10-13">
                      <span>Thu 10/13</span></th>
                    <th class="fc-day-header fc-widget-header fc-fri fc-past" data-date="2016-10-14">
                      <span>Fri 10/14</span></th>
                    <th class="fc-day-header fc-widget-header fc-sat fc-past" data-date="2016-10-15">
                      <span>Sat 10/15</span></th>
                  </tr>
                  </thead>
                </table>
              </div>
            </td>
          </tr>
          </thead>
          <tbody class="fc-body">
          <tr>
            <td class="fc-widget-content">
              <div class="fc-day-grid fc-unselectable">
                <div class="fc-row fc-week fc-widget-content">
                  <div class="fc-bg">
                    <table class="">
                      <tbody>
                      <tr>
                        <td class="fc-axis fc-widget-content" style="width:41px"><span>all-day</span></td>
                        <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-10-09"></td>
                        <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-10-10"></td>
                        <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-10-11"></td>
                        <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-10-12"></td>
                        <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-10-13"></td>
                        <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-10-14"></td>
                        <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-10-15"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="fc-content-skeleton">
                    <table>
                      <tbody>
                      <tr>
                        <td class="fc-axis" style="width:41px"></td>
                        <td class="fc-event-container"><a
                          class="fc-day-grid-event fc-h-event fc-event fc-not-start fc-end fc-draggable fc-resizable"
                          style="background-color:#0bb2d4;border-color:#0bb2d4">
                          <div class="fc-content"><span class="fc-title">Long Event</span></div>
                          <div class="fc-resizer fc-end-resizer"></div>
                        </a></td>
                        <td></td>
                        <td class="fc-event-container" colspan="2"><a
                          class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable">
                          <div class="fc-content"><span class="fc-title">Conference</span></div>
                          <div class="fc-resizer fc-end-resizer"></div>
                        </a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <hr class="fc-divider fc-widget-header">
              <div class="fc-scroller fc-time-grid-container" style="overflow: hidden scroll; height: 884px;">
                <div class="fc-time-grid fc-unselectable">
                  <div class="fc-bg">
                    <table class="">
                      <tbody>
                      <tr>
                        <td class="fc-axis fc-widget-content" style="width:41px"></td>
                        <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-10-09"></td>
                        <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-10-10"></td>
                        <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-10-11"></td>
                        <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-10-12"></td>
                        <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-10-13"></td>
                        <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-10-14"></td>
                        <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-10-15"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="fc-slats">
                    <table class="">
                      <tbody>
                      <tr data-time="00:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>12am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="00:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="01:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>1am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="01:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="02:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>2am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="02:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="03:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>3am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="03:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="04:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>4am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="04:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="05:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>5am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="05:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="06:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>6am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="06:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="07:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>7am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="07:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="08:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>8am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="08:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="09:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>9am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="09:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="10:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>10am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="10:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="11:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>11am</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="11:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="12:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>12pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="12:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="13:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>1pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="13:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="14:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>2pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="14:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="15:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>3pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="15:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="16:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>4pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="16:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="17:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>5pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="17:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="18:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>6pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="18:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="19:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>7pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="19:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="20:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>8pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="20:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="21:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>9pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="21:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="22:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>10pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="22:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="23:00:00">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"><span>11pm</span></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      <tr data-time="23:30:00" class="fc-minor">
                        <td class="fc-axis fc-time fc-widget-content" style="width:41px"></td>
                        <td class="fc-widget-content"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <hr class="fc-divider fc-widget-header" style="display:none">
                  <div class="fc-content-skeleton">
                    <table>
                      <tbody>
                      <tr>
                        <td class="fc-axis" style="width:41px"></td>
                        <td>
                          <div class="fc-content-col">
                            <div class="fc-event-container fc-helper-container"></div>
                            <div class="fc-event-container"><a
                              class="fc-time-grid-event fc-v-event fc-event fc-start fc-end fc-draggable fc-resizable"
                              style="background-color: rgb(255, 76, 82); border-color: rgb(255, 76, 82); inset: 719px 0% -809px; z-index: 1;">
                              <div class="fc-content">
                                <div class="fc-time" data-start="4:00" data-full="4:00 PM"><span>4:00</span></div>
                                <div class="fc-title">Repeating Event</div>
                              </div>
                              <div class="fc-bg"></div>
                              <div class="fc-resizer fc-end-resizer"></div>
                            </a></div>
                            <div class="fc-highlight-container"></div>
                            <div class="fc-bgevent-container"></div>
                            <div class="fc-business-container"></div>
                          </div>
                        </td>
                        <td>
                          <div class="fc-content-col">
                            <div class="fc-event-container fc-helper-container"></div>
                            <div class="fc-event-container"></div>
                            <div class="fc-highlight-container"></div>
                            <div class="fc-bgevent-container"></div>
                            <div class="fc-business-container"></div>
                          </div>
                        </td>
                        <td>
                          <div class="fc-content-col">
                            <div class="fc-event-container fc-helper-container"></div>
                            <div class="fc-event-container"></div>
                            <div class="fc-highlight-container"></div>
                            <div class="fc-bgevent-container"></div>
                            <div class="fc-business-container"></div>
                          </div>
                        </td>
                        <td>
                          <div class="fc-content-col">
                            <div class="fc-event-container fc-helper-container"></div>
                            <div class="fc-event-container"><a
                              class="fc-time-grid-event fc-v-event fc-event fc-start fc-end fc-draggable fc-resizable"
                              style="inset: 472px 0% -562px; z-index: 1; margin-right: 20px;">
                              <div class="fc-content">
                                <div class="fc-time" data-start="10:30" data-full="10:30 AM - 12:30 PM"><span>10:30 - 12:30</span>
                                </div>
                                <div class="fc-title">Meeting</div>
                              </div>
                              <div class="fc-bg"></div>
                              <div class="fc-resizer fc-end-resizer"></div>
                            </a><a
                              class="fc-time-grid-event fc-v-event fc-event fc-start fc-end fc-draggable fc-resizable"
                              style="inset: 539px 0% -629px 50%; z-index: 2;">
                              <div class="fc-content">
                                <div class="fc-time" data-start="12:00" data-full="12:00 PM"><span>12:00</span></div>
                                <div class="fc-title">Lunch</div>
                              </div>
                              <div class="fc-bg"></div>
                              <div class="fc-resizer fc-end-resizer"></div>
                            </a><a
                              class="fc-time-grid-event fc-v-event fc-event fc-start fc-end fc-draggable fc-resizable"
                              style="inset: 652px 0% -742px; z-index: 1;">
                              <div class="fc-content">
                                <div class="fc-time" data-start="2:30" data-full="2:30 PM"><span>2:30</span></div>
                                <div class="fc-title">Meeting</div>
                              </div>
                              <div class="fc-bg"></div>
                              <div class="fc-resizer fc-end-resizer"></div>
                            </a><a
                              class="fc-time-grid-event fc-v-event fc-event fc-start fc-end fc-draggable fc-resizable"
                              style="inset: 787px 0% -877px; z-index: 1;">
                              <div class="fc-content">
                                <div class="fc-time" data-start="5:30" data-full="5:30 PM"><span>5:30</span></div>
                                <div class="fc-title">Happy Hour</div>
                              </div>
                              <div class="fc-bg"></div>
                              <div class="fc-resizer fc-end-resizer"></div>
                            </a><a
                              class="fc-time-grid-event fc-v-event fc-event fc-start fc-end fc-draggable fc-resizable"
                              style="inset: 899px 0% -989px; z-index: 1;">
                              <div class="fc-content">
                                <div class="fc-time" data-start="8:00" data-full="8:00 PM"><span>8:00</span></div>
                                <div class="fc-title">Dinner</div>
                              </div>
                              <div class="fc-bg"></div>
                              <div class="fc-resizer fc-end-resizer"></div>
                            </a></div>
                            <div class="fc-highlight-container"></div>
                            <div class="fc-bgevent-container"></div>
                            <div class="fc-business-container"></div>
                          </div>
                        </td>
                        <td>
                          <div class="fc-content-col">
                            <div class="fc-event-container fc-helper-container"></div>
                            <div class="fc-event-container"><a
                              class="fc-time-grid-event fc-v-event fc-event fc-start fc-end fc-draggable fc-resizable"
                              style="inset: 314px 0% -404px; z-index: 1;">
                              <div class="fc-content">
                                <div class="fc-time" data-start="7:00" data-full="7:00 AM"><span>7:00</span></div>
                                <div class="fc-title">Birthday Party</div>
                              </div>
                              <div class="fc-bg"></div>
                              <div class="fc-resizer fc-end-resizer"></div>
                            </a></div>
                            <div class="fc-highlight-container"></div>
                            <div class="fc-bgevent-container"></div>
                            <div class="fc-business-container"></div>
                          </div>
                        </td>
                        <td>
                          <div class="fc-content-col">
                            <div class="fc-event-container fc-helper-container"></div>
                            <div class="fc-event-container"></div>
                            <div class="fc-highlight-container"></div>
                            <div class="fc-bgevent-container"></div>
                            <div class="fc-business-container"></div>
                          </div>
                        </td>
                        <td>
                          <div class="fc-content-col">
                            <div class="fc-event-container fc-helper-container"></div>
                            <div class="fc-event-container"></div>
                            <div class="fc-highlight-container"></div>
                            <div class="fc-bgevent-container"></div>
                            <div class="fc-business-container"></div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
