<table class="month">
  <thead>
  <tr>
    <th class="month-title" colspan="7">January</th>
  </tr>
  <tr>
    <th class="day-header">Su</th>
    <th class="day-header">Mo</th>
    <th class="day-header">Tu</th>
    <th class="day-header">We</th>
    <th class="day-header">Th</th>
    <th class="day-header">Fr</th>
    <th class="day-header">Sa</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="day old"></td>
    <td class="day old"></td>
    <td class="day old"></td>
    <td class="day">
      <div class="day-content">1</div>
    </td>
    <td class="day">
      <div class="day-content">2</div>
    </td>
    <td class="day">
      <div class="day-content">3</div>
    </td>
    <td class="day">
      <div class="day-content">4</div>
    </td>
  </tr>
  <tr>
    <td class="day">
      <div class="day-content">5</div>
    </td>
    <td class="day">
      <div class="day-content">6</div>
    </td>
    <td class="day">
      <div class="day-content">7</div>
    </td>
    <td class="day">
      <div class="day-content">8</div>
    </td>
    <td class="day">
      <div class="day-content">9</div>
    </td>
    <td class="day">
      <div class="day-content">10</div>
    </td>
    <td class="day">
      <div class="day-content">11</div>
    </td>
  </tr>
  <tr>
    <td class="day">
      <div class="day-content">12</div>
    </td>
    <td class="day">
      <div class="day-content">13</div>
    </td>
    <td class="day">
      <div class="day-content">14</div>
    </td>
    <td class="day">
      <div class="day-content">15</div>
    </td>
    <td class="day">
      <div class="day-content">16</div>
    </td>
    <td class="day">
      <div class="day-content">17</div>
    </td>
    <td class="day">
      <div class="day-content">18</div>
    </td>
  </tr>
  <tr>
    <td class="day">
      <div class="day-content">19</div>
    </td>
    <td class="day">
      <div class="day-content">20</div>
    </td>
    <td class="day">
      <div class="day-content">21</div>
    </td>
    <td class="day">
      <div class="day-content">22</div>
    </td>
    <td class="day">
      <div class="day-content">23</div>
    </td>
    <td class="day">
      <div class="day-content">24</div>
    </td>
    <td class="day">
      <div class="day-content">25</div>
    </td>
  </tr>
  <tr>
    <td class="day">
      <div class="day-content">26</div>
    </td>
    <td class="day">
      <div class="day-content">27</div>
    </td>
    <td class="day">
      <div class="day-content">28</div>
    </td>
    <td class="day">
      <div class="day-content">29</div>
    </td>
    <td class="day">
      <div class="day-content">30</div>
    </td>
    <td class="day">
      <div class="day-content">31</div>
    </td>
    <td class="day new"></td>
  </tr>
  </tbody>
</table>
