<div class="d-flex flex" id="content-body">
    <div class="d-flex flex-column flex">
        <router-outlet></router-outlet>
    </div>
</div>
<ng-template #actionTemplate>
    <ul class="nav nav-xs flex-row no-border" *ngIf="processId">
        <li class="nav-item">
            <a class="btn btn-xs text-xs b-theme text-theme border-0" (click)="addProcess()"><i class="fa fa-plus pr-1"></i> Process </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-xs text-xs b-theme text-theme border-0" (click)="addTask(activeOrgProcess)"><i class="fa fa-plus pr-1"></i> Task </a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="advanced" routerLinkActive="active">Advanced</a></li>
    </ul>
</ng-template>