<div id="content" class="app-content box-shadow-0" role="main">
    <div class="navbar flex-nowrap">
        <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none"
           data-pjax-state="">
            <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i></span>
        </a>
        <div class="no-shadow">
            <h6 class="mb-0"> Accounting </h6>
            <small class="float-left"> Management</small>
        </div>
        <ul class="nav nav-xs flex-row no-border">
            <li class="nav-item">
                <ng-template *ngTemplateOutlet="actionTemplate"></ng-template>
            </li>
        </ul>
        <ul class="nav nav-xs flex-row no-border">
            <li class="nav-item">
                <a class="nav-link"><span class="btn btn-sm btn-icon btn-rounded white"><i class="fa fa-file-excel-o"></i></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><span class="btn btn-sm btn-icon btn-rounded white"><i class="fa fa-file-pdf-o green"></i></span></a>
            </li>
            <li class="nav-item mx-1">
                <button class="btn btn-sm btn-outline border text-theme b-theme"><i class="fa fa-hand-grab-o pr-2"></i>Activities</button>
            </li>
        </ul>
    </div>
    <div class="content-main d-flex flex" id="content-main">
        <div class="d-flex flex" data-plugin="mail">
            <div class="d-flex flex" id="content-body">
                <div class="d-flex flex-column flex box-shadow">
                    <div class="content-main d-flex flex">
                        <div class="d-flex flex">
                            <router-outlet (activate)='onActivate($event)'></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>