<div *ngIf="!hasError">
    <div class="d-flex flex mx-2">
        <div class="d-flex flex-column flex">
            <div class="animate fadeIn">
                <div class="no-more-tables">
                    <table class="p-0 table table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>
                            <!--<th style="width:30px" *ngIf="(options?.header?.edit)">
                                <label class="md-check m-0"><input type="checkbox" (change)="checkUncheckAll()"> <i class="indigo"></i></label>
                            </th>-->
                            <th *ngFor="let head of options?.columnDefs;" [class]="head.class" class="text-xs text-muted _500">{{head?.headerName }}</th>
                            <th style="width:30px" *ngIf="options?.header?.delete"></th>
                            <th style="width:20px"></th>
                            <th style="width:30px" *ngIf="(options?.header?.edit)"></th>
                        </tr>
                        </thead>
                        <tbody class="scroll-y">
                        <tr *ngFor="let row of data; let i = index" [attr.rowId]="row.id">
                            <!--<td>
                                <label class="btn btn-xs btn-icon ui-check m-0">
                                  <input type="checkbox" name="post[]" (change)="checkValue(row)"><i class="dark-white"></i>
                                </label>
                                <label class="md-check"><input type="checkbox" (change)="checkValue(row)"> <i class="indigo"></i></label>
                            </td>-->
                            <td *ngFor="let col of options?.columnDefs; let i=index"
                                [attr.data-title]="col?.headerName" class="text-sm _500">
                                <ng-template #withCellFnTemplate> {{col.cellFn(row)}}</ng-template>
                                <ng-template #withoutCellTemplate> {{row[col?.field]}} </ng-template>
                                <ng-template #withCellTemplate><dynamic-content [context]="row" [component]="col.cellTemplate" [col]="col"></dynamic-content></ng-template>
                                <ng-container *ngTemplateOutlet="col.cellTemplate ? withCellTemplate : (col?.cellFn)? withCellFnTemplate: withoutCellTemplate"></ng-container>
                            </td>
                            <td style="text-align: center;" *ngIf="options?.header?.delete">
                                <a class="remove" href="javascript:void(0)" (click)="remove(row)" title="Remove"><i
                                        class="fa fa-trash"></i></a>
                            </td>
                            <td>
                                <a *ngIf="row?.isLocked" href="javascript:void(0)"><i class="fa fa-lock"></i></a>
                            </td>
                            <td *ngIf="(options?.header?.edit)">
                                <a class="text-primary text-xs" href="javascript:void(0)" title="edit" (click)="performAction(row)">Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="no-result" [class.hide]="(data?.length || isLoading)">
        <div class="p-4 text-center">No Result</div>
    </div>
    <loader [isLoading]="isLoading"></loader>
</div>
<div *ngIf="hasError">
    <div class="p-4 text-center">{{errorMsg}}</div>
</div>
