<div class="col-sm-10 col-sm-offset-2">
  <div class="row row-sm">
    <div class="col-sm-4">
      <div class="md-form-group">
        <input class="md-input">
        <label>
          City
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>
        <label class="md-check"><input type="checkbox" checked="checked"> <i class="blue"></i> Checkbox: checked</label>
      </p>
      <p>
        <label class="md-check"><input type="radio" name="radio" checked="checked">
          <i class="blue"></i> Radio: checked
        </label>
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        <label class="md-switch"><input type="checkbox" checked="checked">
          <i class="blue"></i> Switch: checked
        </label>
      </p>
    </div>
  </div>
</div>
