<ng-template #routerActionTemplate>
  <ul class="nav nav-xs flex-row no-border">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['template']">
        <span class="btn btn-sm"><i class="fa fa-plus"></i> Template </span>
      </a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#profile" data-modal="">
        <span class="btn btn-sm btn-icon btn-rounded success"><i class="fa fa-user"></i></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Phone Call">
        <span class="btn btn-sm btn-icon btn-rounded white">
          <i class="fa fa-phone"></i></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Face Call">
        <span class="btn btn-sm btn-icon btn-rounded white"><i class="fa fa-video-camera"></i></span>
      </a>
    </li>-->
  </ul>
</ng-template>

<div class="d-flex flex">
  <div class="d-flex flex-column flex">
    <paygrade></paygrade>
    <salary-head></salary-head>
    <salary></salary>
    <payslip></payslip>
  </div>
</div>
