    <div class="d-flex flex">
    <div class="fade aside aside-sm" id="content-aside">
        <div class="modal-dialog d-flex flex-column w-md">
            <div class="scrollable hover px-3">
                <div class="list-group list-group-gap">
                    <ng-template ngFor let-group [ngForOf]="items | sortBy:'asc': 'sortOrder'" let-i="index">
                        <span *ngIf="group.isHeading" class="p-1 text-muted">{{group.name}}</span>
                        <a *ngIf="!group.isHeading" class="list-group-item box p-1 px-2"
                           [routerLink]="[group.route]" routerLinkActive="active">
                            <span class="float-right"><i class="fa fa-chevron-right"></i></span>
                            <i [class]="group.icon" class="pr-2"></i>{{group.name}}
                        </a>
                        <ng-template ngFor let-item [ngForOf]="group.children | sortBy:'asc': 'sortOrder'" let-i="index">
                            <a class="list-group-item box p-1 px-2" (click)="showMasterOption(item)">
                                <span class="float-right"><i class="fa fa-chevron-right"></i></span>
                                <i [class]="item.icon" class="pr-2"></i>{{item.name}}
                                <!--{{ item.name }}-->
                            </a>
                        </ng-template>
                        <div class="p-2"></div>
                    </ng-template>
                </div>
            </div>
            <div class="p-3 mt-auto"><span class="text-sm text-muted"></span></div>
        </div>
    </div>
    <div class="d-flex flex-column flex">
        <div class="navbar no-radius box-shadow pos-rlt">
            <a data-toggle="modal" data-target="#content-aside" data-modal="" class="mr-1 d-md-none" data-pjax-state="">
                <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span>
            </a>
            <div class="no-shadow">
                <h6 class="mb-0"> {{ pageTitle }} </h6>
                <small class="float-left">
                    <!--<i [class]="pageIcon"></i> -->
                    Management
                </small>
            </div>
            <!--<ul class="nav">
                <li class="nav-item mr-2">
                    <button class="btn btn-sm btn-block btn-rounded theme" (click)="createNew()">
                        <i class="fa fa-plus pr-2"></i> New {{ pageTitle  }}
                    </button>
                </li>
            </ul>-->
        </div>
        <div class="scroll-y d-flex flex-column flex box mb-0 bg-transparent">
            <org-grid [data]="gridData"
                      [options]="gridOptions"
                      [isLoading]="isLoading"
                      (cb)="actionCb($event)"
                      (update)="updateGrid($event)"></org-grid>
        </div>
        <div class="mt-auto">
            <org-grid-pagination [count]="gridOptions?.total" [perPage]="coreState?.take" [page]="coreState?.page"
                                 (cb)="moveToPage($event)">
            </org-grid-pagination>
        </div>
    </div>
</div>
