<div class="app">
    <div class="app-content box-shadow-0" role="main">
        <div class="content-header white box-shadow-0">
            <div class="navbar flex-nowrap">
                <a data-toggle="modal" data-target="#content-aside" class="mr-1 d-md-none">
                    <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i></span>
                </a>
                <div class="no-shadow">
                    <h6 class="mb-0"> Team Setup </h6>
                    <small class="float-left"> Setup Management</small>
                </div>
                <div class="nav-active-border b-theme px-4 px-md-0">
                    <ul class="nav nav-xs flex-row" *ngFor="let nav of navList">
                        <ng-container *ngFor="let item of nav?.children; let i = index">
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" [routerLink]="item.routeTo" [fragment]="item.code">{{ item?.key}}</a>
                            </li>
                        </ng-container>
                        <li class="nav-item">
                            <button type="submit" class="btn btn-xs b-a b-theme text-theme" (click)="showUserFilters()">
                                Team:Setup Filters
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-main d-flex flex">
            <router-outlet (activate)='onActivate($event)'></router-outlet>
        </div>
    </div>
</div>
