<div>
    <a (click)="routeToRoot()" class="navbar-brand">
        <svg viewBox="0 0 60 34" height="30" width="60" xmlns:xlink="http://www.w3.org/1999/xlink">
            <a target="_blank">
                <text x="0" y="15" [attr.fill]="logoColor">En</text>
                <text x="10" y="30" [attr.fill]="logoColor">Rator</text>
            </a>
        </svg>
<!--        <img src="../assets/images/logo.svg" alt="." class="hide">-->
        <span class="hide hidden-folded d-inline">EnRator</span>
    </a>
</div>