<ng-template #actionTemplate>
    <ul class="nav">
        <li class="nav-item mx-1">
            <a class="nav-link" (click)="newRegulatory()">
                <span class="btn btn-xs btn-block btn-rounded theme"> <i class="fa fa-plus pr-2"></i>New Regulatory</span>
            </a>
        </li>
    </ul>
</ng-template>
<ng-template #pageTitleTemplate>
    <div class="no-shadow">
        <h6 class="mb-0">Regulatory Authorities</h6>
        <small class="float-left"><i [class]="pageIcon"></i> Management</small>
    </div>
</ng-template>
<div class="d-flex flex">
    <div class="d-flex flex-column flex">
        <div class="navbar flex-nowrap box-shadow">
            <div class="no-shadow">
                <h6 class="mb-0">Regulatory Authorities</h6>
            </div>
        </div>
        <div class="scrollable hover h-100">
            <org-grid [data]="gridData"
                      [options]="gridOptions"
                      [isLoading]="isLoading"
                      (cb)="actionCb($event)"
                      (update)="updateGrid($event)"></org-grid>
        </div>
        <div class="pl-3 pr-3 mt-auto">
            <org-grid-pagination [count]="gridOptions?.total" [perPage]="coreState?.take"
                                 [page]="coreState?.page" (cb)="moveToPage($event)">
            </org-grid-pagination>
        </div>
    </div>
</div>
