<div class="flex">
    <div class="clearfix">
        <div class="text-center mb-5">
            <h2 class="_700">Start up your Bussiness today</h2>
            <h5 class="my-4 text-muted">
                We create different services for your product. 30 days guaranteed.</h5>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-3 order-2">
                <div class="box m-t-n">
                    <div class="box-body text-center r-t primary"><h6 class="text-u-c">Plus</h6>
                        <h3 class="py-3"><sup>$</sup> <span class="text-2x">69</span> <span
                                class="text-xs">/ mo</span>
                        </h3>
                        <!--<div class="my-4 text_md _500 h-2x">50 Billable Clients</div>-->
                        <button type="button" class="btn btn-outline b-white btn-round btn-block"> Buy now
                        </button>
                    </div>
                    <div class="text-center p-3"><a class="btn btn-fw danger text-white">Start Trial</a></div>
                </div>
            </div>
            <div class="col-sm-3 order-1">
                <div class="box">
                    <div class="box-body text-center light lt"><h6 class="text-u-c">Lite</h6>
                        <h3 class="py-3"><sup>$</sup> <span class="text-2x">39</span> <span
                                class="text-xs">/ mo</span>
                        </h3>
                        <!--<div class="my-4 text_md _500 h-2x">5 Billable Clients</div>-->
                        <button type="button"
                                class="btn btn-outline b-primary text-primary btn-round btn-block"> Buy
                            now
                        </button>
                    </div>
                    <div class="text-center p-3"><a class="btn btn-fw danger text-white">Start Trial</a></div>
                </div>
            </div>
            <div class="col-sm-3 order-3">
                <div class="box">
                    <div class="box-body text-center light lt"><h6 class="text-u-c">Premium</h6>
                        <h3 class="py-3"><sup>$</sup> <span class="text-2x">99</span> <span
                                class="text-xs">/ mo</span>
                        </h3>
                        <!--<div class="my-4 text_md _500 h-2x">Unlimited Billable Clients</div>-->
                        <button type="button"
                                class="btn btn-outline b-primary text-primary btn-round btn-block"> Buy
                            now
                        </button>
                    </div>
                    <div class="text-center p-3"><a class="btn btn-fw danger text-white">Start Trial</a></div>
                </div>
            </div>
            <div class="col-sm-3 order-4">
                <div class="box">
                    <div class="box-body text-center light lt"><h6 class="text-u-c">Select</h6>
                        <h3 class="py-3"><span class="text-2x">??</span></h3>
                        <!--<div class="my-4 text_md _500 h-2x">Unlimited Billable Clients and Specialized
                            Features
                        </div>-->
                        <button type="button"
                                class="btn btn-outline b-primary text-primary btn-round btn-block"> Buy
                            now
                        </button>
                    </div>
                    <div class="text-center p-3"><a class="btn btn-fw danger text-white">Request a Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>