<div class="d-flex flex">
    <div class="d-flex flex-column flex">
        <div class="navbar flex-nowrap">
            <a class="no-shadow">
                <h6 class="mb-0">{{pageTitle}}</h6>
                <small class="float-left pl-4">Manage</small>
            </a>
            <ng-template *ngTemplateOutlet="actionTemplate"></ng-template>
        </div>
        <div class="scroll-y d-flex flex-column flex box mb-0 bg-transparent">
            <org-grid [data]="gridData"
                      [options]="gridOptions"
                      [isLoading] = "isLoading"
                      (cb)="actionCb($event)"
                      (update)="updateGrid($event)"
                      (cbRemove)="actionRemoveCb($event)"></org-grid>
            <div class="no-result" *ngIf="!isLoading && !gridData?.length">
                <div class="p-4 text-center">No Result Found. </div>
            </div>
        </div>
        <div class="mt-auto">
            <org-grid-pagination [count]="gridOptions?.total" [perPage]="coreState?.take" [page]="coreState?.page"
                                 (cb)="moveToPage($event)"></org-grid-pagination>
        </div>
    </div>
</div>
<ng-template #actionTemplate>
    <ul class="nav nav-xs flex-row no-border">
        <li class="nav-item">
            <a class="nav-link mx-2" (click)="createNew()">
                <span class="btn btn-sm btn-block b-a b-theme text-theme btn-rounded theme"><i class="fa fa-plus pr-2"></i>New Vehicle</span>
            </a>
        </li>
    </ul>
</ng-template>