<div class="input-group">
  <input type="text" class="form-control form-control-sm search" placeholder="Search" required="">
  <div class="columns columns-right btn-group float-right">
    <div class="keep-open btn-group" title="Columns">
      <button type="button" aria-label="columns" class="btn btn-default btn-sm no-shadow dropdown-toggle" style="border-right: 0px;border-left: 0px;"
              data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-th-list"></i>
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
        <div class="dropdown">
          <form class="row">
            <div class="col-sm-12">
              <ul class="nav nav-xs flex-row no-border float-right">
                <li class="nav-item"><a class="btn btn-outline b-a btn-xs mr-3"><!--<i class="fa fa-fw fa-magic"></i>--> Clear </a></li>
                <li class="nav-item"><a class="btn btn-outline b-a btn-xs mr-3"><!--<i class="fa fa-fw fa-plus"></i>--> Apply </a></li>
              </ul>
            </div>
          </form>
        </div>
        <!--<label class="dropdown-item"><input type="checkbox" data-field="name" value="1" checked="checked">
          People</label><label class="dropdown-item"><input type="checkbox" data-field="hr.position" value="2"
                                                            checked="checked"> Position</label><label
        class="dropdown-item"><input type="checkbox" data-field="contact.0" value="3" checked="checked">
        Office</label><label class="dropdown-item"><input type="checkbox" data-field="contact.1" value="4"
                                                          checked="checked"> Extn.</label><label
        class="dropdown-item"><input type="checkbox" data-field="hr.salary" value="5" checked="checked">
        Salary</label><label class="dropdown-item"><input type="checkbox" data-field="operate" value="6"
                                                          checked="checked"> </label>-->
      </div>
    </div>
  </div>
  <span class="input-group-append">
    <button class="btn btn-default btn-sm no-shadow" style="border-left: 0px;" type="button">
      <i class="fa fa-search"></i>
    </button>
  </span>
</div>
