<form [formGroup]="customForm">
    <div *ngIf="formId.value">
        <a class="item-title _500">
            {{formName?.value}}{{formVariantName?.value }}
            <small class="float-right text-sm text-muted"></small>
        </a>
        <div class="item-except text-xs h-1x">
            <small>{{formDesc?.value}}</small>
        </div>
    </div>
    <div class="md-form-group p-0" *ngIf="!formId.value">
        <input id="search" placeholder="Type some text" type="text" class="md-input text-sm title _500"
               autofocus (keyup)="particularFocus=true"
               placeholder="Enter Particular Name" [formControl]="particularsSearch" autocomplete="off">
        <label class="text-70 mb-0 hide"><strong>Account</strong> </label>
        <small class="parsley-required" style="color: #f95b5b;"></small>
        <div class="h-1x" *ngIf="isItemInvoice">
            <!--<a class="text-xs _500" *ngIf="this.formTaxCode?.value">HSN {{ this.formTaxCode?.value }} - Tax:{{ this.formTax?.value }}%</a>-->
            <a class="text-xs px-2 _500" style="font-size: .6rem">
                <span>MRP <small>{{this.formMrp?.value }}</small></span>
                <span class="pl-1">Price <small>{{this.formPrice?.value }}</small></span>
                <div class="float-right" *ngIf="isNew">
                    <add-product (cb)="newProduct($event)" *ngIf="isItemInvoice">New Product/ Service</add-product>
                    <add-ledger (cb)="newAccount($event)" *ngIf="!isItemInvoice">New Ledger</add-ledger>
                </div>
            </a>
        </div>
    </div>
    <!--<div class="scroll-y" style="width: 100%; height: 300px;left: 0; z-index: 1001;">-->
    <ul class="drop list inset" *ngIf="particularFocus" style="max-height: 250px; margin: 0px 10px 0px 0px; position: absolute; width: 80%; z-index: 9; overflow-y: auto;" [hidden]="!particularFocus">
        <li class="match list-item" *ngIf="isNew">
            <div class="list-body">
                <a class="item-title _500">{{particularsSearch?.value }}
                    <div class="float-right" *ngIf="isNew">
                        <add-product (cb)="newProduct($event)" *ngIf="isItemInvoice">New Product/ Service</add-product>
                        <add-ledger (cb)="newAccount($event)" *ngIf="!isItemInvoice">New Ledger</add-ledger>
                    </div>
                </a>
            </div>
        </li>
        <li class="match list-item" *ngFor="let item of particular$" (click)="applySelect(item)">
            <div class="list-body" *ngIf="isItemInvoice">
                <div class="item-except text-xs h-1x">
                    <a class="item-title _500">{{item?.name }} {{item?.code }}
                        <small class="float-right text-sm text-muted">{{item?.accountGroup}}</small>
                        <span class="float-right text-primary" *ngIf="item.taxDetails">HSN {{ item.taxDetails?.taxCode }} : {{ item.taxDetails?.taxRate }}%</span>
                    </a>
                    <small>{{item?.description }}</small>
                </div>
                <div class="item-except text-xs" style="font-size: .6rem" *ngIf="isItemInvoice">
                    <span>MRP <small>{{item.productPrice?.mrp }}</small></span>
                    <span *ngIf="vType == 'purchase' || vType == 'sale'" class="px-1">Price
                        <small *ngIf="vType == 'purchase'">{{item.productPrice?.supplyPrice}}</small>
                        <small *ngIf="vType == 'sale'">{{item.productPrice?.retailPrice}}</small>
                    </span>
                    <span class="px-1">BarCode : {{item.productPrice?.barCode}}</span>
                    <span class="px-1">SKU : {{item.productPrice?.sKU}}</span>
                    <span *ngIf="item.productPrice?.isDefaultLoyalty" class="badge yellow mx-1">Loyalty</span>
                    <span *ngIf="item.productPrice?.isTaxInclusive" class="badge green">Tax Inclusive</span>
                </div>
            </div>
            <div class="list-body" *ngIf="!isItemInvoice">
                <div class="item-except text-xs h-1x">
                    <a class="item-title _500">{{item?.name }} {{item?.code }}
                        <small class="float-right text-sm text-muted">
                            {{item?.accountNatureName}}
                            <span class="badge green px-2">{{item?.accountGroupName}}</span>
                        </small>
                    </a>
                    <small>{{item?.name }}</small>
                </div>
                <div class="item-except text-xs" style="font-size: .6rem">
                    <a class="text-primary">Balance {{item.balance }}</a>
                    <span >Balance <small class="px-1">{{item.Balance }}</small></span>
                    <span *ngIf="vType == 'purchase'" class="pl-1">Price <small>{{ item.productPrice?.supplyPrice}}</small></span>
                    <span *ngIf="vType == 'sale'" class="pl-1">Price <small>{{item.productPrice?.retailPrice}}</small></span>
                    <span class="badge yellow">{{(item.productPrice?.isDefaultLoyalty) ? 'Lylty': '' }}</span>
                    <span class="badge yellow">{{(item.productPrice?.isFixedPrice) ? 'Fxd': '' }}</span>
                    <span class="badge yellow">{{(item.productPrice?.isTaxInclusive) ? 'Inclusv': '' }}</span>
                </div>
            </div>
            <!--<div class="list-body">
                <div class="item-except text-xs h-1x">
                    <a class="item-title _500">{{item?.name }}
                        <small class="float-right text-sm text-muted">{{item?.accountGroup}}</small>
                    </a>
                    <small>{{item?.name }}</small>
                </div>
                <div class="item-except text-xs" style="font-size: .6rem" *ngIf="!isItemInvoice">
                    <a class="text-primary">HSN {{ item.taxDetails?.taxCode }} - {{ item.taxDetails?.taxRate }}%</a>
                    <span class="pl-1">MRP <small>{{item.productPrice?.mrp }}</small></span>
                    <span *ngIf="vType == 'purchase'" class="pl-1">Price <small>{{ item.productPrice?.supplyPrice}}</small></span>
                    <span *ngIf="vType == 'sale'" class="pl-1">Price <small>{{item.productPrice?.retailPrice}}</small></span>
                    <span class="badge yellow">{{(item.productPrice?.isDefaultLoyalty) ? 'Lylty': '' }}</span>
                    <span class="badge yellow">{{(item.productPrice?.isFixedPrice) ? 'Fxd': '' }}</span>
                    <span class="badge yellow">{{(item.productPrice?.isTaxInclusive) ? 'Inclusv': '' }}</span>
                </div>
            </div>-->
        </li>
    </ul>
    <!--</div>-->
</form>