<div class="navbar flex-nowrap box-shadow">
    <ng-template *ngTemplateOutlet="pageTitleTemplate"></ng-template>
    <div>
        <ng-template *ngTemplateOutlet="actionTemplate"></ng-template>
    </div>
</div>
<div class="scrollable hover">
    <org-grid [data]="gridData"
              [options]="gridOptions"
              [isLoading]="isLoading"
              (cb)="actionCb($event)"
              (update)="updateGrid($event)"></org-grid>
</div>
<ng-template #footerTemplate>
    <org-grid-pagination [count]="gridOptions?.total" [perPage]="coreState?.take"
                         [page]="coreState?.page" (cb)="moveToPage($event)">
    </org-grid-pagination>
</ng-template>