<!-- header -->
<section class="web-header contact">
    <div class="container">
        <div class="col-sm-6 col-xs-12">
            <!--<div class="box-container fadesimple">
              <h3>Some major reasons</h3>
              <h2>Why we are the best</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio numquam quo iure dolor nisi obcaecati maiores, officia incidunt. Assumenda inventore eaque ratione beatae animi dolore optio atque, tenetur in molestias!officia incidunt.
                Assumenda inventore eaque ratione beatae animi dolore optio atque, tenetur in molestias!</p>
              <a href="#" class="btn button btn-2">Get a free Quote</a>
            </div>-->
        </div>
        <div class="col-sm-6"></div>
    </div>
</section>
<!-- end of header -->
<!-- contact -->
<section id="contact-us">
    <div class="container fadesimple">
        <div class="default-title">
            <h3>Drop us an email and will get in touch!</h3>
            <p>If you'd like to get in touch with our team, you can reach out by email. Just send your message to:</p>
            <p class="email">info@enrator.com</p>
            <!--<div class="col-sm-5 text-center">
                <p class="email">info@enrator.com</p>
                <p class="phone">Phone : 1-855-435-8226</p>
            </div>-->
            <p>Let us know how we can help, and someone will follow up with you shortly.</p>
        </div>
    </div>
    <!--<contact-us></contact-us>-->
    <!-- container -->
</section>

<!-- contact us -->

<!-- contact-us / end -->

<!-- section start -->
<!--<div class="team-support">
  <div class="container">
    <div class="col-sm-5 text">
      <div class="default-title">
        <h3>Call our award-winning <span>support team</span></h3>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consectetur.</p>
      </div>
      <h3 class="number"> +1-855-435-8226</h3>
      <br>
      <a href="#" class="button btn btn-lg btn-2 red">Get Started Now</a>
    </div>
  </div>
</div>-->
<!-- end of section -->
