<ng-template #popupOptionsTemplate>
    <div class="nav-active-border b-primary b-theme bottom">
        <ul class="nav nav-sm">
            <li class="nav-item" (click)="onTabChange(tabs.main)">
                <a class="nav-link" [class.active]="tabs.main == activeTab">Process</a>
            </li>
            <li class="nav-item" (click)="onTabChange(tabs.transitionRules)">
                <a class="nav-link" [class.active]="tabs.transitionRules == activeTab">Transition Rules</a>
            </li>
        </ul>
    </div>
</ng-template>
<div *ngIf="activeTab === tabs.main">
    <org-process-ce #processCe></org-process-ce>
</div>
<div *ngIf="activeTab === tabs.transitionRules">
    <process-phase-transition #phaseTransition ></process-phase-transition>
</div>