<form class="flex flex-row" [formGroup]="customForm">
    <div class="d-flex flex">
        <div class="float-left">
            <select class="md-input text-xs" formControlName="yearMode" style="width: 100px;">
                <option *ngFor="let y of yearModes" [value]="y.id">{{y.name}}</option>
            </select>
        </div>
        <div *ngIf="customForm.value.yearMode === 'custom'">
            <div class="md-form-group p-0">
                <input class="md-input" type="date" formControlName="startDate"
                       [ngClass]="{ 'is-invalid': f['startDate'].errors }" style="max-width: 95px;">
            </div>
            <div class="md-form-group p-0">
                <input class="md-input" type="date" formControlName="endDate"
                       [ngClass]="{ 'is-invalid': f['endDate'].errors }" style="max-width: 95px;">
            </div>
        </div>
    </div>
    <div class="d-flex flex">
        <div class="float-left">
            <select class="md-input text-xs" formControlName="frequencyMasterType" style="width: 100px;">
                <option *ngFor="let ft of frequencyTypes;" [ngValue]="ft.masterType">{{ft.name}}</option>
            </select>
        </div>
        <div class="d-flex" [ngSwitch]="customForm.value.frequencyMasterType">
            <ng-container *ngSwitchCase="freqEnum.FIXED_TIME" [ngTemplateOutlet]="fixedFreq"></ng-container>
            <ng-container *ngSwitchCase="freqEnum.MONTHLY" [ngTemplateOutlet]="monthlyFreq"></ng-container>
            <ng-container *ngSwitchCase="freqEnum.ON_EVENT" [ngTemplateOutlet]="eventFreq"></ng-container>
        </div>
    </div>
</form>
<ng-template #fixedFreq>
    <div class="text-left text-sm-left" [formGroup]="customForm">
        <div class="d-inline-block">
            <small class="text-primary">On</small>
        </div>
        <div class="d-inline-block">
            <select class="md-input" formControlName="defaultDay" style="width: 40px;">
                <option *ngFor="let entity of days;" [ngValue]="entity.id"> {{entity.name}}</option>
            </select>
        </div>
        <div class="d-inline-block">
            <select class="md-input" formControlName="defaultMonth" style="width: 80px;">
                <option *ngFor="let entity of months;" [ngValue]="entity.id"> {{entity.name}}</option>
            </select>
        </div>
    </div>
</ng-template>
<ng-template #monthlyFreq>
    <div class="text-left text-sm-left" [formGroup]="customForm">
        <div class="d-inline-block">
            <small class="text-primary">Frequency</small>
        </div>
        <div class="d-inline-block">
            <select class="md-input" formControlName="monthInterval" style="width: 80px;">
                <option *ngFor="let entity of frequencyOptions;" [value]="entity.id"> {{entity.name}}</option>
            </select>
        </div>
        <div class="d-inline-block">
            <small class="text-primary">On</small>
        </div>
        <div class="d-inline-block">
            <select class="md-input" formControlName="defaultDay" style="width: 40px;">
                <option *ngFor="let entity of days;" [ngValue]="entity.id"> {{entity.name}}</option>
            </select>
        </div>

        <!-- Due Date
        <div class="mb-4">
            <label class="block mb-1 font-semibold">Due Date</label>
            <input type="number" formControlName="dueDate" min="-1" max="31"
                   class="w-full border rounded px-3 py-2" />
            <small class="text-gray-500">Use -1 for last day of month</small>
        </div>
        Due Month
        <div class="mb-4">
            <label class="block mb-1 font-semibold">Due Month(s)</label>
            <input type="text" formControlName="dueMonth"
                   class="w-full border rounded px-3 py-2" placeholder="e.g., 1-12 or 1,4,7,10" />
        </div> -->
    </div>
</ng-template>
<ng-template #eventFreq>
    <div class="text-left text-sm-left" [formGroup]="customForm">
        <div class="d-inline-block">
            <small class="text-primary">Event</small>
        </div>
        <div class="d-inline-block">
            <!--<select class="md-input" formControlName="orgTaskId">
                <option *ngFor="let entity of tasks;" [ngValue]="entity.id"> {{entity.name}} </option>
            </select>-->
        </div>
    </div>
</ng-template>