<form class="flex flex-row text-xs white p-1" [formGroup]="customForm">
    <div class="text-sm text-muted">Schedule</div>
    <div class="d-flex flex">
        <div class="d-inline-block">
            <select class="md-input" formControlName="yearMode" style="width: 100px;">
                <option *ngFor="let y of yearModes" [value]="y.id">{{y.name}}</option>
            </select>
        </div>
        <div class="d-inline-block b-a mx-2">
            <div class="d-flex flex">
                <div class="d-inline-block">
                    <div class="d-block">
                        <select class="md-input" formControlName="frequencyMasterType" style="width: 80px;">
                            <option *ngFor="let ft of frequencyTypes;" [ngValue]="ft.masterType">{{ft.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="d-inline-block px-2">
                    <div class="d-flex" [ngSwitch]="customForm.value.frequencyMasterType">
                        <ng-container *ngSwitchCase="freqEnum.FIXED_TIME" [ngTemplateOutlet]="fixedFreq"></ng-container>
                        <ng-container *ngSwitchCase="freqEnum.MONTHLY" [ngTemplateOutlet]="monthlyFreq"></ng-container>
                        <ng-container *ngSwitchCase="freqEnum.ON_EVENT" [ngTemplateOutlet]="eventFreq"></ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-inline-block">
            <p class="p-1 mb-0" *ngIf="customForm.value.frequencyMasterType != freqEnum.FIXED_TIME">
                <label class="md-check">
                    <input type="checkbox" formControlName="hasNoExpiration"><i class="blue"></i>No Expiration
                </label>
            </p>
            <a class="btn btn-xs" (click)="reviewScheduler()">Review</a>
        </div>
    </div>
</form>
<ng-template #fixedFreq>
    <div class="text-left text-sm-left" [formGroup]="customForm">
        <div class="d-inline-block">
            <small class="text-primary">On</small>
        </div>
        <div class="d-inline-block">
            <select class="md-input" formControlName="defaultDay" style="width: 40px;">
                <option *ngFor="let entity of days;" [ngValue]="entity.id"> {{entity.name}}</option>
            </select>
        </div>
        <div class="d-inline-block">
            <select class="md-input" formControlName="defaultMonth" style="width: 80px;">
                <option *ngFor="let entity of months;" [ngValue]="entity.id"> {{entity.name}}</option>
            </select>
        </div>
    </div>
</ng-template>
<ng-template #monthlyFreq>
    <div class="text-left text-sm-left" [formGroup]="customForm">
        <div class="d-inline-block">
            <select class="md-input" formControlName="monthInterval" style="width: 90px;">
                <option *ngFor="let entity of frequencyOptions;" [value]="entity.id"> {{entity.name}}</option>
            </select>
        </div>
        <div class="d-inline-block">
            <small class="text-primary">On</small>
        </div>
        <div class="d-inline-block">
            <select class="md-input" formControlName="defaultDay" style="width: 40px;">
                <option *ngFor="let entity of days;" [ngValue]="entity.id"> {{entity.name}}</option>
            </select>
        </div>
    </div>
</ng-template>
<ng-template #eventFreq>
</ng-template>