<div class="d-flex flex">
    <div class="fade aside aside-sm" id="task-list">
        <div class="d-flex flex-column w-xxl b-r white modal-dialog">
            <div class="navbar box-shadow">
                <div class="input-group flex">
                    <input type="text" class="form-control px-0 no-bg no-border no-shadow search" placeholder="Search"
                           required="">
                    <span class="input-group-btn"><button class="btn no-bg no-border no-shadow" type="button"><i
                            class="fa fa-search text-muted"></i></button></span>
                </div>
            </div>
            <div class="scrollable hover">
                <a class="nav-link" (click)="createNew()"><span class="btn btn-sm btn-block btn-rounded theme"><i
                        class="fa fa-plus float-left"></i> New</span></a>
                <nav class="nav-border right b-theme" data-nav="">
                    <ul class="list inset">
                        <ng-template ngFor let-item [ngForOf]="list" let-i="index">
                            <li class="list-item">
                                <div class="list-body">
                                    <a class="item-title _500" (click)="activeTaskSchedule(item)">
                                        <a class="text-u-c _600 text-sm"
                                           [class.text-primary]="(item?.frequencyMasterType == 'ON_EVENT')"
                                           [class.text-info]="(item?.frequencyMasterType == 'MONTHLY' || item?.frequencyMasterType == 'DAILY')"
                                           [class.text-warn]="(item?.frequencyMasterType == 'FIXED_TIME')"
                                           [class.text-accent]="(item?.frequencyMasterType == 'WEEKLY')"
                                        >{{item?.frequencyType}}</a>
                                        <span [class.hide]="item.isValidForSession" class="text-xs text-danger">
                      <i class="fa fa-hand-stop-o px-1"></i> Session Date Range Exceeded
                    </span>
                                    </a>
                                    <ng-template ngFor let-row [ngForOf]="item?.feeStructures" let-j="index">
                                        <div (click)="activeTaskSchedule(item)">
                                            <a class="item-title _500" data-pjax-state="">{{row?.name}}</a>
                                            <div class="item-except text-sm text-muted h-1x">
                                                {{row?.courseName}}
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                    </ng-template>
                                    <ng-template ngFor let-row [ngForOf]="item?.notification" let-j="index">
                                        <div (click)="activeTaskSchedule(item)">
                                            <a class="item-title _500">{{item.notification?.name}}</a>
                                            <div class="item-except text-sm text-muted h-1x">
                                                <ng-template ngFor let-template
                                                             [ngForOf]="item.notification?.templates">
                                                    <a class="d-inline-block px-1 text-center b">
                                                        <small class="text-xs">{{template?.mediaType}}</small>
                                                    </a>
                                                </ng-template>
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                    </ng-template>
                                    <div class="item-except text-sm text-muted h-1x">
                                        <small class="text-xs">{{item?.orgTaskScheduleDescription}}</small>
                                    </div>
                                </div>
                            </li>

                            <!--<li class="list-item">
                              <a class="item-title _500">{{item.frequencyType}} <small class="text-xs">{{item?.orgTaskScheduleDescription}}</small></a>
                              <ng-template ngFor let-row [ngForOf]="item?.feeStructures" let-j="index">
                                <div class="list-body" (click)="activeTaskSchedule(item, row?.name)">
                                  <a class="item-title _500" data-pjax-state="">{{row?.name}}</a>
                                  <div class="item-except text-sm text-muted h-1x">
                                    {{row?.courseName}}
                                  </div>
                                  <div class="item-tag tag hide"></div>
                                </div>
                              </ng-template>
                              <ng-template ngFor let-row [ngForOf]="item?.notification" let-j="index">
                                <div class="list-body" (click)="activeTaskSchedule(item, item.notification?.name)">
                                  <a class="item-title _500">{{item.notification?.name}}</a>
                                  <div class="item-except text-sm text-muted h-1x">
                                    <ng-template ngFor let-template [ngForOf]="item.notification?.templates">
                                      <a class="d-inline-block px-1 text-center b">
                                        <small class="text-xs">{{template?.mediaType}}</small>
                                      </a>
                                    </ng-template>
                                  </div>
                                  <div class="item-tag tag hide"></div>
                                </div>
                              </ng-template>
                            </li>-->

                            <!--<ng-template ngFor let-row [ngForOf]="item?.feeStructures" let-j="index">
                              <li class="list-item">
                                <div class="list-body" (click)="activeTaskSchedule(item, row?.name)">
                                  <a class="item-title _500" data-pjax-state="">{{row?.name}}</a>
                                  <div class="item-except text-sm text-muted h-1x">
                                    {{row?.courseName}}
                                  </div>
                                  <div class="item-tag tag hide"></div>
                                </div>
                              </li>
                            </ng-template>
                            <li class="list-item" *ngIf="item.notification">
                              <div class="list-body" (click)="activeTaskSchedule(item, item.notification?.name)">
                                <a class="item-title _500">{{item.notification?.name}}</a>
                                <div class="item-except text-sm text-muted h-1x">
                                  <ng-template ngFor let-template [ngForOf]="item.notification?.templates">
                                    <a class="d-inline-block px-1 text-center b">
                                      <small class="text-xs">{{template?.mediaType}}</small>
                                    </a>
                                  </ng-template>
                                </div>
                                <div class="item-tag tag hide"></div>
                              </div>
                            </li>-->
                        </ng-template>
                    </ul>
                </nav>
                <div class="no-result hide">
                    <div class="p-4 text-center">No Results</div>
                </div>
            </div>
            <div class="p-3 mt-auto"><span class="text-sm text-muted">Schedules: {{list?.length}}</span></div>
        </div>
    </div>
    <div class="d-flex flex">
        <div class="d-flex flex-column flex">
            <div class="navbar flex-nowrap white lt box-shadow">
                <a data-toggle="modal" data-target="#task-list" data-modal="" class="mr-1 d-md-none" data-pjax-state="">
                    <span class="btn btn-sm btn-icon primary"><i class="fa fa-th"></i> </span>
                </a>
                <span class="text-md text-ellipsis flex" *ngIf="!taskSchedule?.frequencyType">New Scheduler</span>
                <span class="text-md text-ellipsis flex" *ngIf="taskSchedule?.frequencyType">{{taskSchedule?.frequencyType}} <small
                        class="text-xs">{{taskSchedule?.orgTaskScheduleDescription}}</small></span>
            </div>
            <div class="scrollable hover">
                <div class="p-3">
                    <scheduler-info [id]="id" #schedulerEl
                                    [orgTaskId]="orgTaskId"
                                    [isManual]="isManual"
                                    [isFeeTask]="isFeeTask"
                                    [addManually]="addManually"
                                    (onOk)="onOkAction($event)"
                                    (onCancel)="onCancelAction($event)"></scheduler-info>
                </div>
                <div class="no-result" [class.hide]="id">
                    <div class="p-4 text-center">No Results</div>
                </div>
            </div>
            <div class="white lt b-t mt-auto" id="chat-form">
                <ng-template *ngTemplateOutlet="schedulerEl?.footerTemplate"></ng-template>
            </div>
        </div>
    </div>
</div>
