<div class="streamline mb-2">
  <div class="sl-item">
    <div class="sl-left"><img src="../assets/images/a0.jpg" alt="." class="circle"></div>
    <div class="sl-content">
      <div class="sl-date text-muted">2 minutes ago</div>
      <div class="sl-author"><a href="#">Peter Joo</a></div>
      <div class="mb-3"><p>Check your Internet connection</p></div>
      <div class="sl-footer"><a href="#" data-toggle="collapse" data-target="#reply-1"><i
        class="fa fa-fw fa-mail-reply text-muted"></i> Reply</a></div>
      <div class="box collapse show m-0" id="reply-1">
        <form><textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea>
        </form>
        <div class="box-footer clearfix">
          <button class="btn info float-right btn-sm">Post</button>
          <ul class="nav nav-pills nav-sm">
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-camera text-muted"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i
              class="fa fa-video-camera text-muted"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sl-item">
    <div class="sl-left"><img src="../assets/images/a2.jpg" alt="." class="circle"></div>
    <div class="sl-content">
      <div class="sl-date text-muted">8:30</div>
      <div class="sl-author"><a href="#">Moke</a></div>
      <div><p>Call to customer <a href="#" class="text-primary">Jacob</a> and discuss the detail.</p>
        <p><span class="d-inline-block p-1 b-a"><img src="../assets/images/a1.jpg" alt="."
                                                     class="w-96"></span></p></div>
    </div>
  </div>
  <div class="sl-item">
    <div class="sl-left"><img src="../assets/images/a3.jpg" alt="." class="circle"></div>
    <div class="sl-content">
      <div class="sl-date text-muted">Sat, 5 Mar</div>
      <div class="sl-author"><a href="#">Moke</a></div>
      <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante soe
        aiea ose dos soois.</p>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
      </blockquote>
      <div class="sl-item">
        <div class="sl-left"><img src="../assets/images/a2.jpg" alt="." class="circle"></div>
        <div class="sl-content">
          <div class="sl-date text-muted">Sun, 11 Feb</div>
          <p><a href="#" class="text-primary">Jessi</a> assign you a task <a href="#" class="text-primary">Mockup
            Design</a>.</p></div>
      </div>
      <div class="sl-item">
        <div class="sl-left"><img src="../assets/images/a5.jpg" alt="." class="circle"></div>
        <div class="sl-content">
          <div class="sl-date text-muted">Thu, 17 Jan</div>
          <p>Follow up to close deal</p></div>
      </div>
    </div>
  </div>
</div>
