<div class="d-flex flex">
    <div class="d-flex flex-column flex">
        <div class="navbar flex-nowrap box-shadow">
            <div class="flex">
                <!--<span *ngIf="(orgTaskId)">
                  <a class="btn btn-outline b-a btn-xs b-theme theme text-theme b-primary" [routerLink]="['../']">Clear Search</a>
                  <a class="p-2 active text-success"><i class="fa fa-check text-success d-none"></i> Search applied...</a>
                </span>-->
                <a class="no-shadow">
                    <h6 class="mb-0">Task Schedules</h6>
                    <small class="float-left pl-4"></small>
                </a>
            </div>
            <a class="ml-auto btn btn-outline b-a btn-sm b-theme" (click)="addSchedule()"><i class="fa fa-fw fa-plus"></i>Schedules</a>
        </div>
        <div class="scrollable hover h-100">
            <org-grid [data]="gridData"
                      [options]="gridOptions"
                      (cb)="actionCb($event)"
                      (update)="updateGrid($event)">
            </org-grid>
        </div>
        <div class="pl-3 pr-3 mt-auto">
            <org-grid-pagination [count]="gridOptions?.total" [perPage]="coreState?.take"
                                 [page]="coreState?.page" (cb)="moveToPage($event)">
            </org-grid-pagination>
        </div>
    </div>
</div>